.section_footer{
    padding-top: 50px;
    display: block;
    @media screen and (max-width:999px) {
        display: none;
    } 
    .grid{
        max-width: 1440px;
        margin: 0 auto;
       
    }
    .top{
        display: flex;
        justify-content: space-between;
        padding-bottom: 50px;
        .section_footer_col_one{
            display: flex;
            flex-wrap: wrap;
            .section{
                width: calc(100% / 2 );
                &.two{
                    padding: 0 60px;
                    .menu{
                        display: flex;
                        flex-wrap: wrap;
                    }
                    .single_menu{
                        padding-left: 30px;
                        @media screen and (max-width:1200px) {
                            padding-bottom: 25px;
                            width: calc(100% / 3);
                        } 
                       
                        li{
                            color: black;
                            font-size: 14px;
                            font-weight: bold;
                           a{
                            color: black;
                            font-size: 12px;
                            font-weight: normal;
                            line-height: 29px;
                           }
                        }
                    }
                }
            }
           
            .company_social{
                width: 100%;
                h5{
                color: black;
                font-size: 12px;
                font-weight: bold;
                padding-bottom: 10px;
                }
                form{
                    position: relative;
                    width: 350px;
                    height: 40px;
                    // background: rgba(203,201,204,0.1);
                    input{
                        width: 100%;
                        border-radius: 4px;
                        padding: 0 15px;
                        color: black;
                        font-size: 12px;
                        font-weight: normal;
                        background: #efefef;
                        line-height: 40px;
                    }
                    .btn{
                        background: black;
                        border-radius: 4px;
                        color: white;
                        font-size: 12px;
                        line-height: 32px;
                        font-weight: bold;
                        position: absolute;
                        top: 26px;
                        left: 5px;
                        padding: 0 20px;
                        
                    }
                }
                .sm{
                    display: flex;
                    padding-top: 30px;
                    li{
                        padding-left: 10px;
                    }
                }
            }
        }
        .section_footer_col_two{
            .section_one{
                max-width: 260px;
                h4{
                    color: #3b3b3b;
                    font-size: 14px;
                    font-weight: bold;
                    padding-bottom: 15px;
                    p{
                        font-weight: normal;
                        padding-top: 5px;
                    }
                }
                .section_insta{
                    max-width: 260px;
                    .insta_gallery{
                        .sb_instagram_header{
                            padding: 0 !important;
                            height: 0 !important;
                            .sbi_header_link{
                                display: flex !important;
                                flex-direction: row-reverse;
                                width: 100% !important;
                                padding: 0 !important;
                                .sbi_header_text{
                                    width: calc(100% - 10%) !important;
                                    padding: 0 0 0 6px !important;
                                    h3{
                                        font-size: 18px !important;
                                        font-weight: normal !important;
                                        color: white !important;
                                        margin: 0 !important;
                                        width: 100% !important;
                                        padding: 0 !important;
                                    }
                                }
                                .sbi_header_img{
                                    background: transparent;
                                    width: 10% !important;
                                    height: auto !important;
                                    border-radius: 0 !important;
                                    .sbi_new_logo{
                                        margin: 0 !important;
                                        width: 100% !important;
                                        height: 100% !important;
                                        position: relative !important;
                                        left: 0px !important;
                                        top: 0 !important;
                                    }
                                }
                            }
                        }
                        #sbi_images{
                                padding: 0 !important;
                                .sbi_item{
                                    width: calc(100% / 3) !important;
                                    padding: 0 2px 4px !important;
                                    .sbi_photo{
                                        width: 100% !important;
                                        .fa-play{
                                            width: 15px !important;
                                            left: 35px !important;
                                            top: 20px !important;
                                            margin: 0 !important;
                                        }
                                    }
                                }
                        }
                        #sb_instagram .sb_instagram_header .sbi_header_img, .sb_instagram_header .sbi_header_img{
                            margin: 0 !important;
                        }
                        #sb_instagram .sb_instagram_header .sbi_header_text.sbi_no_bio h3, .sb_instagram_header .sbi_header_text.sbi_no_bio h3{
                            margin: 0 !important;
                            padding: 0 !important;
                        }
                        #sb_instagram.sbi_col_4 #sbi_images .sbi_item{
                            padding: 0 2px 4px !important;
                        }
                    }
                }   
            }   
        }
    }
    
    .bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        border-top: 1px solid #7e7e7e;
        .copy_right{
            color: #7e7e7e;
            font-size: 12px;
            font-weight: normal;
            line-height: 29px;
        }
        .powerd{
            color: #7e7e7e;
            font-size: 12px;
            font-weight: normal;
            line-height: 29px;
        }
    }
    
}
.section_footer_mobile{
    display: none;
    background: white;
    padding: 50px 0 20px;
    @media screen and (max-width:999px) {
        display: block;
        padding: 20px;
    } 
    .top{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 30px;
        padding-top: 20px;
        .logo{
           img{
            width: 120px;
           
           }
         }
        .sm{
            display: flex;
            padding-top: 20px;
            justify-content: flex-end;
            li{
                padding-left: 10px;
            }
        }
    }
    .bottom{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-top: 1px solid #ffffff24;
        padding-top: 30px;    
        .company_social{
            width: 100%;
            h5{
            color: black;
            font-size: 12px;
            font-weight: bold;
            padding-bottom: 10px;
            }
            form{
                position: relative;
                height: 40px;
                // background: rgba(203,201,204,0.1);
                input{
                    width: 100%;
                    border-radius: 4px;
                    padding: 14px;
                    color: white;
                    font-size: 12px;
                    font-weight: normal;
                    background: #efefef;
                }
                .btn{
                    background: black;
                    border-radius: 4px;
                    color: white;
                    font-size: 12px;
                    line-height: 32px;
                    font-weight: bold;
                    position: absolute;
                    top: 26px;
                    left: 5px;
                    padding: 0 20px;
                    &:hover{
                        background: #df1a1f;
                    }
                }
            }
           
        }
        .bottom_text{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 30px;
            .copy_right{
                color: #8a8a8a;
                font-size: 12px;
                font-weight: normal;
                line-height: 22px;
            }
            .powerd{
                color: #8a8a8a;
                font-size: 12px;
                font-weight: normal;
                line-height: 29px;
            }
        }
    }
    
}
