.section_header{
    position: relative;
    // background: black;
    // padding: 15px 0 0;
    @media screen and (max-width:999px) {
        display: none;
    } 
    &.checkout{
        @media screen and (max-width:999px) {
            display: block;
        }
        .section_header_col_one{
            background: white;
            box-shadow: 0px 0px 10px 0px #0001041a;
            padding: 15px 0;
        }
        .grid{
            max-width: 1100px;
            .section_top{
                justify-content: space-between;
                display: flex;
                // .dropdown_select{
                //     position: relative; 
                //     a{
                //         transition: all .3s ease;
                //         .sec_lang{
                //             display: flex;
                //             align-items: center;
                //             flex-direction: row-reverse;
                //             img{
                //                 width: 25px;
                //             }
                //             .text{
                //                 font-size: 14px;
                //                 font-weight: bold;
                //                 color: #cbc9cc;
                //                 margin-top: 5px;
                //                 transition: all .3s ease;
                //                 &.lang{
                //                     padding: 0 5px;
                //                 }
                //             }
                //         }
                //         &:hover{
                //             .sec_lang{
                //                 .text{
                //                     transition: all .3s ease;
                //                     color: #b09855;
                //                 }
                //             }
                //         }
                //     }
                   
                // }
                .logo{
                    margin: 0 0 0 50px;
                    img{
                        width: 150px;
                        @media screen and (max-width:999px) {
                           width: 100px;
                        }
                    }
                 }
                 .cart{
                    padding-#{$end}: 5px;
                    cursor: pointer;
                   a{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    color: white;
                    font-size: 16px;
                    font-weight: bold;
                    background: #3a7d44;
                    border-radius: 4px;
                    padding: 7px 18px;
                    border-radius: 22px;
                    min-width: 80px;
                    @media screen and (max-width:770px) {
                       padding: 7px 12px;
                       min-width: 55px;
                    }
                    .section_icon_cart{
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        align-items: center;
                        #cart_total_count{
                            font-size: 18px;
                            @media screen and (max-width:770px) {
                              font-size: 14px;
                             }
                        }
                    }
                    .material-icons{
                        font-size: 30px;
                        @media screen and (max-width:770px) {
                            font-size: 20px;
                        }
                    }
                   }
                }
            }
        }
    }
    .section_header_col_one{
        background: $red;
        .exstra_link{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 10px 0;
            p{
                color: white;
                font-size: 12px;
                font-weight: 600;
                position: relative;
                display: flex;
                align-items: center;
                &::before{
                    content: '';
                    background-image: url(../img/icons/footer_baner_icon.png);
                    width: 25px;
                    height: 25px;
                    background-size: 25px;
                    background-repeat: no-repeat;
                    display: inline-block;
                    margin-#{$start}: 5px;
                  }
                a{
                    font-weight: 900;
                    font-size: 14px;
                }
            }
            ul{
                display: flex;
                align-items: center;
                justify-content: flex-end;
                li{
                    padding-#{$start}: 20px;
                    &:last-child{
                        padding-#{$start}: 0;
                    }
                    a{
                        color: white;
                        font-size: 12px;
                        font-weight: 600;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
    .section_header_col_two{
        .section_top{
            display: flex;
            align-items: center;
            padding: 30px 0;
            .side_right{
                display: flex;
                align-items: center;
                width: 60%;
                .logo{
                   width: 25%;
                }
                .search{
                    width: calc(100% - 25%);
                    position: relative;
                    .sec_search.show{
                        form{
                            &::before{
                               display: none;
                            }
                        }
                    }
                    form{
                        position: relative;
                        #newSearch{
                            width: 100%;
                            border: 2px solid #bcbdc0;
                            padding: 6px 20px;
                            color: black;
                            border-radius: 22px;
                            line-height: 28px;
                            background-image: url(../img/icons/search_icon.png);
                            background-repeat: no-repeat;
                            background-size: 18px;
                            background-position: left 15px center;
                            &:focus{
                                // background: #ff000008;
                                border: 2px solid black;
                                // background-size: 0;
                            }
                            &::-webkit-search-cancel-button {
                                display: none;
                              }
                        }
                        #searchSubmit{
                            font-size: 0;
                            color: #cbc9cc;
                            position: absolute;
                            left: 10px;
                            top: 10px;
                        }
                        // &::before{
                        //    content: 'search';
                        //    @include MaterialFamily;
                        //    font-size: 22px;
                        //    position: absolute;
                        //    color: #bcbdc0;
                        //    left: 12px;
                        //    top: 12px;
                        // }
                    }
                    .search-result{
                        position: absolute;
                        background: white;
                        box-shadow: 0 3px 20px #0000001a;
                        border-radius: 0px 0 4px 4px;
                        width: 100%;
                        padding: 0 15px 10px;
                        z-index: 99999999;
                        display: none;
                        overflow: scroll;
                        overflow-x: hidden;
                        max-height: 400px;
                        &::-webkit-scrollbar {
                            display: none;
                        }
                        .product_widget{
                            position: relative;
                            .product_widget_box{
                                display: flex;
                                align-items: center;
                                border-bottom: 1px solid #e9e8ea;
                                padding: 15px 0;
                                .img{
                                    img{
                                        max-width: 120px;
                                    }
                                }
                                .text {
                                    padding-#{$end}: 12px;
                                    .title{
                                        font-size: 14px;
                                    }
                                    .price{
                                        font-size: 12px;
                                        font-weight: bold;
                                        padding-top: 10px;
                                    }
                                    .price-content {
                                        // position: relative;
                                        display: flex;
                                        flex-direction: column-reverse;
                                        height: 100%;
                                        margin-top: 14px;
                                      
                                          del{
                                            text-decoration: line-through;
                                            font-size: 12px;
                                            // font-weight: 900;
                                            opacity: 1;
                                            color: black;
                                            display: block;
                          
                                            span{
                                              color: black;
                                            }
                                          }
                                          ins {
                                              margin-#{$start}: 0;
                                              font-size: 14px;
                                              padding-bottom: 6px;
                                              display: block;
                                              span{
                                                color: black;
                                              }
                                          }
                                          .saved-sale {
                                            display: none;
                                        }
                                    }
                                    .note_discount{
                                        position: absolute;
                                        top: 10px;
                                        left: 10px;
                                        font-size: 12px;
                                        font-weight: 900;
                                        color: white;
                                        background: #ed2227;
                                        padding: 5px;
                                        border-radius: 4px;
                                        @media screen and (max-width:767px) {
                                          font-size: 10px;
                                        } 
                                      }
                                }
                            }
                            // &:first-child{
                            //     .product_widget_box{
                            //             padding: 0 0 15px;
                            //     }
                            // }
                            &:last-child{
                                .product_widget_box{
                                    border: 0;
                                }
                            }
                           
                        }
                        .emty_filter{
                            text-align: center;
                            font-size: 13px;
                            font-weight: bold;
                            color: black;
                            padding: 10px 0 6px;
                            p{
                                padding-top: 10px;
                            }
                        }
                        &.show{
                            display: block;
                        }
                    }
                }
            }
            .side_left{
                width: calc(100% - 60%);
                display: flex;
                align-items: center;
                justify-content: end;
                .track_order{
                    a{
                        display: block;
                        color: black;
                        font-size: 13px;
                        font-weight: 700;
                        border-radius:22px;
                        padding: 20px 15px;
                        line-height: 0;
                        border: 2px solid black;
                        transition: all .3s ease;
                        &:hover{
                            border: 2px solid $red;
                            color: $red;
                        }
                    }
                }
                .wishlist{
                    padding: 0 10px;
                    a{
                        display: block;
                        border-radius: 22px;
                        border: 2px solid black;
                        transition: all .3s ease;
                        &:hover{
                            border: 2px solid $red;
                        }
                        span{
                            color: $red;
                            font-size: 24px;
                            padding: 8px 8px;
                        }
                    }
                   
                }
                .my_account{
                    // display: flex;
                    // align-items: center;
                    // justify-content: center;
                    // 
                    // border: 2px solid black;
                    // padding-top: 6px;
                    // padding-bottom: 6px;
                    // padding-#{$end}: 10px;
                    // padding-#{$start}: 25px;
                    background: transparent;
                    position: relative;  
                    cursor: pointer;
                    p{
                        color: black;
                        font-size: 12px;
                        font-weight: bold;
                    }
                    img{
                        margin-left: 5px;
                        width: 25px;
                        border-radius: 50px;
                    }
                   
                    .title_myaccount{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: black;
                        font-size: 13px;
                        font-weight: 600;
                        position: relative;
                        border: 2px solid black;
                        padding-top: 6px;
                        padding-bottom: 6px;
                        padding-#{$end}: 10px;
                        padding-#{$start}: 25px;
                        transition: all .3s ease;
                        border-radius: 22px;
                        &::before {
                            content: "";
                            background-image: url(../img/icons/arrow_down_black.png);
                            background-size: 8px;
                            background-repeat: no-repeat;
                            width: 9px;
                            height: 9px;
                            position: absolute;
                            left: 10px;
                            top: 18px;
                            font-weight: 400;
                            color: black;
                        }
                        &.login{
                            line-height: 20px;
                            padding: 10px 10px 11px;
                            &:hover{
                                border: 2px solid $red;
                                color: $red;
                            }
                            &::before {
                                display: none;
                            }
                        }
                        // &.active{
                        //     &::before {
                        //         transform: rotate(180deg);
                        //       }
                        // }
                    }
                    .my_account_list{
                        display: none;
                        background: white;
                        position: absolute;
                        z-index: 99;
                        top: 40px;
                        width: 100%;
                        border-radius:12px;
                        padding: 14px 0;
                        padding-top: 0 !important;
                        max-height: 144px !important;
                        border: 2px solid black;
                        ul{
                            li{
                                transition: all .3s ease;
                                &:first-child{
                                    a{
                                        padding-top: 15px;
                                    }
                                }
                                &:last-child{
                                    a{
                                        padding-bottom: 0;
                                    }
                                }
                                a{
                                    padding-#{$end}: 10px ;
                                    padding-top: 5px;
                                    padding-bottom: 10px;
                                    font-size: 11px;
                                    font-weight: 600;
                                    display: block;
                                    color: black;
                                }
                                &:hover{
                                    a{
                                        color: $red;
                                    }
                                }
                                &.active{
                                    a{
                                        color: $red;
                                    }
                                }
                            }
                        }
                    }
                }
                .cart{
                    padding-#{$end}: 5px;
                    cursor: pointer;
                   a{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    color: white;
                    font-size: 16px;
                    font-weight: bold;
                    background: #3a7d44;
                    border-radius: 4px;
                    padding: 7px 18px;
                    border-radius: 22px;
                    min-width: 80px;
                    .section_icon_cart{
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        align-items: center;
                        #cart_total_count{
                            font-size: 18px;
                        }
                    }
                    .material-icons{
                        font-size: 30px;
                    }
                   }
                }
            }
        }
    }
    .section_header_col_three{
        background: black;
        .section_bottom{
            .main-nav {
                width: 100%;
                .main-menu {
                  white-space: nowrap;
                  display: flex;
                  justify-content: flex-start;
                  position: static;
                  .single_menu {
                    display: inline-block;
                    vertical-align: middle;
                    color: White;
                    position: static;
                    padding-#{$start}: 30px;
                    transition: all .3s ease;
                    &:last-child{
                        padding-#{$start}: 0px;
                        .category_link{
                            color: $red;
                        }
                    }
                    .category_link {
                      font-size: 16px;
                      display: block;
                      position: relative;
                      text-transform: uppercase;
                      font-weight: 600;
                      padding: 15px 0;
                      border-bottom: 4px solid transparent;
                      &:hover{
                          border-bottom: 4px solid $red;
                      }
                    }
                    &.has-mega {
                        position: relative;
                        &:hover {
                            // color: $Yellow;
                            .mega-menu {
                              pointer-events: auto;
                              opacity: 1;
                              margin-top: 0;
                              padding-top: 0;
                            }
                          }
                      & > a {
                        position: relative;
                        padding-#{$start}: 20px;
                            &::before {
                                content: "";
                                background-image: url(../img/icons/arrow_down_white.png);
                                color: inherit;
                                position: absolute;
                                left: 0;
                                top: 65%;
                                margin-top: -10px;
                                line-height: 20px;
                                font-weight: 400;
                                background-size: 9px;
                                background-repeat: no-repeat;
                                width: 10px;
                                height: 10px;
                                transition: all .3s ease;
                            }
                      }
                      .mega-menu{
                        // margin-top: -10px;
                        z-index: 999;
                        // transition: all .4s ease;
                        background: #ffffff;
                        box-shadow: 0 4px 15px 0 #0000001a;
                        border-radius: 4px;
                        width: max-content;
                        min-width: 200px;
                        position: absolute;
                        top: 50px;
                        margin-right: -4px !important;
                        right: calc(100% - 130px);
                        pointer-events: none;
                        display: none;
                        &.active{
                            display: block;
                        }
                        .box{
                            padding: 20px 20px 20px 0;
                            width: 100%;
                            .list_subcategory{
                                .col{
                                    &:last-child{
                                        h3{
                                            padding-bottom: 0;
                                        }
                                    }
                                    h3{
                                        color: #121212;
                                        font-size: 15px;
                                        line-height: 36px;
                                        font-weight: bold;
                                        // padding-bottom: 20px;
                                        transition: all .3s ease;
                                        border-left: 2px solid transparent;
                                    }
                                    &:hover{
                                        h3{
                                            color: $red;
                                            border-left: 2px solid $red;
                                        }
                                    }
                                    // .subcategory{
                                    //     display: inline-block;
                                    //     vertical-align: top;
                                    //     &.more{
                                    //         padding-#{$end}: 40px;
                                    //     }
                                    //     li{
                                    //        a{
                                    //         color: #000000;
                                    //         font-size: 14px;
                                    //         font-weight: normal;
                                    //         line-height: 26px;
                                    //         padding: 0px 0px 10px 0;
                                            
                                    //        } 
                                    //        &:hover{
                                    //            a{
                                    //             text-decoration: underline;
                                    //            }
                                    //     }
                                    //     }
                                    // }
                                }
                            }
                        }
                      }
                    }
                    &:hover{
                        .category_link {
                            border-bottom: 4px solid $red;
                        }
                    }
                  }
                }
    
            }
        }
    }
}
.section_header_mobile{
    display: none;    
    @media screen and (max-width:999px) {
      display: block;
    }  
    .section_header_col_one{
        background: $red;
        .exstra_link{
            padding: 10px 0px;
            display: flex;
            justify-content: center;
        }
        p{
            color: white;
            font-size: 12px;
            font-weight: 600;
            position: relative;
            padding: 0 15px;
            margin: 0 auto;
            text-align: center;
            line-height: 20px;
            &::before{
                content: '';
                background-image: url(../img/icons/footer_baner_icon.png);
                width: 20px;
                height: 20px;
                background-size: 20px;
                background-repeat: no-repeat;
                display: inline-block;
                vertical-align: middle;
            }
            a{
                display: block;
                font-weight: 900;
                font-size: 12px;
            }
        }
    }
    .section_header_col_two{
        .top_mobile{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            .left{
                display: flex;
                align-items: center;
                .menu_button_mobile{
                    .menu_mobile_icon{
                        i{
                            color: black;
                        }
                        &.open{
                            &.hide{
                                display: none;
                            }
                        }
                        &.close{
                            display: none;
                            &.show{
                                display: block;
                            }
                        }
                    }
                }
                .cart{
                    padding-#{$start}: 10px;
                   a{
                    display: block;
                    background: #3a7d44;
                    border-radius:22px;
                    padding: 8px 25px 8px 15px;
                    transition: all .3s ease;
                    &:hover{
                        background: #5c502b2e;
                    }
                    .section_icon_cart{
                        position: relative;
                        display: flex;
                        justify-content: center;
                        .material-icons{
                            color: white;
                            font-size: 21px;
                        }
                        #cart_total_count {
                            color: white;
                            font-size: 16px;
                            font-weight: bold;
                            position: absolute;
                            top: 0;
                            #{$end}: -20px;
                            width: 18px;
                            text-align: #{$start};
                        }
                    }
                   }
                }
                .section_search{
                    // width: calc(100% - 25%);
                    // position: relative;
                    padding-#{$start}: 15px;
                    .icon{
                        .open{

                        }
                        .close{
                            display: none;
                        }
                    }
                    img{
                        max-width: 22px;
                    }
                    .search{
                        position: absolute;
                        background: white;
                        left: 0;
                        right: 0;
                        top: 80px;
                        display: none;
                        padding: 10px;
                        z-index: 99;
                        .sec_search{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            &.show{
                                padding-bottom: 10px;
                                form{
                                    &::before{
                                    display: none;
                                    }
                                }
                            }
                        }
                        .icon{
                            width: 5%;
                            // padding: 4px 30px;
                            img{
                                max-width: 25px;
                            }
                        }
                        form{
                            position: relative;
                            width: calc(100% - 7%);
                            #newSearch{
                                width: 100%;
                                border: 2px solid black;
                                padding: 6px 20px;
                                color: black;
                                border-radius: 22px;
                                line-height: 24px;
                                background-image: url(../img/icons/icon_search.png);
                                background-repeat: no-repeat;
                                background-size: 22px;
                                background-position: left 12px center;
                                &:focus{
                                    width: 100%;
                                    font-size: 13px;
                                    padding: 6px 20px 6px 40px;
                                }
                                &::-webkit-search-cancel-button {
                                    display: none;
                                  }
                            }
                            #searchSubmit{
                                font-size: 0;
                                color: #cbc9cc;
                                position: absolute;
                                left: 10px;
                                top: 10px;
                            }
                        }
                        
                        .search-result{
                            position: absolute;
                            background: white;
                            box-shadow: 0 3px 20px #0000001a;
                            border-radius: 0px 0 4px 4px;
                            width: 100%;
                            padding: 0 15px 10px;
                            z-index: 99999999;
                            display: none;
                            overflow: scroll;
                            overflow-x: hidden;
                            max-height: 400px;
                            width: 100%;
                            left: 0;
                            right: 0;
                            &::-webkit-scrollbar {
                                display: none;
                            }
                            .product_widget{
                                position: relative;
                                .product_widget_box{
                                    display: flex;
                                    align-items: center;
                                    border-bottom: 1px solid #e9e8ea;
                                    padding: 15px 0;
                                    .img{
                                        img{
                                            max-width: 120px;
                                        }
                                    }
                                    .text {
                                        padding-#{$end}: 12px;
                                        .title{
                                            font-size: 14px;
                                        }
                                        .price{
                                            font-size: 12px;
                                            font-weight: bold;
                                            padding-top: 10px;
                                        }
                                        .price-content {
                                            // position: relative;
                                            display: flex;
                                            flex-direction: column-reverse;
                                            height: 100%;
                                            margin-top: 14px;
                                          
                                              del{
                                                text-decoration: line-through;
                                                font-size: 12px;
                                                // font-weight: 900;
                                                opacity: 1;
                                                color: black;
                                                display: block;
                              
                                                span{
                                                  color: black;
                                                }
                                              }
                                              ins {
                                                  margin-#{$start}: 0;
                                                  font-size: 14px;
                                                  padding-bottom: 6px;
                                                  display: block;
                                                  span{
                                                    color: black;
                                                  }
                                              }
                                              .saved-sale {
                                                display: none;
                                            }
                                        }
                                        .note_discount{
                                            position: absolute;
                                            top: 10px;
                                            left: 10px;
                                            font-size: 12px;
                                            font-weight: 900;
                                            color: white;
                                            background: #ed2227;
                                            padding: 5px;
                                            border-radius: 4px;
                                            @media screen and (max-width:767px) {
                                              font-size: 10px;
                                            } 
                                          }
                                    }
                                }
                                // &:first-child{
                                //     .product_widget_box{
                                //             padding: 0 0 15px;
                                //     }
                                // }
                                &:last-child{
                                    .product_widget_box{
                                        border: 0;
                                    }
                                }
                               
                            }
                            &.show{
                                display: block;
                            }
                            .emty_filter{
                                text-align: center;
                                p{
                                    font-size: 12px;
                                    padding-top: 10px;
                                }
                            }
                        }
                    }
                    &.active{
                        .icon{
                                .open{
                                    display: none;
                                }
                                .close{
                                    display: block;
                                }
                        }
                        .new_search{
                            .sec_search{
                                .icon{
                                    .close{
                                        display: block;
                                    }
                            }
                            }
                        }
                        // .search{
                        //         transform: translateY(0);
                        //         display: block;
                        // }
                    }
                }
            }
        }
    }
    .section_header_col_three{
        .section_bottom{
            .main-nav{
                background: black;
                .main-menu{
                    display: flex;
                    white-space: nowrap;
                    overflow: scroll;
                    &::-webkit-scrollbar {
                        display: none;
                    }
                    .single_menu{
                        border-#{$start}: 1px solid white;
                        padding: 0 15px;
                        a{
                            color: #ffffff;
                            font-size: 13px;
                            font-weight: bold;
                            display: block;
                            padding: 10px 0;
                        }
                        &:last-child{
                            border-#{$start}: 0;
                        }
                        &:last-child{
                            a{
                                color: $red;
                            }
                        }
                    }
                }
            }
        }
    }
    
    .mobile-nav {
        position: fixed;
        top: 79px;
        bottom: 0;
        #{$start}: 0;
        width: 100%;
        opacity: 0;
        pointer-events: none;
        background: white;
        z-index: 99999999;
        padding: 0px 0 20px;
        @include transform(translate(-100%, 0));
        @include transition(opacity, 0.2s, ease);
        @include transition(all, 0.4s, ease);
        body.ltr & {
          @include transform(translate(100%, 0));
          #{$end}: auto;
          right: 0;
        }
        &.active {
          opacity: 1;
          pointer-events: auto;
          @include transform(translate(0, 0));
          body.ltr & {
            @include transform(translate(0, 0));
          }
        }
        .mobile-menu {
          overflow: auto;
          height: 100%;
          padding: 20px;
          .main-navigation {
              .menu-main-nav-container{
                padding-bottom: 20px;
                ul.menu {
                    margin: 0;
                    display: block;
                      li.menu-item {
                        padding-bottom: 22px;
                        &:last-child{
                            padding-bottom: 0;
                            a{
                                color: $red;
                            }
                        }
                        a{
                            display: block;
                            color: black;
                            font-size: 16px;
                            font-weight: bold;
                            line-height: 28px;
                        }
                        &.menu-item-has-children {
                            > a {
                                position: relative;
                                &::before {
                                    content: "expand_more";
                                    @include MaterialFamily;
                                    font-size: 20px;
                                    color: inherit;
                                    position: absolute;
                                    left: 0;
                                    top: 50%;
                                    margin-top: -10px;
                                    line-height: 20px;
                                    font-weight: 400;
                                    @include transition (all,0.2s,ease);
                                    body.ltr & {
                                    left: auto;
                                    right: 0;
                                    }
                                }
                            }
                            &.active{
                                > a{
                                    &::before {
                                        content: "chevron_left";
                                        @include transition (all,0.2s,ease);
                                    }
                                    .back_menu{
                                        display: block;
                                    }
                                }
                            }
                            
                            .list_subcategory_mobile{
                                display: none;
                                padding-top: 10px;
                                .col{
                                    // padding: 20px 0 0;
                                    // border-#{$end}: 1px solid #af9751;
                                    // padding-#{$end}: 50px;
                                    // &:first-child{
                                    //     border-#{$end}: 0;
                                    //     padding-#{$end}: 0;
                                    //     padding-#{$start}: 50px;
                                    // }
                                    // &:last-child {
                                    //     padding-#{$start}: 50px   ;
                                    // }

                                    h3{
                                        color: black;
                                        font-size: 14px;
                                        font-weight: 500;
                                        padding-bottom: 15px;
                                    }
                                    // .subcategory{
                                    //     display: inline-block;
                                    //     vertical-align: top;
                                    //     &.more{
                                    //         padding-#{$end}: 40px;
                                    //     }
                                    //     li{
                                    //         a{
                                    //         color: black;
                                    //         font-size: 14px;
                                    //         font-weight: normal;
                                    //         line-height: 26px;
                                    //         padding: 0px 0px 10px 0;
                                            
                                    //         } 
                                    //         &:hover{
                                    //             a{
                                    //             text-decoration: underline;
                                    //             }
                                    //     }
                                    //     }
                                    // }
                                }
                            }
                        }
                    }
                  }
              }
              .supporting_nav{
                  border-top: 1px solid #ad975242;
                  padding-top: 20px;
                  &.more{
                      border-top: 0;
                      padding-top: 0;
                  }
                  ul{
                      li{
                          padding-bottom: 15px;
                          a{
                            color: #989898;
                            font-size: 14px;
                            font-weight: 500;
                            text-align: right;
                            line-height: 28px;
                          }
                      }
                  }
              }
              .more_support_menu{
                  a{
                    color: #989898;
                    font-size: 14px;
                    font-weight: 500;
                    text-align: right;
                    line-height: 28px;
                    padding-bottom: 15px;
                    display: block;
                  }
              }
          }
        }
    }
}
