.page_myaccount{
    padding-top: 100px;
    position: relative;
    @media screen and (max-width:999px) {
       padding-top: 25px;
    } 
    &::before{
        content: '';
        display: inline-block;
        background-image: url('../img/icons/pattern.png');
        background-size: 60px;
        width: 180px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9;
        @media screen and (max-width:770px) {
            display: none;
         } 
      }
    .grid{
        max-width: 1200px;
        position: relative;
        z-index: 99;
        .section_title{
            h1{
                color: #000000;
                font-size: 32px;
                font-weight: bold;
                padding-bottom: 20px;
                @media screen and (max-width:999px) {
                    font-size: 24px;
                }
            }
        }
        .page_content{
            font-size: 0;
            padding-bottom: 150px;
            @media screen and (max-width:770px) {
                padding-bottom: 30px;
            }
            .myaccount_menu{
                display: inline-block;
                width: 19%;
                background: black;
                border-radius: 4px;
                margin-#{$start}: 20px;
                @media screen and (max-width:770px) {
                    width: 100%;
                    margin-#{$start}: 0;
                    margin-bottom: 15px;
                } 
                ul{
                    padding: 20px 0;
                    li{
                        padding-bottom: 20px;
                        padding-right: 20px;
                        overflow: hidden;
                        @media screen and (max-width:999px) {
                            padding-bottom: 10px;
                        } 
                        a{
                            position: relative;
                            display: block;
                            color: white;
                            font-size: 16px;
                            font-weight: bold;
                            line-height: 28px;
                            @media screen and (max-width:999px) {
                                font-size: 14px;
                            } 
                            .border{
                                height: 1px;
                                background: red;
                                display: inline-block;
                                width: 100%;
                                position: absolute;
                                bottom: 8px;
                                margin: 0 5px;
                                opacity: 0;
                            }
                        }
                        &:last-child{
                            padding-bottom: 0;
                            // a{
                            //     color: #afa68a;
                            // }
                        }
                        &.active{
                            position: relative;
                            a{
                                color: red;
                                // .border{
                                //     opacity: 1;
                                // }
                            }
                        }
                    }
                }
            }
            .dashbord{
                position: relative;
                display: inline-block;
                vertical-align: top;
                width: calc(100% - 19% - 20px);
                padding:30px;
                background: #ec26270f;
                border-radius: 4px;
                min-height: 260px;
                @media screen and (max-width:770px) {
                    width: 100%;
                    padding: 20px;
                } 
                .profile_img{
                    padding-top: 40px ;
                }
                .name{
                    color: #000000;
                    font-size: 20px;
                    font-weight: bold;
                    line-height: 36px;
                    @media screen and (max-width:999px) {
                        font-size: 16px;
                    } 
                }
                .user_email{
                    color: #000000;
                    font-size: 20px;
                    font-weight: bold;
                    line-height: 36px;
                    @media screen and (max-width:999px) {
                        font-size: 16px;
                        line-height: 28px;
                    } 
                }
                .table_order{
                    table{
                        tr{
                            th{
                                color: #000000;
                                font-size: 16px;
                                font-weight: bold;
                                line-height: 28px;
                                text-align: start;
                                padding-bottom: 12px;
                                @media screen and (max-width:999px) {
                                    font-size: 14px;
                                } 
                                @media screen and (max-width:770px) {
                                    font-size: 10px;
                                    padding-bottom: 0;
                                    width: 70px;
                                    &:last-child{
                                        width: 30px;
                                    }
                                }
                            }
                            td{
                                color: #000000;
                                font-size: 16px;
                                font-weight: normal;
                                line-height: 28px;
                                border-top: 1px solid #cbc9cc6b;
                                padding: 20px 0;
                                @media screen and (max-width:999px) {
                                    font-size: 14px;
                                    padding: 10px 0;
                                } 
                                @media screen and (max-width:770px) {
                                    font-size: 10px;
                                    line-height: 18px;
                                }
                                &.table_action{
                                    display: flex;
                                    justify-content: space-between;
                                    margin-top: -1px;
                                    @media screen and (max-width:770px) {
                                        display: block;
                                        width: 100%;
                                        text-align: #{$start};
                                    }
                                    button{
                                        transition: all .3s ease;
                                        &:hover{
                                            transform: scale(1.05);
                                        }
                                    }
                                    .show{
                                        width: 100%;
                                        display: inline-block;
                                        margin-left: 5px;
                                        background: #000000;
                                        border-radius: 4px;
                                        color: #ffffff;
                                        font-size: 14px;
                                        font-weight: bold;
                                        text-transform: uppercase;
                                        padding: 1px 10px 3px;
                                        line-height: 31px;
                                        @media screen and (max-width:999px) {
                                            padding: 2px 0 0;
                                            font-size: 12px;
                                        } 
                                        @media screen and (max-width:770px) {
                                            max-width: 50px;
                                            margin: 0 auto;
                                            width: 100%;
                                            margin: 0 auto;
                                            background: transparent;
                                            font-size: 10px;
                                            color: #8b8b89;
                                            line-height: 11px;
                                            text-align: #{$start};
                                        }
                                    }
                                    .remove{
                                        width: 48%;
                                        display: inline-block;
                                        background: #dfdeda;
                                        border-radius: 4px;
                                        color: #7f7f7d;
                                        font-size: 14px;
                                        font-weight: bold;
                                        text-transform: uppercase;
                                        padding: 5px 10px 0;
                                        text-align: center;
                                        @media screen and (max-width:999px) {
                                            padding: 2px 0 0;
                                            font-size: 12px;
                                        } 
                                        @media screen and (max-width:770px) {
                                            max-width: 50px;
                                            width: 100%;
                                            margin: 0 auto;
                                            text-align: #{$start};
                                            color: #980101;
                                            background: transparent;
                                            font-size: 10px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .emty_order_list{
                        position: relative;
                        height: 200px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        P{
                            color: black;
                            text-align: center;
                            font-size: 18px;
                            width: 100%;
                            font-weight: 600;
                        }
                    }
                }
                .order_expanded{
                    .section_title{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding-bottom: 20px;
                        @media screen and (max-width:770px) {
                            padding-bottom: 15px;
                            flex-direction: column;
                            align-items: flex-start;
                        }
                        .title{
                            color: #000000;
                            font-size: 26px;
                            font-weight: bold;
                            line-height: 38px;
                            @media screen and (max-width:770px) {
                                font-size: 14px;
                                line-height: 28px;
                            }
                            p{
                                color: #020502;
                                font-size: 16px;
                                font-weight: normal;
                                line-height: 26px;
                                @media screen and (max-width:770px) {
                                   font-size: 12px;
                                }
                            }
                        }
                        .total{
                            color: #000000;
                            font-size: 16px;
                            font-weight: bold;
                            line-height: 28px;
                            @media screen and (max-width:770px) {
                                font-size: 14px;
                                line-height: 26px;
                                padding-top: 15px;
                            }
                            span{
                                color: #020502;
                                font-size: 16px;
                                font-weight: normal;
                                display: block;
                                @media screen and (max-width:770px) {
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                    .section_item{
                        .item_list{
                            background: #faf9f6;
                            padding: 20px;
                            .single_item{
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                border-top: 1px solid #cbc9cc6b;
                                padding: 20px 0;
                                @media screen and (max-width:770px) {
                                    flex-direction: column;
                                    align-items: flex-start;
                                }
                                &:first-child{
                                    border-top: 0;
                                    padding: 0;
                                    padding-bottom: 15px;
                                }
                                &:last-child{
                                    padding: 20px 0 0;
                                }
                                .sec_item{
                                    display: flex;
                                    align-items: center;
                                    width: calc(100% - 50%);
                                    @media screen and (max-width:770px) {
                                        width: 100%;
                                    }
                                    .img{
                                        img{
                                            border-radius: 2px;
                                            @media screen and (max-width:770px) {
                                                width: 80px !important;
                                                height: 80px !important;
                                            }
                                        }
                                    }
                                    .info{
                                        display: flex;
                                        justify-content: space-between;
                                        align-items: center;
                                        padding-right: 15px;
                                        width: calc(100% - 10%);
                                        @media screen and (max-width:770px) {
                                            flex-direction: column;
                                            align-items: flex-start;
                                        }
                                        .text{
                                            h4{
                                                color: #121212;
                                                font-size: 18px;
                                                font-weight: bold;
                                                line-height: 20px;
                                                @media screen and (max-width:770px) {
                                                    font-size: 13px;
                                                }
                                            }
                                            ul{
                                                display: flex;
                                                padding: 10px 0;
                                                @media screen and (max-width:415px) {
                                                    white-space: nowrap;
                                                    overflow: scroll;
                                                    width: 160px;
                                                }
                                                li{
                                                    color: #6c707d;
                                                    font-size: 14px;
                                                    font-weight: 500;
                                                    line-height: 14px;
                                                    border-left: 1px solid #97979770;
                                                    padding: 0 6px;
                                                    @media screen and (max-width:770px) {
                                                        font-size: 11px;
                                                    }
                                                    &:first-child{
                                                        padding: 0 0 0 3px;
                                                    }
                                                    &:last-child{
                                                        border-left: 0;
                                                        padding: 0 3px 0 0;
                                                    }
                                                }
                                            }
                                            a{
                                                color: #6c707d;
                                                font-size: 13px;
                                                font-weight: 500;
                                                line-height: 20px;
                                            }
                                        }
                                        p{
                                            color: #000104;
                                            font-size: 14px;
                                            font-weight: bold;
                                            @media screen and (max-width:770px) {
                                                padding-top: 8px;
                                            }
                                        }
                                    }
                                }
                                .count{
                                    color: #6c707d;
                                    font-size: 16px;
                                    font-weight: 500;
                                    line-height: 20px;
                                    @media screen and (max-width:770px) {
                                        padding: 5px 0;
                                        font-size: 12px;
                                    }
                                }
                                .total_price{
                                    color: #000104;
                                    font-size: 14px;
                                    font-weight: bold;
                                    @media screen and (max-width:770px) {
                                        font-size: 13px;
                                    }
                                }
                            }
                        }
                        // button{
                        //     width: 250px;
                        //     background: black;
                        //     color: white;
                        //     font-size: 20px;
                        //     font-weight: bold;
                        //     line-height: 36px;
                        //     padding: 4px 0;
                        //     border-radius: 4px;
                        //     margin: 30px 0;
                        // }
                        a{
                            width: 250px;
                            background: black;
                            color: white;
                            font-size: 20px;
                            font-weight: bold;
                            line-height: 36px;
                            padding: 8px 0 4px;
                            border-radius: 4px;
                            margin: 30px 0;
                            display: block;
                            text-align: center;
                            @media screen and (max-width:770px) {
                                width: 150px;
                                font-size: 14px;
                                line-height: 29px;
                                margin: 20px 0;
                            }
                        }
                    }
                    .section_info{
                        .info{
                            padding: 25px 0;
                            border-top: 1px solid #cbc9cc6b;
                            @media screen and (max-width:770px) {
                                padding: 18px 0;
                            }
                            h5{
                             color: #121212;
                             font-size: 19px;
                             font-weight: bold;
                             padding-bottom: 8px;
                             @media screen and (max-width:770px) {
                               font-size: 14px;
                            }
                            }
                            p{
                                color: #000000;
                                font-size: 16px;
                                font-weight: normal;
                                line-height: 28px;
                                @media screen and (max-width:770px) {
                                    font-size: 13px;
                                    line-height: 21px;
                                }
                                +p{
                                    padding-top: 5px;
                                }
                            }
                            &.total{
                                p{
                                    font-weight: bold;
                                    font-size: 21px;
                                    @media screen and (max-width:770px) {
                                        font-size: 16px;
                                    }
                                }
                            }
                        }
                    }
                }
                .section_addresses{
                    .address{
                        h5{
                            color: #121212;
                            font-size: 19px;
                            font-weight: bold;
                            padding-bottom: 8px;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            @media screen and (max-width:770px) {
                               font-size: 14px;
                            } 
                            a{
                                background: $red;
                                line-height: 24px;
                                padding: 5px 10px;
                                color: white;
                                font-size: 11px;
                                transition: all .4s ease;
                                @media screen and (max-width:770px) {
                                    line-height: 22px;
                                    padding: 3px 5px 0px;
                                    font-size: 10px;
                                } 
                                &:hover{
                                    background: #df1a1f;
                                }
                            }
                        }
                        .single_address{
                            padding: 10px 0;
                            border-bottom: 1px solid #af975152;
                            @media screen and (max-width:770px) {
                               padding: 10px 0;
                            } 
                            +.single_address{
                                padding: 20px 0;
                                @media screen and (max-width:770px) {
                                    padding: 10px 0 20px;
                                 } 
                            }
                            .text_addres{
                                color: #000000;
                                font-size: 16px;
                                font-weight: normal;
                                line-height: 28px;
                                @media screen and (max-width:770px) {
                                    font-size: 12px;
                                    line-height: 22px;
                                } 
                            }
                            .adddres_action{
                                display: flex;
                                align-items: center;
                                padding-top: 10px;
                                .s_action{
                                    position: relative;
                                    font-size: 12px;
                                    font-weight: bold;
                                    cursor: pointer;
                                    margin-#{$end}: 15px;
                                    @media screen and (max-width:770px) {
                                        font-size: 9px;
                                    } 
                                    &::before{
                                        position: absolute;
                                        font-family: "Material Icons";
                                        font-size: 12px;
                                        #{$end}: -5px;
                                        top: 0px;
                                        display: inline-flex;
                                        align-items: center;
                                        @media screen and (max-width:770px) {
                                           font-size: 10px;
                                           #{$end}: -12px;
                                        } 
                                    }
                                    &.edit{
                                        color: #9e9d98;
                                        &::before {
                                            content: "edit";
                                            color: #9e9d98;
                                            #{$end}: -15px;
                                        }
                                    }
                                    &.delete{
                                        color: #eb1414;
                                        padding-#{$end}: 10px;
                                        margin-#{$end}: 20px;
                                        @media screen and (max-width:770px) {
                                            padding-#{$end}: 2px;
                                        }
                                        &::before {
                                            content: "delete";
                                            color: #eb1414;
                                        }
                                    }
                                }
                            }
                            
                            &:last-child{
                                border-bottom: 0;
                            }
                        }
                        &.basic{
                            border-bottom: 1px solid #cbc9cc6b;
                        }
                        &.all{
                            padding-top: 30px;
                            @media screen and (max-width:770px) {
                                padding-top: 20px;
                            } 
                        }
                    }
                }
                .note_address{
                    color: $red;
                    font-size: 14px;
                    font-weight: bold;
                    line-height: 26px;
                    padding-top: 20px;
                    @media screen and (max-width:770px) {
                        font-size: 12px;
                        padding-top: 10px;
                        line-height: 20px;
                    } 
                }
                .profile_edit{
                    max-width: 500px;
                    .top{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        max-width: 150px;
                        .edit_img_pro{
                            position: relative;
                            font-size: 12px;
                            color: #9e9d98;
                            font-weight: bold;
                            cursor: pointer;
                            &::before {
                            content: "edit";
                            position: absolute;
                            font-family: "Material Icons";
                            font-size: 14px;
                            right: -17px;
                            top: -2px;
                            color: #9e9d98;
                            display: inline-flex;
                            align-items: center;
                            }
                        }
                    }
                    form{
                        padding: 40px 0 30px;
                        .field{
                            display: inline-block;
                            width: calc(100% / 2);
                            padding: 0 5px 25px;
                            &:last-child{
                                padding-bottom: 0;
                            }
                            &.full{
                              width: 100%;
                            }
                            &.select_arrow{
                              position: relative;
                              select{
                                  width: 100%;
                                  font-size: 12px;
                                  font-weight: 500;
                                  padding: 8px 10px;
                                  cursor: pointer;
                                  background: white;
                                  border: 1px solid #c1c9d2;
                                  border-radius: 4px;
                                  height: 44px;
                              }
                              &::before {
                                  content: "expand_more";
                                  @include MaterialFamily;
                                  font-size: 12px;
                                  position: absolute;
                                  color: #414241;
                                  top: 35px;
                                  left: 15px;
                                  cursor: pointer;
                                  pointer-events: none; 
                              }
                            }
                            label{
                                color: #414241;
                                font-size: 13px;
                                font-weight: bold;
                                padding-bottom: 6px;
                                span{
                                    color: red;
                                    font-size: 12px;
                                }
                            }
                            input{
                                background: #ffffff;
                                border: 1px solid #c1c9d2;
                                border-radius: 4px;
                                color: #414241;
                                font-size: 14px;
                                width: 100%;
                                padding: 10px;
                                
                            }
                           
                        }
                        button{
                            background: black;
                            border-radius: 2px;
                            width: 100%;
                            padding: 15px 0;
                            color: rgb(255, 255, 255);
                            font-size: 20px;
                            font-weight: bold;
                            transition: all .3s ease;
                            // &:hover{
                            //     background: #8f7643;
                            // }
                        }           
                    }
                }
                .form_cancel{
                    .section_title{
                        h2{
                            color: #000000;
                            font-size: 26px;
                            font-weight: bold;
                            line-height: 38px;
                            @media screen and (max-width:770px) {
                               font-size: 18px;
                               line-height: 28px;
                            } 
                        }
                        h3{
                            color: #63001e;
                            font-size: 26px;
                            font-weight: bold;
                            line-height: 38px;
                        }
                        p{
                            color: #020502;
                            font-size: 16px;
                            font-weight: normal;
                            line-height: 26px;
                            @media screen and (max-width:770px) {
                                font-size: 11px;
                            }
                        }
                    }
                    form{
                        max-width: 300px;
                        padding-top: 20px;
                        @media screen and (max-width:770px) {
                            max-width: 100%;
                        }
                        .field{
                            display: inline-block;
                            width: 100%;
                            padding: 0 5px 25px;
                            &:last-child{
                                padding-bottom: 0;
                            }
                            &.select_arrow{
                              position: relative;
                              select{
                                  width: 100%;
                                  font-size: 12px;
                                  font-weight: 500;
                                  padding: 8px 10px;
                                  cursor: pointer;
                                  background: white;
                                  border: 1px solid #c1c9d2;
                                  border-radius: 4px;
                                  height: 44px;
                              }
                              &::before {
                                  content: "expand_more";
                                  @include MaterialFamily;
                                  font-size: 12px;
                                  position: absolute;
                                  color: #414241;
                                  top: 35px;
                                  left: 15px;
                                  cursor: pointer;
                                  pointer-events: none; 
                              }
                            }
                            label{
                                color: #414241;
                                font-size: 13px;
                                font-weight: bold;
                                padding-bottom: 6px;
                                @media screen and (max-width:770px) {
                                    font-size: 12px;
                                }
                                span{
                                    color: red;
                                    font-size: 12px;
                                }
                            }
                            input{
                                background: #ffffff;
                                border: 1px solid #c1c9d2;
                                border-radius: 4px;
                                color: #414241;
                                font-size: 14px;
                                width: 100%;
                                padding: 10px;
                            }
                           
                        }
                        button{
                            background: #63001e;
                            border-radius: 4px;
                            max-width: 130px;
                            width: 100%;
                            padding: 15px 0;
                            color: #ffffff;
                            font-size: 15px;
                            font-weight: bold;
                            transition: all .3s ease;
                            @media screen and (max-width:770px) {
                                padding: 13px 0 11px;
                                font-size: 14px;
                            }
                            &:hover{
                                background: #57011b;
                            }
                        }   
                    }
                    .more_action{
                        display: flex;
                        position: absolute;
                        #{$end}: 0;
                        bottom: -35px;
                        @media screen and (max-width:770px) {
                            bottom: -28px;
                        }
                        .order{
                            color: #37000f;
                            font-size: 12px;
                            font-weight: bold;
                            padding-left: 20px;
                            text-decoration: underline;
                        }
                    }
                    .remove_order_done{
                        color: #258a10;
                        font-size: 20px;
                        font-weight: bold;
                        padding-top: 20px;
                    }
                }
            }
        }
    }
}