.product_container{
  .products_list{
    display: flex;
    margin: 0 -15px;
    flex-wrap: wrap;
    @media screen and (max-width:770px) {
      margin: 0;
    }
    .product_widget{
      width: calc(100% / 3);
      // height: 310px;
      padding: 0 10px 20px;
      position: relative;
      @media screen and (max-width:770px) {
        width: calc(100% / 2);
        padding-bottom: 14px;
      }
      // @media screen and (max-width:479px) {
      //   width: 100%;
      // }  
      .favourite,.not-favourite{
        position: absolute;
        top: 10px;
        #{$start}: 20px;
        cursor: pointer;
        z-index: 9;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #ffffff;
        @media screen and (max-width:770px) {
         width: 20px;
         height: 20px;
        } 
      }
      .favourite{
        &::before{
          content: "favorite";
          @include MaterialFamily;
          font-size: 20px;
          position: absolute;
          #{$start}: 5px;
          top: 5px;
          color: #63001e;
          @media screen and (max-width:770px) {
           font-size: 12px;
           #{$start}: 4px;
          } 
        }
      }
      .not-favourite{
        transition: all .3s ease;
        &::before{
          content: "favorite_border";
          @include MaterialFamily;
          font-size: 20px;
          position: absolute;
          #{$start}: 5px;
          top: 5px;
          opacity: 0.6;
          color: #5b5b5b;
          @media screen and (max-width:770px) {
            font-size: 12px;
            #{$start}: 4px;
           } 
        }
        &:hover{
          &::before{
            opacity: 1;
          }
        }
      }
      .product_widget_box{
        position: relative;
        display: block;
        border-radius: 12px;
        transition: all 0.3s ease;
        box-shadow: 0px 0px 10px rgb(0 0 0 / 16%);
        &:hover{
          transform: scale(1.02);
        }
        &::before {
          content: "favorite_border";
          @include MaterialFamily;
          font-size: 24px;
          position: absolute;
          color: #63001e;
          top: 5px;
          left: 5px;
          cursor: pointer;
          pointer-events: none; 
         
        }
        .img{
          // height: 100%;
          position: relative;
          font-size: 0;
          // &::before{
          //   content: '';
          //   position: absolute;
          //   // background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 50%, #000000 100%);
          //   // background: linear-gradient(180deg, hsla(0, 0%, 0%, 0) 70%, hsla(0, 0%, 0%, 0.549) 100%);
          //   background: linear-gradient(180deg, #00000000 60%, #000000f0 100%);
          //   top: 0;
          //   bottom: 0;
          //   right: 0;
          //   left: 0;
          //   display: block;
          //   z-index: 9;
          //  }
          img{
            width: 100%;
            height: 100%;
            border-radius: 12px;
          }
        }
        .text{
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 25px 10px;
          border-top: 1px solid #EBEBEB;
          margin: 0 10px;
          min-height: 100px;
          .sec_info{
            width: 80%;
            // padding-#{$end}: 20px;
            @media screen and (max-width: 770px) {
              width: 100%;
            }
            // @media screen and (max-width: 770px) {
            //   padding-#{$end}: 0;
            // }
            .title{
              font-size: 18px;
              font-weight: 600;
              display: flex;
              justify-content: space-between;
              align-items: center;
              @media screen and (max-width: 770px) {
               font-size: 18px;
              }
              @media screen and (max-width:770px) {
               font-size: 14px;
               line-height: 20px;
              } 
              // span{
              //   width: 30px;
              //   @media screen and (max-width:770px) {
              //     width: 20px;
              //   } 
              // }
            }
            .price{
              font-size: 14px;
              padding-top: 8px;
              @media screen and (max-width:770px) {
                font-size: 10px;
              } 
            }
            // .price-content {
            //   position: relative;
            //   display: flex;
            //   flex-direction: row-reverse;
            //   justify-content: space-between;
            //   align-items: center;
            //   flex-wrap: wrap;
            //   height: 100%;
            //   margin-top: 5px;
            
            //   .price {
            //     display: flex;
            //     flex-direction: column-reverse;
            //     del{
            //       text-decoration: line-through;
            //       font-size: 14px;
            //       font-weight: 900;
            //       opacity: 1;
            //       color: red;
            //       span{
            //         color: #d4625d;
            //       }
            //     }
            //     ins {
            //         margin-#{$start}: 0;
            //         font-size: 18px;
            //         padding-bottom: 6px;
            //         span{
            //           color: #4caf50;
            //         }
            //     }
            //   }
            //   .price-sale {
            //       display: inline-flex;
            //       align-items: center;
            //       // position: absolute;
            //       // bottom: 41px;
            //       // #{$end}: 4px;
            //       span {
            //           display: inline-block;
            //           position: relative;
            //           color: white;
            //           font-size: 12px;
            //           font-weight: bold;
            //           line-height: 20px;
            //           padding: 0 5px;
            //           margin-#{$start}: 8px;
            //           body.ltr & {
            //               text-transform: uppercase;
            //           }
            //           @media (max-width: 767px) {
            //               font-size: 8px;
            //               line-height: 16px;
            //               padding: 0 3px;
            //               margin-#{$start}: 3px;
            //           }
            //           &::after {
            //               content: "";
            //               background-color: #4caf50;
            //               opacity: 0.2;
            //               position: absolute;
            //               #{$end}: 0;
            //               #{$start}: 0;
            //               top: 50%;
            //               height: 12px;
            //               margin-top: -5px;
            //               pointer-events: none;
            //               body.ltr & {
            //                   margin-top: -6px;
            //               }
            //               @media (max-width: 767px) {
            //                   margin-top: -6px;
            //               }
            //           }
            //       }
            //   }
            // }   
            .price-content {
              display: flex;
              align-items: center;
              margin-top: 14px;
              @media screen and (max-width:770px) {
                margin-top: 8px;
              } 
              del{
                margin-#{$start}: 10px;
                text-decoration: line-through;
                font-size: 13px;
                opacity: 1;
                color: #F7474F;
                display: block;
                @media screen and (max-width:770px) {
                  font-size: 12px;
                } 
                span{
                  color: #F7474F;
                }
              }
              ins {
                  font-size: 18px;
                  display: block;
                  @media screen and (max-width:770px) {
                    font-size: 14px;
                  } 
                  span{
                    color: black;
                  }
              }
              .saved-sale {
                display: none;
                position: absolute;
                color: black;
                font-size: 12px;
                font-weight: bold;
                line-height: 20px;
                padding: 0 5px;
                #{$end}: 115px;
                bottom: -2px;
                body.ltr & {
                    text-transform: uppercase;
                }
                @media screen and (max-width: 767px) {
                  #{$end}: auto;
                  #{$start}: 0;
                  font-size: 10px;
                }
                &::after {
                    content: "";
                    background-color: #4caf50;
                    position: absolute;
                    #{$end}: 0;
                    #{$start}: 0;
                    top: 50%;
                    height: 18px;
                    margin-top: -8px;
                    pointer-events: none;
                    z-index: -1;
                    body.ltr & {
                        margin-top: -6px;
                    }
                    @media (max-width: 767px) {
                      margin-top: -9px;
                    }
                }
              }
              
            }
            .note_discount{
              position: absolute;
              top: 10px;
              left: 10px;
              font-size: 12px;
              font-weight: 900;
              color: white;
              background: #ed2227;
              padding: 5px;
              border-radius: 4px;
              @media screen and (max-width:767px) {
                font-size: 10px;
              } 
            }
            .product_label{
              display: flex;
              flex-direction: column;
              row-gap: 5px;
              .note_branch{
                position: absolute;
                top: 10px;
                right: 10px;
                font-size: 12px;
                font-weight: 900;
                color: white;
                background: #ed2227;
                padding: 5px;
                border-radius: 4px;
                @media screen and (max-width:767px) {
                  font-size: 10px;
                } 
              }
            }
            
          }
          .open_widget{
            width: 20%;
            @media screen and (max-width: 999px) {
             display: none;
            }
            span{
              display: block;
              max-width: 39px;
              height: 39px;
              margin-#{$end}: auto;
              background: #ec2227;
              border-radius: 50%;
              position: relative;
              @media screen and (max-width: 770px) {
                max-width: 26px;
                height: 26px;
              }
              &::before{
                content: '';
                background-image: url(../img/icons/left-arrow-widget.png);
                background-size: 18px;
                background-repeat: no-repeat;
                width: 18px;
                height: 18px;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                @media screen and (max-width: 770px) {
                  background-size: 12px;
                  width: 12px;
                  height: 12px;
                }
              }
            }
          }
        }
        // &.white{
        //   .img{
        //     &::before{
        //       display: none;
        //     }
        //   }
        //   .sec_info{
        //     .title{
        //       color: black;
        //     }
        //     .price{
        //       color: black;
        //     }
        //     .price-content {
        //       del{
        //         color: black;
        //         span{
        //           color: black;
        //         }
        //       }
        //       ins {
        //           span{
        //             color: black;
        //           }
        //       }
        //       .saved-sale {
        //         color: black;  
        //       }
        //       .amount{
        //         color: black;
        //       }
        //     }
        //   }
        // }
        // &.black{
        //   .sec_info{
        //     .title{
        //       color: white;
        //     }
        //     .price{
        //       color: white;
        //     }
        //   }
        // }
      }
    }
  }
}
.product{
    &.list{
      width: calc(100% - 15%);
      @media screen and (max-width:999px) {
        width: 100%;
        .grid{
          padding: 0;
        }
      }  
      .section_title{
        display: flex;
        align-items: end;
        @media screen and (max-width:999px) {
          padding: 30px 0 0px;
          flex-direction: column;
          align-items: flex-start;
         } 
         .text{
           width: calc(100% - 130px);
            h2{
              color: #414241;
              font-size: 28px;
              font-weight: bold;
              padding: 0px 0 12px;
              @media screen and (max-width:770px) {
                font-size: 20px;
                padding: 0 0 10px;
              }  
            }
            P{
              color: #414241;
              font-size: 14px;
              font-weight: 500;
              line-height: 28px;
              @media screen and (max-width:770px) {
                font-size: 12px;
                line-height: 25px;
              }  
            }
         } 
         .filter{
          width: 130px;
          margin: 0 auto 0 0;
          .filter_mobile{
            display: none;
            background: #3a7d44;
            color: white;
            border-radius: 22px;
            padding: 10px 14px;
            font-size: 12px;
            font-weight: 700;
            background-image: url(../img/icons/icon_filter_mob.png);
            background-repeat: no-repeat;
            background-size: 16px;
            background-position: right 15px center;
            text-align: left;
            @media screen and (max-width:999px) {
              display: block;;
            } 
         }
         }
         
       
      }
      .product_container{
        padding-top: 30px;
        .products_list{
          .product_widget{
            width: calc(100% / 3);
            padding: 0 10px 20px;
            @media screen and (max-width:770px) {
              width: calc(100% / 2);
              padding-bottom: 14px;
            } 
            // @media screen and (max-width: 479px) {
            //   width: 100%;
            //   padding-bottom: 14px;
            // }
          }
        }
      }
    }
    &.related{
      padding: 40px 0 100px;
      @media screen and (max-width:770px) {
        padding: 5px 0 50px;
      }  
      .section_title{
        padding-bottom: 20px;
        h2{
          color: #414241;
          font-size: 24px;
          font-weight: bold;
          @media screen and (max-width:770px) {
            font-size: 18px;
          }  
        }
      }
      .product_widget{
        width: calc(100% / 4);
        @media screen and (max-width:770px) {
          width: calc(100% / 2);
        }  
      }
    }
    &.single_related{
      .product_widget{
        width: calc(100% / 3);
        @media screen and (max-width:770px) {
          width: calc(100% / 2);
        }  
      }
      .section_title{
        p{
          color: #414241;
          font-size: 16px;
          font-weight: normal;
          letter-spacing: 0.44px;
          padding-top: 10px;
        }
      }
    }
}





