.single_page{
    padding-top: 40px;
    @media screen and (max-width:479px) {
     padding-top: 20px;
     }
    .section_item{
        .breadcramb {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-bottom: 18px;
            @media screen and (max-width:770px) {
             overflow: scroll;
             white-space: nowrap;
            }
            li {
              display: inline-block;
              position: relative;
              margin-left: 10px;
              line-height: 20px;
              font-size: 11px;             
              &::before {
                content: "chevron_left";
                position: absolute;
                font-family: "Material Icons";
                font-size: 14px;
                left: -8px;
                top: 0;
                color: #9fa2aa;
                bottom: 0;
                display: inline-flex;
                align-items: center;
              }
          
              a {
                color: #2d728f;
                font-size: 11px;
                font-weight: 500;
                padding-left: 10px;
                vertical-align: top;
                @media screen and (max-width:479px) {
                  font-size: 11px;
                 } 
                &:hover {
                  text-decoration: underline;
                }
              }
              &:last-child {
                  a{
                      color: #9a9a9a;
                      pointer-events: none;
                  }
                &::before {
                  display: none;
                }
              }
            }
        }
        .content{
            display: flex;
            padding-top: 15px;
            @media screen and (max-width:999px) {
              flex-direction: column;
            }  
            .sec_gallary{
                width: 750px;
                @media screen and (max-width:999px) {
                 width: 100%;
                }  
                .gallary{
                  display: flex;
                  flex-direction: row-reverse;
                  @media screen and (max-width:999px) {
                    flex-direction: column;
                  }  
                  .product-slider {
                    // position: relative;
                    display: block;
                    width: 100%;
                    height: 515px;
                    text-align: left;
                    // opacity: 0;
                    @include transition(0.3s);
                    @media screen and (max-width:999px) {
                      height: 400px;
                    }  
                    // &.active {
                    //   opacity: 1;
                    // }
                    & > .item:not(:first-child) {
                      display: none;
                    }
                    .slick-list {
                      width: 100%;
                      height: 100%;
                      overflow: inherit;
                      .slick-track {
                        width: 100% !important;
                        height: 100%;
                        .slick-slide {
                          width: 100% !important;
                          height: 100%;
                          position: relative !important;
                          position: absolute !important;
                          left: 0 !important;
                          right: 0 !important;
                          background-position: center center;
                          border: 2px solid #e9e8ea;
                          border-radius: 10px;
                          // padding: 10px 0;
                          &.not-clickable-js{
                            display: block;
                          }
              
                          img {
                            object-fit: cover;
                            width: 100%;
                            height: 100%;
                            border-radius: 10px;
                          }
                        }
                      }
                    }
                    .slide-item {
                      @media (max-width: 992px) {
                        display: inline-block;
                        opacity: 1 !important;
                        flex: 0 0 400px;
                        margin-#{$end}: 20px;
                        body.ltr & {
                          margin-#{$end}: 0;
                          margin-right: 20px;
                        }
                        .icon {
                          display: none;
                        }
                      }
                      @media (max-width: 600px) {
                        flex: 0 0 80%;
                        &:last-child {
                          margin-left: 0;
                          body.ltr & {
                            margin-right: 0;
                          }
                        }
                      }
                    }
                    .next-arrow {
                        right: 0;
                        position: relative;
                        position: absolute;
                        top: 50%;
                        cursor: pointer;
                        @include transition(all, 0.2s, ease);
                        span {
                            display: block;
                            &::before{
                              content: "chevron_right";
                              font-family: "Material Icons";
                              display: flex;
                              align-items: center;
                              position: absolute;
                              top: 0;
                              bottom: 0;
                              right: 3px;
                              font-size: 32px;
                              font-weight: 100;
                                color: white;
                            }
                        }
                        &:hover{
                        //   background-color: $BaseColor;
                          span{
                            &::before{
                              color: #fff;
                            }
                          }
                          @include transition(all, 0.2s, ease);
                        }
                      }
                      .prev-arrow {
                        left: 0;
                        position: relative;
                        position: absolute;
                        top: 50%;
                        cursor: pointer;
                        z-index: 9;
                        @include transition(all, 0.2s, ease);
                        span {
                            display: block;
                            &::before{
                                content: "chevron_left";
                                font-family: "Material Icons";
                                display: flex;
                                align-items: center;
                                position: absolute;
                                top: 0;
                                bottom: 0;
                                left: 3px;
                                font-size: 32px;
                                font-weight: 100;
                                color: white;
                            }
                        }
                        &:hover{
                        //   background-color: $BaseColor;
                          span{
                            &::before{
                              color: #fff;
                            }
                          }
                          @include transition(all, 0.2s, ease);
                        }
                      }
                   
                  }
                }
              
                .slider-nav {
                display: inline-block;
                overflow: hidden;
                width: 100px;
                margin-left: 5px;
                margin-top: -3px;
                opacity: 0;
                @media screen and (max-width:999px) {
                  width: 100%;
                  margin-top: 8px;
                  margin-#{$end}: -4px;
                  max-height: 80px;
                } 
                .slick-slide {
                    width: 100% !important;
                    height: 90px !important;
                    margin-bottom: 3px;
                    // border: 4px solid transparent;
                    border-radius: 6px;
                    cursor: pointer;
                    opacity: .5;
                    @include transition(0.3s);
                    @media screen and (max-width:999px) {
                      width: 80px !important;
                      height: 78px !important;
                      padding: 0px 2px;
                    } 
                    img {
                      display: block;
                      width: 100% !important;
                      height: 100%;
                      border-radius: 2px;
                      
                    }
                    &:hover {
                      opacity: 1;
                    }
                    &.active{
                      opacity: 1;
                    }
                }
                .slick-list {
                    padding: 0 !important;
                    .slick-track {
                      width: 100% !important;
                      @media screen and (max-width:999px) {
                       display: flex;
                       overflow: scroll;
                       transform: translate3d(0px, 0px, 0px) !important;
                      } 
                    }
                }
                &.active {
                    opacity: 1;
                }
            
                .slick-arrow{
                    position: relative;
                    font-size: 0;
                    border: none;
                    width: 100%;
                    height: 22px;
                    background-color: #ff888887;
                    color: #fff;
                    font-size: 0;
                    margin: 0 auto;
                    position: absolute;
                    left: 0;
                    right: 0;
                    z-index: 10;
                    transition: .3s all ease-in-out;
                    &::before{
                    content: 'keyboard_arrow_down';
                    @include MaterialFamily;
                    position: absolute;
                    font-size: 20px;
                    color: #fff;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    }
                    &.slick-next{
                    bottom: 0;
                    }
                    &.slick-prev{
                    top: 0;
                    &::before{
                        content: "keyboard_arrow_up";
                    }
                    }
                    &:hover{
                      background-color: #ed2227;
                    }
                    &.slick-disabled{
                    opacity: 0;
                    pointer-events: none;
                    }
                }
                }
            }
            .player{
              padding-top: 20px;
              @media screen and (max-width:479px) {
                padding-top: 10px;
              }
              .video-box {
                position: relative;
                width: 100%;
                height: 415px;
                max-width: 990px;
                @media screen and (max-width:767px) {
                  width: 100%;
                  max-width: 100%;
                } 
                // &::before {
                //   content: "";
                //   display: block;
                //   padding-top: percentage(430/800);
                // }
                .bg {
                  background-repeat: no-repeat;
                  background-size: cover;
                  background-position: center;
                  position: relative;
                  position: absolute;
                  top: 0;
                  left: 0;
                  bottom: 0;
                  right: 0;
                  z-index: 3;
                  border-radius: 2px;
                  &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    background-color: #00000029;
                    opacity: 0.3;
                    z-index: 1;
                  }
                  .player {
                    width: 50px;
                    height: 50px;
                    background-size: cover;
                    position: absolute;
                    left: 25px;
                    bottom: 25px;
                    z-index: 2;
                    background: #ec2227;
                    border-radius: 50%;
                    &::before {
                      content: "";
                      position: absolute;
                      background-image: url(../../assets/img/icons/play-icon-white.png);
                      background-size: cover;
                      background-repeat: no-repeat;
                      background-size: 22px;
                      top: 29%;
                      left: 33%;
                      bottom: 0;
                      right: 0;
                    }
                  }
                }
                .youtube-video {
                  position: relative;
                  position: absolute;
                  z-index: 2;
                  top: 0;
                  left: 0;
                  bottom: 0;
                  right: 0;
                  width: 100%;
                  height: 100%;
                    iframe {
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        height: 100%;
                        width: 100%;
                        border-radius: 2px;
                    }
                    .ytp-chrome-top{
                        display: none !important;
                    }
                    .ytp-impression-link{
                        display: none;
                    }
                }
                &.active {
                  .bg {
                    opacity: 0;
                    pointer-events: none;
                  }
                }
              }
            }
           
            .sec_info{
                width: calc(100% - 730px);
                padding-#{$end}: 20px;
                @media screen and (max-width:999px) {
                  width: 100%;
                  padding-top: 15px;
                  padding-#{$end}: 0;
                }  
                .top{
                    padding-bottom: 20px;
                    position: relative;
                    @media screen and (max-width:770px) {
                     padding-bottom: 10px;
                    }  
                    .sec_top_flex{
                      display: flex;
                      justify-content: space-between;
                      @media screen and (max-width:770px) {
                        flex-direction: column-reverse;
                        row-gap: 10px;
                       }  
                      .single_title_item{
                        color: #414241;
                        font-size: 28px;
                        font-weight: bold;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        max-width: 450px;
                        line-height: 40px;
                        @media screen and (max-width:770px) {
                          font-size: 18px;
                          line-height: 26px;
                        } 
                        .favourite,.not-favourite{
                          position: absolute;
                          top: 5px;
                          #{$start}: 15px;
                          cursor: pointer;
                          z-index: 9;
                          width: 45px;
                          height: 45px;
                          border-radius: 50%;
                          background: #ffffff;
                          position: relative;
                          box-shadow: 0px 0px 8px -3px #00000080;
                          @media screen and (max-width:770px) {
                            width: 35px;
                            height: 35px;
                            top: 0;
                          } 
                        }
                        .favourite{
                          &::before{
                            content: "favorite";
                            @include MaterialFamily;
                            font-size: 28px;
                            position: absolute;
                            #{$start}: 9px;
                            top: 9px;
                            color: #63001e;
                            @media screen and (max-width:770px) {
                              font-size: 20px;
                              #{$start}: 8px;
                            } 
                          }
                        }
                        .not-favourite{
                          transition: all .3s ease;
                          &::before{
                            content: "favorite_border";
                            @include MaterialFamily;
                            font-size: 28px;
                            font-weight: 100;
                            position: absolute;
                            #{$start}: 9px;
                            top: 9px;
                            opacity: 0.6;
                            color: #5b5b5b;
                            @media screen and (max-width:770px) {
                              font-size: 20px;
                              #{$start}: 8px;
                            } 
                          }
                          &:hover{
                            &::before{
                              opacity: 1;
                            }
                          }
                        }
                      }
                      .sec_label_flex{
                        display: flex;
                        align-items: flex-start;
                        column-gap: 8px;
                        .note_discount{
                          // position: absolute;
                          // top: 40px;
                          // left: 10px;
                          font-size: 12px;
                          font-weight: 900;
                          color: white;
                          background: #ed2227;
                          padding: 5px;
                          border-radius: 4px;
                          @media screen and (max-width:767px) {
                            font-size: 10px;
                          } 
                        }
                        .product_label{
                          display: flex;
                          flex-direction: column;
                          row-gap: 5px;
                          .note_branch{
                            // position: absolute;
                            // top: 10px;
                            // left: 10px;
                            font-size: 12px;
                            font-weight: 900;
                            color: white;
                            background: #ed2227;
                            padding: 5px;
                            border-radius: 4px;
                            @media screen and (max-width:767px) {
                              font-size: 10px;
                            } 
                          }
                        }
                       
                      }
                    }
                   
                    
                    .description{
                        color: #414241;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 26px;
                        max-width: 400px;
                        padding: 20px 0 0;
                        @media screen and (max-width:770px) {
                         font-size: 12px;
                         line-height: 20px;
                         padding: 5px 0;
                        } 
                    }
                    // .info{
                    //     display: none;
                    //     // display: inline-block;
                    //     vertical-align: top;
                    //     &.bold{
                    //         padding-#{$end}: 15px ;
                    //         li{
                    //             font-weight: bold;
                    //             position: relative;
                    //             .single_flag{
                    //               img{
                    //                 margin: -8px 5px;
                    //                 width: 30px;
                    //                 @media screen and (max-width:770px) {
                    //                   margin: -4px 5px;
                    //                   width: 20px;
                    //                 }  
                    //               }
                    //             }
                    //         }
                    //     }
                    //     li{
                    //         color: #414241;
                    //         font-size: 14px;
                    //         font-weight: normal;
                    //         line-height: 29px;
                    //         @media screen and (max-width:770px) {
                    //           font-size: 12px;
                    //           line-height: 26px;
                    //         }  
                    //     }
                    // }
                }
                .middle{
                    border-top: 1px solid #cbc9cc6b;
                    padding: 20px 0;
                  &.hide_border{
                    border-top: 0;
                    padding: 0;
                    display: none;
                    .single_color{
                      display: none;
                    }
                  }
                    .section_color{
                      // padding: 20px 0 0;
                      & ~ .section_fabrics {
                        padding: 20px 0 0;
                      }
                      label{
                        color: #414241;
                        font-size: 13px;
                        padding-bottom: 10px;
                        font-weight: bold;
                      }
                      .colores{
                        display: flex;
                        align-items: center;
                        overflow-x: scroll;
                        padding-bottom: 10px;
                        &::-webkit-scrollbar {
                          width: 10px;
                          height: 4px;
                        }
                        &::-webkit-scrollbar-track {
                            // background-color: #ec26271f;
                            background-color: transparent;
                            border-radius: 10px;
                        }
                        &::-webkit-scrollbar-thumb {
                            background-color: #ec2627;
                            border-radius: 10px;
                        }
                        .single_color{
                          // padding-left: 10px;
                          cursor: pointer;
                          span{
                            display: block;
                            position: relative;
                            height: 60px;
                            width: 60px;
                            border-radius: 50px;
                            border: 2px solid transparent;
                            img{
                              border-radius: 4px;
                            }
                            &.color-border{
                              border: 1px solid black;
                              margin-#{$start}: 10px;
                              &::before {
                                content: "done";
                                position: absolute;
                                font-family: "Material Icons";
                                font-size: 16px;
                                font-weight: bold;
                                left: 20px;
                                top: 20px;
                                color: red;
                              }
                            }
                            &.color-image{
                              margin-#{$start}: 3px;
                            }
                          }
                          &.active{
                            span{
                              &::before {
                                content: "done";
                                position: absolute;
                                font-family: "Material Icons";
                                font-size: 16px;
                                font-weight: bold;
                                left: 20px;
                                top: 20px;
                                color: white;
                              }
                            }
                          }
                        }
                        .arrow{
                          font-size: 0;
                          border: none;
                          width: 20px;
                          height: 56px;
                          color: #fff;
                          font-size: 0;
                          margin: 0 auto;
                          position: absolute;
                          z-index: 10;
                          transition: .3s all ease-in-out;
                          top: 1.5px;
                          background: black;
                          cursor: pointer;
                          &::before{
                              content: 'keyboard_arrow_left';
                              @include MaterialFamily;
                              position: absolute;
                              font-size: 18px;
                              color: white;
                              left: 0;
                              right: 0;
                              top: 0;
                              bottom: 0;
                              height: 18px;
                              width: 18px;
                              margin: auto;
                          }
                          &.next{
                            #{$start}:0;
                            border-radius: 8px 0px 0px 8px;
                          }
                          &.prev{
                           #{$end}:0;
                           border-radius: 0 8px 8px 0;
                            &::before{
                                content: "keyboard_arrow_right";
                            }
                          }
                          // &:hover{
                          //   background-color: rgba(89, 44, 123, 1);
                          // }
                          &.slick-disabled{
                            opacity: 0;
                            pointer-events: none;
                          }
                        }
                      }
                    }
                    .section_fabrics{
                      label{
                        color: #414241;
                        font-size: 13px;
                        padding-bottom: 10px;
                        font-weight: bold;
                      }
                      .all{
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;
                        @media screen and (max-width: 767px){
                          padding-bottom: 8px;
                          overflow-x: scroll;
                          flex-wrap: nowrap;
                          overflow-y: hidden;

                        }
                        &.scroll_fabrics{
                          padding-bottom: 8px;
                          overflow-x: scroll;
                          flex-wrap: nowrap;
                          &::-webkit-scrollbar-track {
                            background-color: #ec26271a;
                            @media screen and (max-width: 767px){
                              display: none;
                            }
                          }
            
                          &::-webkit-scrollbar {
                              height: 4px;
                              @media screen and (max-width: 767px){
                                display: none;
                              }
                          }
            
                          &::-webkit-scrollbar-thumb {
                              border-radius: 3px;
                              background-color: #ec2627;
                              @media screen and (max-width: 767px){
                                display: none;
                              }
                          }
                        }
                      }
                      .fabrics{
                        display: flex;
                        align-items: center;
                        // overflow-x: scroll;
                        // padding-bottom: 10px;
                        // &::-webkit-scrollbar {
                        //   width: 10px;
                        //   height: 4px;
                        // }
                        // &::-webkit-scrollbar-track {
                        //     // background-color: #ec26271f;\
                        //     background-color: transparent;
                        //     border-radius: 10px;
                        // }
                        // &::-webkit-scrollbar-thumb {
                        //     background-color: #ec2627;
                        //     border-radius: 10px;
                        // }
                        .single_fabrics{
                          padding-left: 5px;
                          cursor: pointer;
                          span{
                            display: block;
                            position: relative;
                            height: 60px;
                            width: 60px;
                            border: 2px solid transparent;
                            @media screen and (max-width: 770px) {
                              height: 40px;
                              width: 40px;
                            }
                            img{
                              border-radius: 4px;
                            
                            }
                          }
                          &.active{
                            span{
                              &::before {
                                content: "done";
                                position: absolute;
                                font-family: "Material Icons";
                                font-size: 16px;
                                font-weight: bold;
                                left: 20px;
                                top: 20px;
                                color: white;
                                @media screen and (max-width: 770px) {
                                 font-size: 12px;
                                 left: 12px;
                                 top: 12px;
                                }
                              }
                            }
                          }
                        }
                        .arrow{
                          font-size: 0;
                          border: none;
                          width: 20px;
                          height: 56px;
                          color: #fff;
                          font-size: 0;
                          margin: 0 auto;
                          position: absolute;
                          z-index: 10;
                          transition: .3s all ease-in-out;
                          top: 1.5px;
                          background: black;
                          cursor: pointer;
                          &::before{
                              content: 'keyboard_arrow_left';
                              @include MaterialFamily;
                              position: absolute;
                              font-size: 18px;
                              color: white;
                              left: 0;
                              right: 0;
                              top: 0;
                              bottom: 0;
                              height: 18px;
                              width: 18px;
                              margin: auto;
                          }
                          &.next{
                            #{$start}:0;
                            border-radius: 8px 0px 0px 8px;
                          }
                          &.prev{
                           #{$end}:0;
                           border-radius: 0 8px 8px 0;
                            &::before{
                                content: "keyboard_arrow_right";
                            }
                          }
                          // &:hover{
                          //   background-color: rgba(89, 44, 123, 1);
                          // }
                          &.slick-disabled{
                            opacity: 0;
                            pointer-events: none;
                          }
                        }
                      }
                    }
                    .section_info{
                      label{
                        color: #414241;
                        font-size: 13px;
                        padding-bottom: 10px;
                        font-weight: bold;
                      }
                      .info{
                        display: flex;
                        align-items: center;
                        .single_info{
                          padding-left: 10px;
                          cursor: pointer;
                          transition: all .3s ease;
                          P{
                            color: #414241;
                            font-size: 10px;
                            font-weight: 500;
                            line-height: 26px;
                            text-align: center;
                            border: 1px solid #cccccc;
                            border-radius: 4px;
                            padding: 0 10px;
                          }
                          &:hover{
                            p{
                              background: black;
                              border: 1px solid black;
                              color: white;
                            }
                          }
                          &.active{
                            p{
                              background: black;
                              border: 1px solid black;
                              color: white;
                            }
                          }
                        }
                      }
                    }
                   
                }
                .min_middle{
                  border-top: 1px solid #cbc9cc6b;
                  padding: 20px 0;
                  .section_count{
                    display: flex;
                    padding: 0 0 20px;
                    @media screen and (max-width:770px) {
                      align-items: center;
                      padding: 15px 0;
                     } 
                    .increase{
                      width: 64px;
                      height: 36px;
                      // background: #80808033;
                      background: black;
                      border-radius: 4px;
                      position: relative;
                      padding: 0;
                      @media screen and (max-width:770px) {
                       width: 50px;
                       height: 32px;
                      } 
                      &::before {
                        content: "add";
                        @include MaterialFamily;
                        font-size: 26px;
                        position: absolute;
                        // color: #b1b1b1;
                        color: white;
                        top: 5px;
                        #{$start}: 19px;
                        cursor: pointer;
                        pointer-events: none; 
                        font-weight: 500;
                        @media screen and (max-width:770px) {
                          font-size: 22px;
                          #{$start}: 14px;
                         } 
                      }
                      &.disabled{
                        opacity: 0.2 !important;
                      }
                    }
                    .number_count{
                      color: black;
                      font-size: 20px;
                      font-weight: 900;
                      max-width: 50px;
                      text-align: center;
                      @media screen and (max-width:770px) {
                        font-size: 14px;
                        margin-top: 5px;
                        max-width: 30px;
                       } 
                    }
                    .decrease{
                      width: 64px;
                      height: 36px;
                      // background: #80808033;
                      background: black;
                      border-radius: 4px;
                      position: relative;
                      padding: 0;
                      @media screen and (max-width:770px) {
                        width: 50px;
                        height: 32px;
                       } 
                      &::before {
                        content: "remove";
                        @include MaterialFamily;
                        font-size: 26px;
                        position: absolute;
                        // color: #b1b1b1;
                        color: white;
                        top: 5px;
                        #{$start}: 19px;
                        cursor: pointer;
                        pointer-events: none; 
                        font-weight: 500;
                        @media screen and (max-width:770px) {
                          font-size: 22px;
                          #{$start}: 14px;
                         } 
                      }
                      &.disabled{
                        opacity: 0.2 !important;
                      }
                    }
                  }
                  .price{                  
                    font-weight: bold;
                    line-height: 33px;
                    padding-bottom: 10px;
                    display: flex;
                    flex-direction: row-reverse;
                    justify-content: flex-end;
                    .amount{
                      font-size: 22px;
                      .woocommerce-Price-currencySymbol{
                        padding-#{$start}: 5px;
                      }
                    }
                    del{
                      text-decoration: line-through;
                      font-size: 16px;
                      font-weight: 900;
                      opacity: 1;
                      color: red;
                      display: block;
                      padding-#{$end}: 10px;
                      span{
                        color: #d4625d;
                        font-size: 16px !important;
                        .woocommerce-Price-currencySymbol{
                          padding-#{$start}: 5px;
                        }
                      }
                    }
                    ins {
                        margin-#{$start}: 0;
                        font-size: 22px;
                        padding-bottom: 6px;
                        display: block;
                        span{
                          color: black;
                          .woocommerce-Price-currencySymbol{
                            padding-#{$start}: 5px;
                          }
                        }
                    }
                  }
                  .product-note{
                    font-size: 12px;
                    font-weight: 600;
                    padding-bottom: 10px;
                    display: block;
                    color: #3a3a3a;
                  }
                  button{
                      background: #3a7d44;
                      border-radius: 2px;
                      max-width: 370px;
                      width: 100%;
                      padding: 17px 0;
                      color: #ffffff;
                      font-size: 16px;
                      font-weight: bold;
                      transition: all .3s ease;
                      &:hover{
                          background: #2d6435;
                      }
                  }
                  .delivery{
                    max-width: 270px;
                    width: 100%;
                    color: #1a1919;
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 21px;
                    padding-top: 15px;
                  }
                }
                .dropdown_info_old{
                  .single_info{
                      border-top: 1px solid #cbc9cc6b;
                      padding: 10px 0;
                      @media screen and (max-width:770px) {
                       padding: 5px 0;
                      }  
                      &.active{
                          padding: 10px 0 20px;
                          .title_info{
                              &::after{
                                  content: 'remove';
                                  @include MaterialFamily;
                                  font-size: 22px;
                                  font-weight: 100;
                                  @media screen and (max-width:770px) {
                                    font-size: 16px;
                                  }  
                              }
                          }
                          .content_info{
                              display: block;
                          }
                      }
                      .section_ataraxy{
                        display: flex;
                        align-items: center;
                        img{
                          max-width: 30px;
                        }
                        .title{
                          padding-#{$end}: 15px;
                          line-height: 24px;
                          @media screen and (max-width:770px) {
                           font-size: 14px;
                          }  
                      }
                      } 
                      .title_info{
                          
                          font-size: 15px;
                          font-weight: 600;
                          line-height: 28px;
                          display: flex;
                          justify-content: space-between;
                          padding: 5px 0;
                          cursor: pointer;  
                          @media screen and (max-width:770px) {
                           font-size: 14px;
                          }  
                          &::after{
                              content: 'add';
                              @include MaterialFamily;
                              font-size: 22px;
                              font-weight: 100;
                              @media screen and (max-width:770px) {
                                font-size: 16px;
                              }  
                          }
                      }
                      .content_info{
                          display: none;
                          h2{
                              font-size: 20px;
                              padding-bottom: 5px;
                          }
                          h3{
                              font-size: 18px;
                              padding-bottom: 5px;
                          }
                          h4{
                              font-size: 16px;
                              padding-bottom: 5px;
                          }
                          h5{
                              font-size: 14px;
                              padding-bottom: 5px;
                          }
                          h6{
                              font-size: 12px;
                              padding-bottom: 5px;
                          }
                          p{
                              color: #2e3236;
                              font-size: 15px;
                              line-height: 28px;
                              font-weight: 400;
                              @media (max-width:1025px) {
                                  font-size: 14px;
                              }
                          }
                          img{
                              display: block;
                              width: 100%;
                          }
                          strong{
                              font-weight: 700;
                          }
                          a{
                              display: inline-block;
                              color: #2075ff;
                              &:hover{
                                  text-decoration: underline;
                              }
                          }
                          ul,
                          ol {
                            li {
                              padding-#{$end}: 15px;
                              position: relative;
                              font-size: 13px;
                              line-height: 28px;
                              color: #2e3236;
                              @media screen and (max-width:770px) {
                                font-size: 12px;
                                padding-#{$end}: 12px;
                              }  
                              // &::before {
                              //   content: "";
                              //   position: absolute;
                              //   right: 0;
                              //   width: 8px;
                              //   height: 8px;
                              //   background-color: #af9751;
                              //   top: 9px;
                              //   border-radius: 50%;
                              //   @media screen and (max-width:770px) {
                              //    width: 5px;
                              //    height: 5px;
                              //    top: 10px;
                              //   }  
                              // }
                            }
                          }
                      }
                      .section_ataraxy{
                        display: flex;
                        align-items: center;
                        img{
                          max-width: 30px;
                        }
                        .title{
                          padding-#{$end}: 15px;
                          line-height: 24px;
                          @media screen and (max-width:770px) {
                           font-size: 14px;
                          }  
                      }
                      } 
                  }
                }
                .dropdown_info_new{
                  // display: none;
                  .single_info{
                      border-top: 1px solid #cbc9cc6b;
                      padding: 10px 0;
                      @media screen and (max-width:770px) {
                       padding: 5px 0;
                      } 
                      .section_ataraxy{
                        display: flex;
                        align-items: center;
                        img{
                          max-width: 30px;
                        }
                        .title{
                          padding-#{$end}: 15px;
                          line-height: 24px;
                          @media screen and (max-width:770px) {
                           font-size: 14px;
                          }  
                      }
                      } 
                      .title{
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 28px;
                      }
                      .content_info{
                        h2{
                            font-size: 20px;
                            padding-bottom: 5px;
                        }
                        h3{
                            font-size: 18px;
                            padding-bottom: 5px;
                        }
                        h4{
                            font-size: 16px;
                            padding-bottom: 5px;
                        }
                        h5{
                            font-size: 14px;
                            padding-bottom: 5px;
                        }
                        h6{
                            font-size: 12px;
                            padding-bottom: 5px;
                        }
                        p{
                            color: #2e3236;
                            font-size: 14px;
                            line-height: 28px;
                            font-weight: 400;
                            padding-top: 5px;
                            @media (max-width:1025px) {
                                font-size: 14px;
                            }
                        }
                        img{
                            display: block;
                            width: 100%;
                        }
                        strong{
                            font-weight: 700;
                        }
                        a{
                            display: inline-block;
                            color: #2075ff;
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                        ul,
                        ol {
                          li {
                            padding-#{$end}: 15px;
                            position: relative;
                            font-size: 13px;
                            line-height: 28px;
                            color: #2e3236;
                            @media screen and (max-width:770px) {
                              font-size: 12px;
                              padding-#{$end}: 12px;
                            }  
                            // &::before {
                            //   content: "";
                            //   position: absolute;
                            //   right: 0;
                            //   width: 8px;
                            //   height: 8px;
                            //   background-color: #af9751;
                            //   top: 9px;
                            //   border-radius: 50%;
                            //   @media screen and (max-width:770px) {
                            //    width: 5px;
                            //    height: 5px;
                            //    top: 10px;
                            //   }  
                            // }
                          }
                        }
                      }
                      .product_details_box{
                        padding: 15px 0 20px;
                        .section_title{
                          .titles{
                            display: flex;
                            align-items: center;
                            li{
                              padding: 0 1px;
                              .single_title{
                                font-size: 12px;
                                color: #979797;
                                font-weight: 700;
                                background: #F4F4F4;
                                padding: 2px 10px;
                                line-height: 22px;
                                display: block;
                                &.active{
                                    background: #F9F7F1;
                                    margin-top: -10px;
                                    line-height: 32px;
                                    color: black;
                                }
                              }
                              
                            }
                          }
                        }
                        .section_details{
                          .info_box{
                            background: #FFFFFF;
                            border: 2px solid rgba(151, 151, 151, 0.3);
                            display: none;
                            &.active{
                              display: block;
                            }
                            .content_details{
                              .single_content{
                                display: flex;
                                align-items: center;
                                position: relative;
                                &::before{
                                  content: '';
                                  position: absolute;
                                  bottom: 0;
                                  left: 15px;
                                  right: 15px;
                                  height: 1px;
                                  background: #CBCCD0;
                                }
                                &:last-child{
                                  &::before{
                                    display: none;
                                  }
                                }
                                h4{
                                  font-weight: 400;
                                  font-size: 12px;
                                  line-height: 60px;
                                  width: 35%;
                                  padding: 0 15px;
                                }
                                p{
                                  font-weight: 700;
                                  font-size: 14px;
                                  line-height: 60px;
                                  background: #F9F7F1;
                                  width: calc(100% - 35%);
                                  padding: 0 20px;
                                  direction: ltr;
                                }
                              }
                            }
                          }
                        }
                      }
                  }
                }
            }
        }
    }
    .review_section {
      padding: 100px 0;
      .reviews-info-tabs{
        // border: 2px solid #E0DDDD;
        // border-radius: 4px;
        // padding: 35px 0;
        .tabs{
          display: flex;
          align-items: center;
          justify-content: center;
          li{
            padding-#{$end}: 20px;
            &:first-child{
              padding-#{$end}: 0;
            }
            &.active{
              .title_tab{
                color: #ec2227;
                &::before{
                  opacity: 1;
                }
              }
            }
            .title_tab{
              color: #a6a6a6;
              font-size: 24px;
              font-weight: bold;
              position: relative;
              cursor: pointer;
              display: block;
              @media screen and (max-width: 770px) {
                  font-size: 14px;
              }
              &::before{
                content: '';
                position: absolute;
                background: #ff00001a;
                width: 100%;
                height: 10px;
                bottom: -2px;
                opacity: 0;
                right: 0;
              }
            }
          }
        }
        .content_reviews{
          .tab-content{
            display: none;
            padding-top: 30px;
            @media screen and (max-width: 770px) {
             padding-top: 0;
            }
            &.active{
              display: block;
            }
            &.review-section{
              .review-title {
                text-align: center;
                p {
                  color: black;
                  font-size: 14px;
                  letter-spacing: 0;
                  line-height: 13px;
                  text-align: center;
                  padding: 0 0 12px;
                  @media screen and (max-width: 770px) {
                    font-size: 12px;
                    padding: 15px 0 5px;
                  }
                }
                h2 {
                  color: #000104;
                  font-size: 30px;
                  font-weight: 500;
                  letter-spacing: 0;
                  line-height: 35px;
                  @media screen and (max-width: 770px) {
                    font-size: 15px;
                  }
                }
              }
              .review-box {
                max-width: 635px;
                border-radius: 4px;
                background-color: #ffffff;
                box-shadow: 0 0 10px 0 #69573233;
                margin: 40px auto 0;
                @media screen and (max-width: 770px) {
                  margin: 20px auto 0;
                  padding: 0 15px;
                }
                h3 {
                  color: #121212;
                  font-size: 16px;
                  font-weight: bold;
                  line-height: 36px;
                  text-align: center;
                  padding-top: 21px;
                  span{
                    border-bottom: 2px solid #af975133;
                    padding-bottom: 10px;
                  }
                }
                .review-top {
                  display: flex;
                  justify-content: space-between;
                  position: relative;
                  align-items: center;
                  max-width: 340px;
                  margin: 30px auto 15px;
                  .stars-out{
                    p {
                      color: #000000;
                      font-size: 10px;
                      text-align: center;
                    }
                    .bold {
                      font-size: 14px;
                      font-weight: bold;
                    }
                    .starssss {
                      padding: 12px 0;
                      span{
                        color: $red;
                        font-size: 21px;
                      }
                    }
                  }
                  .all-starts {
                    .perc-rating {
                      display: flex;
                      flex-direction: row;
                      .text {
                        color: #000000;
                        font-size: 9px;
                        letter-spacing: 0;
                        line-height: 10px;
                      }
                      .proccess-bar {
                        height: 7px;
                        width: 69px;
                        border-radius: 1px;
                        background-color: #aeadab33;
                        margin: 2px 6px 10px 6px;
                        position: relative;
                        span {
                          height: 7px;
                          border-radius: 1px;
                          background: black;
                          display: block;
                          position: absolute;
                        }
                      }
                    }
                  }
                }
                .section_form{
                  .button-submit-review {
                    border-radius: 4px;
                    background-color: #000000;
                    color: #ffffff;
                    font-size: 14px;
                    font-weight: bold;
                    line-height: 16px;
                    display: block;
                    max-width: 170px;
                    margin: 20px auto;
                    text-align: center;
                    padding: 12px 0 10px;
                    transition: all .3s ease;
                    cursor: pointer;
                    &:hover {
                        transform: scale(1.02);
                    }          
                  }
                  #reviews_form{
                    display: none;
                    font-size: 0;
                    max-width: 400px;
                    margin: 0 auto 40px;
                    .field{
                      display: inline-block;
                      width: calc(100% / 2);
                      padding: 0 5px 25px;
                      &:last-child{
                          padding-bottom: 0;
                      }
                      &.full{
                          width: 100%;
                      }
                      &.select_arrow{
                        position: relative;
                        select{
                            width: 100%;
                            font-size: 12px;
                            font-weight: 500;
                            padding: 8px 10px;
                            cursor: pointer;
                            background: white;
                            border: 1px solid #c1c9d2;
                            border-radius: 4px;
                            height: 44px;
                        }
                        // &::before {
                        //     content: "expand_more";
                        //     @include MaterialFamily;
                        //     font-size: 12px;
                        //     position: absolute;
                        //     color: #414241;
                        //     top: 35px;
                        //     left: 15px;
                        //     cursor: pointer;
                        //     pointer-events: none; 
                        // }
                      .rate:not(:checked) > input {
                          position:absolute;
                          background: transparent;
                          padding: 0;
                          border: 0;
                      }
                      .rate:not(:checked) > label {
                          float:right;
                          width:26px;
                          overflow:hidden;
                          white-space:nowrap;
                          cursor:pointer;
                          font-size:26px;
                          color: black;
                      }
                      .rate:not(:checked) > label:before {
                        content: "star_outline";
                         @include MaterialFamily;
                      }
                      .rate > input:checked ~ label::before {
                        content: "star";    
                      }
                      .rate:not(:checked) > label:hover,
                      .rate:not(:checked) > label:hover ~ label::before {
                          content: "star"; 
                      }
                      .rate > input:checked + label:hover,
                      .rate > input:checked + label:hover ~ label,
                      .rate > input:checked ~ label:hover,
                      .rate > input:checked ~ label:hover ~ label,
                      .rate > label:hover ~ input:checked ~ label::before {
                        content: "star";
                      }
                      }
                      label{
                          color: #414241;
                          font-size: 13px;
                          font-weight: bold;
                          padding-bottom: 6px;
                          span{
                              color: red;
                              font-size: 12px;
                          }
                      }
                      input{
                          background: #ffffff;
                          border: 1px solid #c1c9d2;
                          border-radius: 4px;
                          color: #414241;
                          font-size: 14px;
                          width: 100%;
                          padding: 10px;
                          
                      }
                      textarea{
                        width: 100%;
                        border: 1px solid #c1c9d2;
                        border-radius: 4px;
                        font-size: 16px;
                        resize: none;
                        padding: 15px !important;
                        height: 120px !important;
                        // &:focus{
                        //     box-shadow: inset 0 1px 1px #ffffff, 0 0 4px #af9854;
                        //     border: 0;
                        // }
                      }
                      
                    }
                    .btn{
                      background: black;
                      border-radius: 4px;
                      width: 100%;
                      padding: 8px 0 5px;
                      color: #fff;
                      font-size: 16px;
                      font-weight: bold;
                      transition: all .3s ease;
                      line-height: 28px;
                      border: 0;
                      max-width: 170px;
                      margin: 0 auto;
                      display: block;
                      // &:hover{
                      //     background: #8f7643;
                      // }
                    }
                  }
                }
                .list-of-reviews {
                  display: flex;
                  flex-direction: column;
                  padding: 15px 51px;
                  .single-review {
                    padding-bottom: 10px;
                    border-bottom: 1px solid #efeadc;
                    margin-bottom: 16px;
                    .top {
                      display: flex;
                      align-items: center;
                      .review-text {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        margin-#{$start}: 6px;
                        .name {
                          display: flex;
                          align-items: center;
                          padding-bottom: 2px;
                          min-height: 26px;
                          p{
                            color: #000000;
                            font-size: 11px;
                            font-weight: bold;
                            letter-spacing: 0;
                            line-height: 13px;
                            padding-right: 6px;
                          }
                          .starssss {
                            color: #000000;
                            margin: -5px 5px 0;
                            font-size: 0px;
                            span {
                              color: $red;
                              font-size: 16px;
                          }
                          }
                        }
                        .time {
                          color: #616161;
                          font-size: 9px;
                          padding: 0 6px;
                        }
                       
                      }
                    }
                    .bottom {
                      p{
                        color: #121212;
                        font-size: 12px;
                        letter-spacing: 0;
                        line-height: 22px;
                        padding-top: 6px;
                      }
                     
                    }
                  }
                  
                }
              }
            }
            &.product-info{
              h4{
                color: #414241;
                font-size: 24px;
                font-weight: bold;
                padding-bottom: 10px;
              }
              div,p{
                color: #414241;
                font-size: 16px;
                font-weight: 300;
                line-height: 28px;
              }
            }
          }
        }
      }
    
    }
    .section_accessories{
      background: black;
      position: relative;
      &::before{
        content: '';
        display: inline-block;
        background-image: url('../img/icons/pattern.png');
        background-size: 60px;
        width: 100%;
        height: 85px;
        position: absolute;
        top: 0;
        right: 0;
        @media screen and (max-width:999px) {
          background-size: 45px;
          height: 65px;
        }  
      }
      .section_title{
        text-align: center;
        padding: 180px 0 40px;
        @media screen and (max-width:999px) {
          padding: 100px 0 30px;
        } 
        h3{
          color: #ffffff;
          font-size: 42px;
          font-weight: bold;
          @media screen and (max-width:999px) {
            font-size: 24px;
          }
          p{
            color: #ffffff;
            font-size: 24px;
            font-weight: 300;
            padding-bottom: 10px;
            @media screen and (max-width:999px) {
              font-size: 14px;
            } 
          }
        }
      }
      .accessories_container{
        .accessoriess_list{
          display: flex;
          justify-content: center;
          margin: 0 -7px;
          @media screen and (max-width:770px) {
            flex-wrap: wrap;
          }  
          .accessories_widget{
            padding: 0 7px;
            @media screen and (max-width:770px) {
              width: 100%;
            }  
            .accessories_widget_box{
              display: block;
              border-radius: 2px;
              .img{
                img{
                  width: 100%;
                }
              }
              .text{
                padding: 15px 10px;
                @media screen and (max-width:770px) {
                  padding: 15px 0;
                }
                .title{
                  color: #ffffff;
                  font-size: 18px;
                  font-weight: bold;
                  @media screen and (max-width:770px) {
                    font-size: 14px;
                  }  
                }
                .price{
                  color: #ffffff;
                  font-size: 17px;
                  font-weight: bold;    
                  line-height: 26px;
                  padding-top: 8px;
                  @media screen and (max-width:770px) {
                    font-size: 13px;
                    padding-top: 5px;
                  }  
                }
              }
            }
          }
        }
      }
    }
}