// /* helpers */
* {
  box-sizing: border-box;
  // max-width: 100%;
  outline: none;
}

.no-scroll {
  overflow: hidden !important;
  position: fixed;
  top: 0;
  #{$end}: 0;
  bottom: 0;
  #{$start}: 0;
}

body,
html {
  background: #fff;
  font: 400 16px/1 "Montserrat", sans-serif;
  overflow-x: hidden;
}

body {
  direction: #{$direction};
  font-family: "Almarai", sans-serif;
  &.sticky-header {
    padding-top: 49px;
  }
}
.site-main {
  margin: 0 !important;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  &:focus {
    outline: none !important;
  }
}

body {
  &.loading {
    &::before {
      content: "";
      background-color: rgba(255, 255, 255, 0.7);
      @include PoFull;
      z-index: 1;
    }
    &:after {
      content: "";
      width: 25px;
      height: 25px;
      background-image: url("../img/icons/loader.png");
      background-repeat: no-repeat;
      -webkit-animation: spin 1s ease-in-out infinite;
      animation: spin 1s ease-in-out infinite;
      background-size: 25px;
      position: absolute;
      top: 50%;
      #{$end}: 50%;
      margin-top: -12px;
      margin-#{$end}: -12px;
      z-index: 2;
    }
  }
  .page {
    overflow: hidden;
  }
  ul,
  ol {
    margin: 0;
  }
  input,
  input[type="text"],
  input[type="button"],
  input[type="submit"],
  input[type="number"],
  input[type="email"],
  input[type="tel"],
  input[type="url"],
  input[type="password"],
  input[type="search"],
  button,
  select,
  textarea {
    -webkit-appearance: none;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
    background-color: transparent;
    // font-family: inherit;
    &:focus {
      outline: none !important;
    }
    &:hover {
      background-color: transparent;
      outline: none;
      box-shadow: none;
    }

    &:-webkit-autofill {
      background-color: transparent !important;
    }
    &::-webkit-input-placeholder {
      color: #999 !important;
      font-weight: 400 !important;
      font-size: 14px !important;
      font-style: normal !important;
      @include transition(all, 0.3s, ease);
    }
    &::-moz-placeholder {
      color: #999 !important;
      font-weight: 400 !important;
      font-size: 14px !important;
      font-style: normal !important;
      @include transition(all, 0.3s, ease);
    }
    &:-ms-input-placeholder {
      color: #999 !important;
      font-weight: 400 !important;
      font-size: 14px !important;
      font-style: normal !important;
      @include transition(all, 0.3s, ease);
    }
    &:-moz-placeholder {
      color: #999 !important;
      font-weight: 400 !important;
      font-size: 14px !important;
      font-style: normal !important;
      @include transition(all, 0.3s, ease);
    }
    &:focus {
      &::-webkit-input-placeholder {
        color: transparent !important;
      }
      &::-moz-placeholder {
        color: transparent !important;
      }
      &:-ms-input-placeholder {
        color: transparent !important;
      }
      &:-moz-placeholder {
        color: transparent !important;
      }
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    color: black;
  }

  select {
    border: 1px solid #b4b4b4;
    height: 34px;
    padding: 0;
    padding-#{$start}: 25px;
    padding-#{$end}: 10px;
    border-radius: 4px;
    font-size: 12px;
    line-height: 36px;
    width: 100%;
    max-width: 100% !important;
    cursor: pointer;
    background-color: #fbfdff;
    background-image: url("../img/icons/select-arrow.png");
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
    &:hover {
      background-color: #fbfdff;
    }
  }
  .wc-forward {
    position: relative;
    &:after {
      content: "keyboard_arrow_#{$start}";
      @include MaterialFamily;
      font-size: 20px;
      line-height: 20px;
      font-weight: 400;
      vertical-align: middle;
      color: inherit;
      position: absolute;
      top: 50%;
      margin-top: -10px;
      #{$start}: 10px;
      @include transition(all, 0.3s, ease);
    }
    &:hover:after {
      #{$start}: 6px;
    }
  }

  .content-area {
    width: 100% !important;
    float: none !important;
    margin: 0;
  }
  .col-full {
    max-width: 100%;
    padding: 0;
  }

  // .button,
  // .btn {
  //   display: inline-block;
  //   border-radius: 2px;
  //   font-size: 16px;
  //   font-weight: 600;
  //   color: White;
  //   background-color: Green;
  //   line-height: 40px;
  //   text-transform: capitalize;
  //   text-align: center;
  //   padding: 0 30px;
  //   letter-spacing: -0.5px;
  //   @include transition(all, 0.3s, ease);
  //   white-space: nowrap;
  //   &:hover {
  //     // background-color: $GreenHover;
  //     color: White;
  //   }
  // }
  img {
    border-radius: 0;
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -o-crisp-edges; /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
  }

  ul.products li.product {
    &.first {
      clear: none !important;
    }
  }

  .center {
    top: 0;
    #{$end}: 0;
    transform: none;
  }

  a {
    color: inherit;
  }
  p {
    margin: 0;
  }

  &.rtl {
    select {
      background-position: 10px center;
    }
  }
}

.tbl {
  display: table;
  width: 100%;
  height: 100%;
}

.tcl {
  display: table-cell;
  vertical-align: middle;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

img {
  max-width: 100%;
}






// overlay
.overlay {
  position: fixed;
  z-index: 1000;
  top: 0;
  #{$end}: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  @include transition(all, 0.3s, ease);
}

.overlay_visible {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
}

.page-404{
  padding: 75px 20px 120px;
  text-align: center;
  min-height: calc(100vh - 96px - 330px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1{
    font-size: 270px;
    font-weight: 900;
    margin: 0;
    color: $red;
    // span {
    //   display: block;
    //   font-size: 48px;
    //   font-weight: 400;
    //   margin-bottom: 20px;
    //   text-transform: capitalize;
    // }
  }
  p {
    font-size: 38px;
    max-width: 100%;
    margin: 25px auto 0;
    line-height: 40px;
    width: 800px;
    color: #2a2a2a;
    font-weight: 300;
  }
  a {
    margin-top: 50px;
    line-height: 48px;
    font-size: 14px;
    text-transform: capitalize;
    width: 275px;
  }
  @media screen and (max-width: 767px) {
    h1 {
      font-size: 80px;
      span {
        font-size: 38px;
      }
    }
    p {
      font-size: 22px;
    }
  }
}


.popup {
  position: fixed;
  z-index: 1000;
  top: 0;
  #{$start}: 0;
  bottom: 0;
  #{$end}: 0;
  padding: 1.5rem;
  overflow: auto;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  @media screen and (max-width: 999px) {
      max-width: 100vw;
      top: 100px;
      &.signup{
        top: 0;
      }
      .tbl {
          max-width: 100vw;
          display: block;
          .tcl {
              max-width: 100vw;
              display: block;
          }
      }
  }
  &.banner{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .banner{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    img{
      max-height: 90vh;
      width: 700px;
    }
    a{
      position: absolute;
      inset: 0;
      z-index: 111;
    }
  }
  &_visible {
      pointer-events: auto;
      visibility: visible;
      opacity: 1;
  }

  &__close {
      position: absolute;
      top: -25px;
      #{$end}: 0px;
      color: white;
      font-size: 22px !important;
  }

  &__window {
      position: relative;
      border-radius: 4px;
      &.edit{
        background: white;
        border-radius: 5px;
        .form-content{
          padding: 30px;
          h3{
            display: flex;
            flex-direction: column;
            text-align: center;
            color: #000000;
            font-size: 20px;
            font-weight: bold;
            line-height: 30px;
            padding-bottom: 10px;
            img{
              max-width: 50px;
              margin: 0px auto 10px;
            }
          }
          form{
            .field{
              display: inline-block;
              width: 100%;
              padding: 0 0 25px;
              &:last-child{
                  padding-bottom: 0;
              }
              &.half_full{
                width: 90px;
              }
              &.select_arrow{
                position: relative;
                select{
                    width: 100%;
                    font-size: 12px;
                    font-weight: 500;
                    padding: 8px 10px;
                    cursor: pointer;
                    background: white;
                    border: 1px solid #c1c9d2;
                    border-radius: 4px;
                    height: 44px;
                }
                &::before {
                    content: "expand_more";
                    @include MaterialFamily;
                    font-size: 12px;
                    position: absolute;
                    color: #414241;
                    top: 35px;
                    left: 15px;
                    cursor: pointer;
                    pointer-events: none; 
                }
              }
              label{
                  color: #414241;
                  font-size: 13px;
                  font-weight: bold;
                  padding-bottom: 6px;
                  span{
                      color: red;
                      font-size: 12px;
                  }
              }
              input{
                  background: #ffffff;
                  border: 1px solid #c1c9d2;
                  border-radius: 4px;
                  color: #414241;
                  font-size: 14px;
                  width: 100%;
                  padding: 10px;
                  
              }
            }
            label{
              color: #414241;
              font-size: 13px;
              font-weight: bold;
              padding-bottom: 6px;
              span{
                  color: red;
                  font-size: 12px;
              }
              .optional{
                  display: none;
              }
          }
          input.input-text {
              background: white;
              border: 1px solid #C1C9D2;
              border-radius: 4px;
              font-weight: 600;
              font-size: 14px;
              color: rgba(0,0,0,0.85);
              line-height: 44px;
              padding: 0 16px;
              width: 100%;
              box-shadow: none;
              @include transition(0.3s);
          }
          .woocommerce-input-wrapper{
                  display: flex;
                  margin-top: 14px;
                  label {
                      padding-right: 25px;
                      position: relative;
                      display: flex;
                      align-items: center;
                      cursor: pointer;
                      font-size: 14px;
                      font-weight: 700;
                      user-select: none;
                      color: #454c51;
                      margin-top: 0;
                      margin-right: 0;
                      margin-left: 20px;
                      &::before {
                          content: "radio_button_unchecked" !important;
                          @include MaterialFamily;
                          font-size: 20px;
                          color: #000000 !important;
                          position: absolute;
                          top: 1px;
                          right: 0;
                          line-height: 20px;
                          @include transition(0.2s);
                      }
                  }

                  input {
                      display: none;
                      &:checked {
                          & + label {
                              &::before {
                                  content: "radio_button_checked" !important;
                              }
                          }
                      }
                  }
          }
          .address-field{
            padding: 20px 0;
            label{
              color: #414241;
              font-size: 13px;
              font-weight: bold;
              padding-bottom: 6px;
            }
            .woocommerce-input-wrapper{
                input{
                  display: block !important;
                  background: #ffffff;
                  border: 1px solid #c1c9d2;
                  border-radius: 4px;
                  color: #414241;
                  font-size: 14px;
                  width: 100%;
                  padding: 10px;
              }
            }
            
          }
           
            button{
              background: black;
              border-radius: 2px;
              width: 100%;
              padding: 15px 0;
              color: rgb(255, 255, 255);
              font-size: 20px;
              font-weight: bold;
              transition: all .3s ease;
            }
          }
        }
      }
      &.delete{
        background: white;
        border-radius: 5px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        max-height: 150px;
        max-width: 400px;
        @media screen and (max-width:770px) {
          max-height: 130px;
          max-width: 250px;
        } 
        .form-content{
          padding: 32px 30px;
          @media screen and (max-width:770px) {
            padding: 20px;
          } 
          h3{
            color: #000000;
            font-size: 20px;
            font-weight: bold;
            line-height: 30px;
            padding-bottom: 20px;
            @media screen and (max-width:770px) {
             font-size: 14px;

            } 
          }
          form{
            .actions_pop{
              display: flex;
              align-items: center;
              justify-content: space-between;
              // max-width: 120px;
                .s_action_pop{
                  background: red;
                  padding: 10px;
                  font-size: 14px;
                  color: white;
                  font-weight: 600;
                  width: 48%;
                  text-align: center;
                  border-radius: 4px;
                  &.yes{
                    background: #079a21;
                  }
                  &.no{
                      background: red;
                  }
                }
            }
          }
        }
      }
      &.remove_order{
        background: #ffffff;
        box-shadow: 0px -2px 16px 0px #0000001a;
        border-radius: 8px;
        .form-content{
          img{
            border-radius: 8px 8px 0 0;
          }
          .box_text{
            padding: 30px;
            @media screen and (max-width:770px) {
              padding: 20px;
            } 
            h3{
              max-width: 400px;
              color: #000000;
              font-size: 16px;
              font-weight: bold;
              line-height: 26px;
              @media screen and (max-width:770px) {
                font-size: 13px;
                line-height: 15px;
                max-width: 100%;
              } 
            }
            p{
              color: #000000;
              font-size: 14px;
              font-weight: normal;
              line-height: 26px;
              padding: 10px 0;
              @media screen and (max-width:770px) {
                font-size: 12px;
                line-height: 22px;
              } 
            }
            .link_order_track{
              display: block;
              color: #4b95c7;
              font-size: 12px;
              font-weight: bold;
              line-height: 24px;
              padding-bottom: 15px;
              @media screen and (max-width:770px) {
                font-size: 10px;
                padding-bottom: 5px;           
              } 
              &:hover{
                text-decoration: underline;
              }
            }
            .form_action{
              display: flex;
              align-items: center;
              border-top: 1px solid #cbc9cc6b;
              padding-top: 25px;
              @media screen and (max-width:770px) {
                justify-content: center;
                padding-top: 15px;
              } 
              @media screen and (max-width:400px) {
                flex-direction: column;
              } 
              a{
                font-size: 14px !important;
                font-weight: bold;
                padding: 14px 25px;
                border-radius: 4px;
                transition: all .3s ease;
                @media screen and (max-width:770px) {
                  font-size: 11px !important;
                  padding: 10px 15px 8px;
                } 
                &.close_form{
                  border: 2px solid #039a03;
                  color: #039a03;
                  position: relative;
                  top: auto;
                  right: auto;
                  &:hover{
                    color: white;
                    background: linear-gradient(-180deg, #00ae00 0%, #039a03 100%);
                  }
                }
                &.continue_form{
                  border: 2px solid #d00505;
                  border-radius: 4px;
                  color: #d00505;
                  &:hover{
                    color: white;
                    background: #d00505;
                  }
                }
              }
             
              span{
                color: #000000;
                font-size: 14px;
                font-weight: normal;
                padding: 0 10px;
                @media screen and (max-width:400px) {
                  padding: 10px;
                } 
              }
              
            }
          }
        }
      }
      &.login,&.signup{
        background: white;
        border-radius: 5px;
        .form-content{
          padding: 30px;
          @media screen and (max-width: 770px) {
           padding: 15px;
         }
          h3{
            display: flex;
            flex-direction: column;
            text-align: center;
            color: #000000;
            font-size: 20px;
            font-weight: bold;
            line-height: 30px;
            @media screen and (max-width: 770px) {
              font-size: 16px;
            }
            img{
              max-width: 50px;
              margin: 0px auto 10px;
              @media screen and (max-width: 770px) {
               max-width: 30px;
              }
            }
          }
          p{
              color: #000000;
              font-size: 14px;
              font-weight: 500;
              text-align: center;
              line-height: 30px;
              padding-bottom: 15px;
              @media screen and (max-width: 770px) {
                font-size: 12px;
                line-height: 20px;
              }
          }
          form{
            font-size: 0;
            border-top: 1px solid #cbc9cc6b;
            padding-top: 25px;
            .field{
              display: inline-block;
              width: 100%;
              padding: 0 5px 25px;
              &:last-child{
                  padding-bottom: 0;
              }
              &.half_full{
                width: calc(100% / 2);
              }
              label{
                  color: #414241;
                  font-size: 13px;
                  font-weight: bold;
                  padding-bottom: 6px;
                  span{
                      color: red;
                      font-size: 12px;
                  }
              }
              input{
                  background: #ffffff;
                  border: 1px solid #c1c9d2;
                  border-radius: 4px;
                  color: #414241;
                  font-size: 14px;
                  width: 100%;
                  padding: 10px;
                  
              }
             
            }
            button{
              background: black;
              border-radius: 2px;
              width: 100%;
              padding: 15px 0;
              color: rgb(255, 255, 255);
              font-size: 20px;
              font-weight: bold;
              transition: all .3s ease;
              @media screen and (max-width: 770px) {
                padding: 15px 0 13px;
                font-size: 17px;
               }
            }
          }
          .link_popup{
            color: black;
            font-size: 13px;
            font-weight: 800;
            text-align: center;
            display: block;
            padding: 25px 0 10px;
            background: transparent;
            &:hover{
              text-decoration: underline;
            }
          }
        }
      }
      // &.switch_language{
      //   background: linear-gradient(-225deg, #efe8cf 0%, #dacda2 100%);
      //   border-radius: 5px;
      //   .form-content{
      //     padding: 50px 40px;
      //     h3{
      //       display: flex;
      //       flex-direction: column;
      //       text-align: center;
      //       color: #000000;
      //       font-size: 20px;
      //       font-weight: bold;
      //       line-height: 30px;
      //       padding-bottom: 20px;
      //       img{
      //         width: 50px;
      //         margin: 0px auto 20px;
      //       }
      //     }
          
      //     form{
      //       font-size: 0;
      //       border-top: 1px solid #97979745;
      //       padding-top: 25px;
      //       display: flex;
      //       flex-wrap: wrap;
      //       justify-content: space-between;
      //       .field{
      //         display: inline-block;
      //         width: calc(100% / 2 );
      //         padding: 0 5px 25px;
      //         label{
      //           color: black;
      //           font-size: 13px;
      //           font-weight: 500;
      //           padding-bottom: 6px;
      //         }
      //         &.select_arrow{
      //           position: relative;
      //           margin: 0 -5px;
      //           select{
      //             font-size: 13px;
      //             font-weight: 500;
      //             padding: 8px 20px;
      //             cursor: pointer;
      //             background: white;
      //             border: 0;
      //             border-radius: 5px;
      //             line-height: 33px;
      //             height: 46px;
      //           }
      //           &::before {
      //               content: "expand_more";
      //               @include MaterialFamily;
      //               font-size: 16px;
      //               font-weight: 500;
      //               position: absolute;
      //               color: #414241;
      //               top: 35px;
      //               #{$start}: 20px;
      //               cursor: pointer;
      //               pointer-events: none; 
      //           }
      //         }
      //       }
      //       button{
      //         background: $red;
      //         border-radius: 2px;
      //         width: 100%;
      //         padding: 15px 0;
      //         color: rgb(255, 255, 255);
      //         font-size: 20px;
      //         font-weight: bold;
      //         transition: all .3s ease;
      //         &:hover{
      //             background: #8f7643;
      //         }
      //       }
      //     }
      //   }
      // }
      &.repeat_order{
        background: white;
        border-radius: 5px;
        .form-content{
          padding: 30px 40px 50px;
          .material-icons{
            color: #af9854;
            font-size: 35px;
          }
          h4{
            color: #000000;
            font-size: 18px;
            font-weight: bold;
            line-height: 34px;
          }
          .min_border{
            width: 90px;
            height: 2px;
            background: #00000024;
            display: block;
            margin: 10px 0 20px;
          }
          form{
            font-size: 0;
            .option{
              padding-bottom: 3px;
              input[type="radio"]{
                appearance: none;
              }
              label{
                  cursor: pointer;
                  position: relative;
                 padding-#{$end}: 18px;
                  color: #414241;
                  font-size: 15px;
                  font-weight: bold;
                  line-height: 32px;
                &::before{
                  content: "";
                  display: inline-block;
                  width: 10px;
                  height: 10px;
                  border: 1px solid #414241;
                  border-radius: 50%;
                  position: absolute;
                  left: auto;
                  right: 0;
                  top: 7px;
                  opacity: 1;
                  transition: all 0.3s;
                }
                &::after{
                  content: "";
                  display: inline-block;
                  width: 4px;
                  height: 4px;
                  border: 1px solid #414241;
                  background: #414241;
                  border-radius: 50%;
                  position: absolute;
                  left: auto;
                  right: 3px;
                  top: 10px;
                  opacity: 0;
                  transition: all 0.3s;
                }
              }
              p{
                  font-size: 11px;
                  line-height: 26px;
                  line-height: 6px;
                  opacity: .5;
              }
              input[type="radio"]:checked + label::after{
                opacity: 1;
              }
            }
            button{
              margin-top: 30px;
              background: black;
              border-radius: 4px;
              width: 100%;
              padding: 14px 0 10px;
              color: #ffffff;
              font-size: 20px;
              font-weight: bold;
              transition: all .3s ease;
            }
          }
        }
      }
  }
  &.edit-address {
    max-width: 420px;
    max-height: 800px;
    margin: auto;
  }
  &.remove_order{
    max-width: 800px;
    max-height: 700px;
    margin: auto;
  }
  &.login,&.signup{
    max-width: 420px;
    max-height: 770px;
    margin: auto;
  }
  // &.switch_language{
  //   max-width: 380px;
  //   max-height: 420px;
  //   margin: auto;
  // }
  // &.full_video{
  //   max-width: 1100px;
  //   max-height: 770px;
  //   margin: auto;
  //   width: 100%;
  // }
  &.repeat_order{
    max-width: 420px;
    max-height: 420px;
    margin: auto;
  }
  &.min_cart{
    .popup__window{
      height: 100%;
      @media screen and (max-width:999px) {
       padding: 30px 15px 0;
       max-width: 100%;
      }
    }
    #{$end}: auto;
    background: white;
    transform: translate(-100%, 0);
    transition: 0.3s all ease-in-out;
    width: 410px;
    padding: 0;
    @media screen and (max-width:999px) {
      top: 0;
      width: 320px;
    }
    &.popup_visible{
      transform: translate(0, 0);
      overflow: unset;
    } 
    .popup__close{
      top: 10px;
      #{$end}: -30px;
      font-weight: bold;
      @media screen and (max-width:999px) {
        top: 15px;
        #{$end}: 20px;
        color: black;
        font-size: 18px !important;
      }
    }
    .form-content{
      padding: 30px 0;
      position: relative;
      height: 100%;    
      @media screen and (max-width:999px) {
        padding: 10px 0;
       }
      .top{
        border-bottom: 1px solid #97979761;
        @media screen and (max-width:999px) {
          display: flex;
          justify-content: space-between;
          padding-bottom: 15px;
         }
        .cart_info{
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 20px;
          @media screen and (max-width:999px) {
            width: 100%;
            padding: 0;
          }
          .title_min_cart{
            h2{
              position: relative;
              color: #414241;
              font-size: 21px;
              font-weight: 500;
              padding-#{$end}: 30px;
              @media screen and (max-width:999px) {
                padding-#{$end}: 0;
                font-size: 18px;
              }
              &::before {
                content: "shopping_cart";
                position: absolute;
                font-family: "Material Icons";
                font-size: 25px;
                right: 0;
                top: -3px;
                color: black;
                display: inline-flex;
                align-items: center;
                @media screen and (max-width:999px) {
                 display: none;
                }
              }
            }
          }
          .info_min_cart{
            @media screen and (max-width:999px) {
             display: none;
            }
            h4{
              color: #000104;
              font-size: 14px;
              font-weight: 500;
              .price{
                font-size: 18px;
                font-weight: bold;
                padding: 8px 0 3px;
              }
              .qun{
                display: block;
              }
            }
          }
        }
        .cart_action{
          display: flex;
          justify-content: space-between;
          padding: 20px 15px;
          @media screen and (max-width:999px) {
            width: 100%;
            padding: 0;
            justify-content: flex-end;
          }
          a{
            width: calc(100% / 2 - 9px);
            padding: 14px 0;
            border: 2px solid #414241;
            border-radius: 4px;
            font-size: 14px;
            font-weight: bold;
            text-align: center;
            &.open_checkout{
              background: #3a7d44;
              border: 0;
              transition: all .3s ease;
                @media screen and (max-width:999px) {
                 display: none;
                }
                &:hover{
                  background: #2d6435;
                }
              button{
                color: white;
              }
            }
            &.open_cart{                  
              transition: all .3s ease;
              padding: 12px 0;
              @media screen and (max-width:999px) {
                padding: 10px 0;
                font-size: 13px;
                width: 150px;
               }
              &:hover{
                  background: black;
                  border: 2px solid black;
                  button{
                    color: white;
                  }
              }
            }
        
            button{
              width: 100%;
              color: #414241;
              line-height: 18px;
            }
          }
        }
      }
      .all_item{
        padding: 20px 15px 0;
        height: calc(100% - 300px);
        overflow: scroll;
        @media screen and (max-width:999px) {
          overflow: scroll;
          padding: 20px 0 0;
          height: calc(100% - 240px);
        }
        &::-webkit-scrollbar {
          display: none;
        }
        .single_item{
          position: relative;
          border-bottom: 1px solid #d8d8d8;
          padding: 15px 0;
          &:last-child{
            padding: 15px 0 0;
            border-bottom: 0;
          }
          .sec_item{
            display: flex;
            .img{
              img{
                border-radius: 4px;
                @media screen and (max-width:999px) {
                  height: 75px;
                }
              }
            }
            .info{
              padding-right: 15px;
              .text{
                h4{
                    color: #121212;
                    font-size: 17px;
                    font-weight: bold;
                    line-height: 20px;
                    @media screen and (max-width:999px) {
                      font-size: 12px;
                    }
                }
                ul{
                  display: flex;
                  padding: 12px 0 0;
                  @media screen and (max-width:999px) {
                    padding: 8px 0 0;
                  }
                  li{
                      color: #6c707d;
                      font-size: 12px;
                      font-weight: 500;
                      line-height: 14px;
                      border-left: 1px solid #97979770;
                      padding: 0 6px;
                      @media screen and (max-width:999px) {
                       font-size: 11px;
                      }
                      &:first-child{
                          padding: 0 0 0 3px;
                      }
                      &:last-child{
                          border-left: 0;
                          padding: 0 3px 0 0;
                      }
                  }
                }
              }
              .section_count{
                display: flex;
                align-items: center;
                padding: 15px 0 20px;
                @media screen and (max-width:999px) {
                  font-size: 11px;
                 }
                .increase{
                  width: 43px;
                  height: 31px;
                  // background: #80808033;
                  background: black;
                  border-radius: 4px;
                  position: relative;
                  @media screen and (max-width:999px) {
                    width: 35px;
                    height: 25px;
                   }
                    &::before {
                        content: "add";
                        @include MaterialFamily;
                        font-size: 20px;
                        position: absolute;
                        // color: #8080808f;
                        color: white;
                        top: 6px;
                        #{$start}: 12px;
                        cursor: pointer;
                        pointer-events: none; 
                        font-weight: 500;
                        @media screen and (max-width:999px) {
                         font-size: 18px;
                         top: 4px;
                         #{$start}: 9px;
                        }
                    }
                    &.disabled{
                      opacity: 0.2 !important;
                    }
                }
                
                .number_count{
                  color: black;
                  font-size: 16px;
                  font-weight: 900;
                  max-width: 35px;
                  text-align: center;
                  margin-top: 5px;
                  @media screen and (max-width:999px) {
                    font-size: 12px;
                    max-width: 25px;
                   }
                }
                .decrease{
                    width: 43px;
                    height: 31px;
                    // background: #80808033;
                    background: black;
                    border-radius: 4px;
                    position: relative;
                    @media screen and (max-width:999px) {
                      width: 35px;
                      height: 25px;
                     }
                  &::before {
                    content: "remove";
                    @include MaterialFamily;
                    font-size: 20px;
                    position: absolute;
                    // color: #8080808f;
                    color: white;
                    top: 6px;
                    #{$start}: 12px;
                    cursor: pointer;
                    pointer-events: none; 
                    font-weight: 500;
                    @media screen and (max-width:999px) {
                      font-size: 18px;
                      top: 4px;
                      #{$start}: 9px;
                    }
                  }
                &.disabled{
                  opacity: 0.2 !important;
                }
                }
              }
              .total_price{
                color: #000104;
                font-size: 18px;
                font-weight: bold;
                @media screen and (max-width:999px) {
                  font-size: 14px;
                 }
              }
              .remove_min_cart{
                color: #6c707d;
                font-size: 13px;
                font-weight: 500;
                line-height: 20px;
                position: absolute;
                bottom: 15px;
                padding-#{$end}: 20px;
                opacity: .7;
                #{$start}:0;
                @media screen and (max-width:999px) {
                  font-size: 10px;
                  padding-#{$end}: 15px;
                 }
                &::before {
                    content: "delete_forever";
                    @include MaterialFamily;
                    font-size: 18px;
                    position: absolute;
                    color: #6c707d;
                    opacity: .4;
                    top: -2px;
                    #{$end}: 0;
                    cursor: pointer;
                    pointer-events: none; 
                    font-weight: 500;
                    @media screen and (max-width:999px) {
                      font-size: 12px;
                     }
                }
              }
            }
          }
        }
      }
      .section_emty{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
          max-width: 50px;
          @media screen and (max-width:770px) {
           max-width: 35px;
          }
        }
        p{
          color: #414241;
          font-size: 12px;
          font-weight: 500;
          padding: 15px 0;
        }
        a{
          width: 100%;
          display: block;
          padding: 18px 0;
          border-radius: 4px;
          font-size: 16px;
          font-weight: bold;
          text-align: center;
          background: black;
          transition: all .3s ease;
          button{
            width: 100%;
            color: white;
          }
        }
      }
      .bottom{
        position: absolute;
        bottom: 20px;
        width: 100%;
        padding: 20px 20px 0;
        border-top: 1px solid #97979761;
        .bottom_info{
          padding-bottom: 10px;
          .info_min_cart{
            h4{
              color: #000104;
              font-size: 14px;
              font-weight: 500;
              @media screen and (max-width:999px) {
                font-size: 12px;
               }
              .price{
                font-size: 18px;
                font-weight: bold;
                padding: 8px 0 3px;
                @media screen and (max-width:999px) {
                  font-size: 14px;
                 }
              }
              .qun{
                display: block;
              }
            }
          }
        }
        a{
          width: 100%;
          display: block;
          padding: 18px 0;
          border-radius: 4px;
          font-size: 16px;
          font-weight: bold;
          text-align: center;
          background: #3a7d44;
          transition: all .3s ease;
          &:hover{
              background: #2d6435;
          }
          button{
            width: 100%;
            color: white;
          }
        }
      }
      .min_cart{
        height: 100%;
      }
      .empty_min_cart{
        height: 100%;
        .top{
          .cart_info{
            padding: 0 20px 20px;
            .info_min_cart{
              display: none;
            }
          }
          .cart_action{
            display: none;
          }
        }

        .bottom{
          display: none;
        }
      }
     
    }
  }
  &.filter{
    .popup__window{
      padding: 30px 10px 0;
      max-width: 100%;
      height: 100%;
    }
    #{$start}: auto;
    background: white;
    transform: translate(100%, 0);
    transition: 0.3s all ease-in-out;
    width: 320px;
    padding: 0;
    top: 0;
    z-index: 9999;
    &.popup_visible{
      transform: translate(0, 0);
      overflow: unset;
    } 
    .form-content{
      height: calc(100% - 160px);
      overflow: scroll;
      .section_filter_mobile{
        width: 100%;
        .section_ranking{
            padding-bottom: 20px;
            label{
                color: black;
                font-size: 13px;
                font-weight: bold;
                line-height: 20px;
                padding-bottom: 5px;
            }
            .select_arrow{
                position: relative;
                width: 178px;
                select{
                    background: white;                      
                    border-radius: 5px;
                    border: 1px solid #c1c9d2;
                    width: 100%;
                    font-size: 12px;
                    font-weight: 500;
                    padding: 8px 10px;
                    cursor: pointer;
                    line-height: 15px;
                }
                &::before {
                    content: "expand_more";
                    @include MaterialFamily;
                    font-size: 16px;
                    position: absolute;
                    color: #878b8f;
                    top: 10px;
                    left: 10px;
                    cursor: pointer;
                    pointer-events: none; 
                    
                }
                
            }
        }
        .list_filter{
            border-top: 1px solid #c1c9d282;
            padding-top: 20px;
            .form-checkbox{
                position: relative;
                padding-bottom: 20px;
                .hide{
                    display: none;
                }
                &.active{
                    padding-bottom: 40px;
                    .read-more{
                        display: none;
                    }
                    .read-less{
                        display: block;
                    }
                    .hide{
                        display: block;
                    }
                }
                h3{
                    color: black;
                    font-size: 13px;
                    font-weight: bold;
                    line-height: 20px;
                    padding-bottom: 15px;
                }
                .form-checkbox-content{
                    position: relative;
                    label{
                      color: #414241;
                      font-size: 13px;
                      font-weight: 500;
                      line-height: 16px;
                      // padding-#{$end}: 23px;
                      padding-bottom: 16px;
                  }
                  .checkbox-box {
                      border: 2px solid black;
                      border-radius: 0.2em;
                      width: 24px;
                      padding: 2px;
                      margin: 0 0 0 8px;
                      height: 24px;
                      cursor: pointer;
                  
                      &:not(:checked),
                      &:checked {
                          position: absolute;
                          #{$start}: 0;
                          opacity: 1;
                          background: transparent;
                          z-index: 99999;
                          border: none;
                          width: 100%;
                      }

                      &:not(:checked) + label:before,
                      &:checked + label:before {
                          content: "check_box_outline_blank";
                          @include MaterialFamily;
                          font-size: 20px;
                          margin-left: 3px;
                          vertical-align: bottom;
                          transition: all 0.275s;
                      }

                      &:checked + label:before {
                          content: "check_box";
                      }

                      // &:not(:checked) + label:after,
                      // &:checked + label:after {
                      //     font-family: "Material Icons";
                      //     content: "checked";
                      //     position: absolute;                            
                      //     top: 8px;
                      //     #{$end}: -24px;
                      //     font-size: 13px;
                      //     font-weight: bold;
                      //     color: white;
                      //     line-height: 0;
                      //     -webkit-transition: all 0.2s;
                      //     transition: all 0.2s;
                      //     // body.ltr & {
                      //     // #{$start}: 2px;
                      //     // }
                      // }

                      // &:not(:checked) ~ label:after {
                      //     opacity: 0;
                      // }

                      // &:checked + label:after {
                      //     opacity: 1;
                      // }
                      // &:disabled:not(:checked) + label:before,
                      // &:disabled:checked + label:before {
                      //     box-shadow: none;
                      //     border-color: #bbb;
                      //     background-color: #e9e9e9;
                      // }
                  }
                }
                .read-more{
                    font-size: 12px;
                    text-decoration: underline;
                    padding: 0px 0 10px;
                    display: block;
                    cursor: pointer;
                }
                .read-less{
                    position: absolute;
                    bottom: 20px;
                    font-size: 14px;
                    text-decoration: underline;
                    cursor: pointer;
                    display: none;
                }
            }
          
        }
    }
    }
   
   
    .section_action{
      position: absolute;
      bottom: 40px;
      left: 12px;
      right: 12px;
      display: flex;
      flex-direction: column;
      z-index: 9;
      .botton_filter{
        width: 100%;
        line-height: 50px;
        background: #3a7d44;
        border-radius: 22px;
        color: rgb(255, 255, 255);
        font-size: 15px;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
      .clear{
        display: none;
        color: rgb(174, 158, 157);
        font-size: 15px;
        font-family: Poppins;
        font-weight: normal;
        text-decoration: underline;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        padding-top: 25px;
      }
    }
  }
}


.button_home{
           
  a{
      max-width: 240px;
      margin: 0 auto;
      background: #63001e;
      border-radius: 2px;
      display: block;
      text-align: center;
      color: #ffffff;
      font-size: 18px;
      font-weight: bold;
      padding: 17px 0 14px;
      cursor: pointer;
      transition: all .3s ease;
      @media screen and (max-width:770px) {
        font-size: 13px;
        max-width: 150px;
        padding: 11px 0 10px;
      }
      &:hover{
          background: #53011a;
      }
  }
}
.section_instagram{
  background: black;
  position: relative;
  &::before{
    content: '';
    display: inline-block;
    background-image: url('../img/icons/pattern.png');
    background-size: 80px;
    width: 100%;
    height: 55px;
    position: absolute;
    bottom: 0;
    right: 0;
    @media screen and (max-width:770px) {
      background-size: 30px;
      height: 21px;
    }
  }
  .section_title_insta{
    text-align: center;
    padding-top: 6%;
    &::before{
        display: none;
    }
    img{
      @media screen and (max-width:770px) {
          width: 30px;
      }
    }
    h3{
      color: rgb(255, 255, 255);
      font-size: 42px;
      font-weight: bold;
      @media screen and (max-width:770px) {
        font-size: 18px;
      }
      p{
          color: rgb(255, 255, 255);
          font-size: 24px;
          font-weight: 300;
          padding-bottom: 10px;
          padding-top: 20px;
          @media screen and (max-width:770px) {
            font-size: 13px; 
            padding-top: 12px;  
        }
      }
    }
  }
  .instagram_container{
      padding: 3% 0 15%;
      @media screen and (max-width:770px) {
        padding: 3% 0 8%;
      }
    .instagram_list{
      display: flex;
      justify-content: center;
      margin: 0 -7px;
      .instagram_widget{
        padding: 0 7px;
        .instagram_widget_box{
          display: block;
          border-radius: 2px;
          .text{
            padding: 15px 10px;
            @media screen and (max-width:770px) {
              padding: 5px 0;
            }
            .title{
              color: #ffffff;
              font-size: 18px;
              font-weight: bold;
              @media screen and (max-width:770px) {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}
.section_loader{
  position: relative;
  margin: 60px 0 30px;
  .loader{
    width : 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    background: linear-gradient(0deg, rgba(white,0.2) 33%, rgba(white,1) 100%);
    animation: rotation 1s linear infinite;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    &:after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50% , -50%);
        width : 48px - 4px;
        height: 48px - 4px;
        border-radius: 50%;
        background: white;
    }
}
@keyframes rotation {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}
}

#ajax_loader{
  background: #000000;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999;
  opacity: 0.8;
  .loader{
      width : 48px;
      height: 48px;
      border-radius: 50%;
      display: inline-block;
      position: relative;
      background: linear-gradient(0deg, rgba(white,0.2) 33%, rgba(white,1) 100%);
      animation: rotation 1s linear infinite;
      margin: auto;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      &:after {
          content: '';
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50% , -50%);
          width : 48px - 4px;
          height: 48px - 4px;
          border-radius: 50%;
          background: #0c0c0c;
      }
  }
  @keyframes rotation {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
  }
}

.footer_baner{
  background: $red;
  padding: 30px 0;
  .grid{
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 767px) {
      flex-wrap: wrap;
      // justify-content: center;
      // flex-direction: column;
    }
    .title{
      position: relative;
      padding-#{$end}: 120px;
      @media screen and (max-width: 767px) {
        padding-bottom: 30px;
        padding-top: 30px;
        padding-#{$end}: 0px;

      }
      &::before{
        content: '';
        background-image: url(../img/icons/footer_baner_icon.png);
        width: 90px;
        height: 90px;
        background-size: 90px;
        background-repeat: no-repeat;
        position: absolute;
        #{$end}: 0;
        @media screen and (max-width: 767px) {
          background-size: 45px;
          top: -20px;
          width: 50px;
        }
      }
      h3{
        color: #ffffff;
        font-size: 32px;
        font-weight: bold;
        line-height: 48px;
        @media screen and (max-width: 767px) {
          font-size: 22px;
          line-height: 33px;
          padding-bottom: 5px;
        }
      }
      p{
        color: #ffffff;
        font-size: 16px;
        font-weight: normal;
        line-height: 48px;
        @media screen and (max-width: 767px) {
          font-size: 14px;
          line-height: 28px;
        }
      }
    }
    .button{
      @media screen and (max-width: 767px) {
       width: 100%;
      }
      a{
        display: block;
        width: 258px;
        border: 2px solid #ffffff;
        border-radius: 4px;
        color: #ffffff;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        padding: 15px 0;
        transition: all .3s ease;
        @media screen and (max-width: 767px) {
          width: 100%;
         }
        &:hover{
          background: white;
          color: black;
        }
      }
    }
  }
}


.zoomLens {
  width: 200px !important;
  height: 200px !important;
  border: none !important
}

.zoomContainer .zoomWindowContainer div {
  border: none !important;
}

.zoomContainer {
  pointer-events: none !important;
  z-index: 99999999 !important;
}

@media (max-width:992px) {
  .zoomContainer {
      display: none !important;
  }
}
.ui-icon-zoomin {
  background-position: -128px -112px;
}

.ui-icon-zoomout {
  background-position: -144px -112px;
}

.ui-icon-circle-zoomin {
  background-position: -176px -192px;
}

.ui-icon-circle-zoomout {
  background-position: -192px -192px;
}



.spinner {
  width: 48px;
  height: 48px;
  border: 3px solid #f1eaea;
  border-bottom-color: #000000;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 100px auto;
  z-index: 9;
  display: block;
  // &::after {
  //     content: '';  
  //     box-sizing: border-box;
  //     position: absolute;
  //     left: 50%;
  //     top: 50%;
  //     transform: translate(-50%, -50%);
  //     width: 44px;
  //     height: 44px;
  //     border-radius: 50%;
  //     background: white;
  // }
 
}
@keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
} 