.page_about{
    .section_title{
        position: relative;
        text-align: center;
        padding: 60px 0;
        @media screen and (max-width:770px) {
          padding: 30px 0;
        } 
        img{
          @media screen and (max-width:770px) {
           max-width: 30px;
          } 
        }
        h1{
            font-size: 48px;
            font-weight: 800;
            padding-top: 15px;
            @media screen and (max-width:770px) {
              font-size: 28px;
              padding-top: 10px;
            } 
        }
        p{
            color: #414241;
            font-size: 16px;
            font-weight: normal;
            text-align: center;
            line-height: 30px;
            padding-top: 20px;
            max-width: 600px;
            margin: 0 auto;
            @media screen and (max-width:770px) {
              font-size: 14px;
              line-height: 30px;
            } 
        }
    }
    .hero_about{
      img{
        width: 100%;
        @media screen and (max-width:767px) {
            height: 350px;
            object-fit: cover;
         } 
      }
    }
    .section_slide{
        padding: 10% 0;
        .single_slide{
            position: relative;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding-top: 10%;
            @media screen and (max-width:999px) {
             flex-direction: column-reverse;
             align-items: flex-start;
             padding-top: 30px;
            } 
            &:first-child{
                padding-top: 0;
            }
            &.row_reverse{
                flex-direction: row-reverse;
                @media screen and (max-width:770px) {
                  flex-direction: column-reverse;
                 } 
                .text{
                  #{$end}: auto;
                  #{$start}: 0;
                }
                .img{
                  position: relative;
                  @media screen and (max-width:770px) {
                    width: 100%;
                  } 
                  &::before{
                    top: -40px;
                    right: -40px;
                  }
                }
            }
        
           
            .text{
                width: 850px;
                background: #e5dabf;
                position: absolute;
                #{$end}: 0;
                padding: 20px;
                z-index: 9999;
                @media screen and (max-width:999px) {
                  width: 100%;
                  position: relative;
                  margin-top: 15px;
                }
                .box_border{
                  border: 2px solid black;
                  padding: 50px 30px 80px;
                  @media screen and (max-width:999px) {
                    padding: 20px 30px 20px;

                  }
                  h3{
                      color: #000000;
                      font-size: 38px;
                      font-weight: bold;
                      line-height: 52px;
                      padding-bottom: 20px;
                      display: none;
                      @media screen and (max-width:999px) {
                       font-size: 22px;
                       line-height: 12px;
                      }
                  }
                  p{
                      color: #000000;
                      font-size: 16px;
                      font-weight: normal;
                      line-height: 36px;
                      @media screen and (max-width:999px) {
                        font-size: 14px;
                        line-height: 26px;
                       }
                       b{
                         font-weight: normal;
                       }
                  }
                }
               
            }
            .img{
              position: relative;
              @media screen and (max-width:999px) {
                width: 100%;
              } 
              &::before{
                content: '';
                display: inline-block;
                width: 500px;
                height: 360px;
                position: absolute;
                bottom: -40px;
                left: -40px;
                background: #e5dabf85;
                @media screen and (max-width:770px) {
                  display: none;
                } 
            }
              img{
                position: relative;
                z-index: 999;
                @media screen and (max-width:999px) {
                  width: 100%;
                  // height: 400px;
                } 
               
              }
            }
        }
    }
    .section_team{
      padding-bottom: 20px;
      .section_title{
        img{
          opacity: .4;
        }
        h3{
          font-size: 32px;
          font-weight: bold;
          line-height: 48px;
          padding-top: 10px;
        }
      }
      .all_team{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        position: relative;
        &::before{
          content: '';
          display: inline-block;
          width: 100%;
          position: absolute;
          top: 100px;
          bottom: 150px;
          left: -50px;
          right: -50px;
          margin: auto;
          background: #e5dabf85;
        }
        .single_team{
          width: calc(100% / 5);
          margin: 0 -5px;
          z-index: 9;
          a{
            padding: 0 10px 60px;
            display: block;
            img{
              width: 100%;
            }
            .text{
              padding-top: 12px;
              h4{
                font-size: 16px;
                font-weight: bold;
              }
              p{
                font-size: 14px;
                font-weight: normal;
                padding-top: 8px;
              }
            }
          }
        }
      }
    }
}