.blog{
    .section_blog{
        .grid{
            max-width: 950px;
            .section_title{
                text-align: center;
                padding: 50px 0 40px;
                @media screen and (max-width:999px) {
                    padding: 20px 0 10px;
                }
                h2{
                  color: #414241;
                  font-size: 38px;
                  font-weight: bold;
                  padding: 15px 0;
                     @media screen and (max-width:999px) {
                        font-size: 25px;
                    }
                }
            }
            .blog_list{
                padding-bottom: 50px;
                .list{
                    .single_blog{
                        padding: 50px 0;
                        border-top: 1px solid #cbc9cc6b;
                        @media screen and (max-width:999px) {
                            padding: 25px 0;
                        }
                        &:first-child{
                            padding-bottom: 50px;
                            padding-top: 0;
                            border-top: 0;
                            @media screen and (max-width:999px) {
                                padding-bottom: 25px;
                            }
                        }
                        .blog_link{
                            .text{
                                h3{
                                    color: #000000;
                                    font-size: 24px;
                                    font-weight: bold;
                                    line-height: 32px;
                                    @media screen and (max-width:999px) {
                                        font-size: 16px;
                                        line-height: 22px;
                                    }
                                }
                                p{
                                    color: #000000;
                                    font-size: 18px;
                                    line-height: 26px;
                                    padding: 20px 0 10px;
                                    @media screen and (max-width:999px) {
                                        font-size: 12px;
                                        padding: 5px 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
       
    }
    .section_single_blog{
        img{
            width: 100%;
        }
        .content_single_blog{
            padding: 40px 0;
            @media screen and (max-width:999px) {
               padding: 20px 0;
            }
            .section_title{
                text-align: center;
                padding-bottom: 20px;
                @media screen and (max-width:999px) {
                   padding-bottom: 10px;
                }
                h3{
                    color: #000000;
                    font-size: 38px;
                    font-weight: bold;
                    line-height: 62px;
                    @media screen and (max-width:999px) {
                        font-size: 18px;
                        line-height: 22px;
                    }
                }
                p{
                    color: #000000;
                    font-size: 18px;
                    line-height: 26px;
                    padding-bottom: 10px;
                    @media screen and (max-width:999px) {
                        font-size: 12px;
                        line-height: 15px;
                    }
                }
            }
            .content{
                max-width: 900px;
                margin: 0 auto;
                h2{
                    font-size: 20px;
                    padding-bottom: 5px;
                    @media (max-width:770px) {
                        font-size: 16px;
                    }
                }
                h3{
                    font-size: 18px;
                    padding-bottom: 5px;
                    @media (max-width:770px) {
                        font-size: 14px;
                    }
                }
                h4{
                    font-size: 16px;
                    padding-bottom: 5px;
                    @media (max-width:770px) {
                        font-size: 12px;
                    }
                }
                h5{
                    font-size: 14px;
                    padding-bottom: 5px;
                    @media (max-width:770px) {
                        font-size: 12px;
                    }
                }
                h6{
                    font-size: 12px;
                    padding-bottom: 5px;
                    @media (max-width:770px) {
                        font-size: 12px;
                    }
                }
                p{
                    color: #414241;
                    font-size: 16px;
                    line-height: 28px;
                    font-weight: 500;
                    padding: 10px 0;
                    @media screen and (max-width:999px) {
                        font-size: 12px;
                        line-height: 25px;
                        padding: 5px 0;
                    }
                    +p{
                        padding-top: 15px;
                    }
                }
                img{
                    display: block;
                    width: 100%;
                    margin: 10px 0;
                }
                strong{
                    font-weight: 700;
                }
                a{
                    display: inline-block;
                    color: #2075ff;
                    &:hover{
                        text-decoration: underline;
                    }
                }
                ul,
                ol {
                    padding: 10px 0;
                  li {
                    padding-#{$end}: 15px;
                    padding-bottom: 10px;
                    position: relative;
                    font-size: 16px;
                    font-weight: normal;
                    line-height: 28px;
                    color: #474747;
                    @media screen and (max-width:770px) {
                        font-size: 12px;
                        padding-#{$end}: 12px;
                        padding-bottom: 0;
                      }  
                    &::before {
                      content: "";
                      position: absolute;
                      #{$end}: 0;
                      width: 8px;
                      height: 8px;
                      background-color: $red;
                      top: 9px;
                      border-radius: 50%;
                      @media screen and (max-width:770px) {
                        width: 5px;
                        height: 5px;
                        top: 10px;
                       }  
                    }
                  }
                }
                .video-box {
                    position: relative;
                    margin: 15px 0;
                    &::before {
                      content: "";
                      display: block;
                      padding-top: percentage(430/800);
                    }
                    .bg {
                      background-repeat: no-repeat;
                      background-size: cover;
                      background-position: center;
                      position: relative;
                      position: absolute;
                      top: 0;
                      left: 0;
                      bottom: 0;
                      right: 0;
                      z-index: 3;
                      border-radius: 2px;
                      &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        background-color: #000;
                        opacity: 0.3;
                        z-index: 1;
                      }
                      .player {
                        width: 70px;
                        height: 70px;
                        // background-image: url(../../assets/img/icons/play-icon.png);
                        background-size: cover;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        z-index: 2;
                        background: #1a191926;
                        border-radius: 50%;
                        @include transform(translate(-50%, -50%));
                        &::before {
                          content: "";
                          position: absolute;
                          background-image: url(../../assets/img/icons/play-icon.png);
                          background-size: cover;
                          background-size: 70px;
                          top: 0;
                          left: 0;
                          bottom: 0;
                          right: 0;
                        }
                      }
                    }
                    .youtube-video {
                      position: relative;
                      position: absolute;
                      z-index: 2;
                      top: 0;
                      left: 0;
                      bottom: 0;
                      right: 0;
                      width: 100%;
                      height: 100%;
                      .videoIframe {
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        height: 100%;
                        width: 100%;
                        border-radius: 2px;
                      }
                    }
                    &.active {
                      .bg {
                        opacity: 0;
                        pointer-events: none;
                      }
                    }
                  }
            }
        }
        
    }
}