.page_cart{
    .cart{
        padding: 70px 0 30px;
        @media screen and (max-width:770px) {
           padding: 20px 0;
        }
        .grid{
            max-width: 1170px;
        }
        .sectio_title_cart{
            position: relative;
            padding-bottom: 30px;
            @media screen and (max-width:770px) {
                padding-bottom: 20px;
            }
            h2{
                color: #414241;
                font-size: 28px;
                font-weight: bold;
                padding-#{$end}: 55px;
                @media screen and (max-width:770px) {
                 font-size: 20px;
                 padding-#{$end}: 35px;
                }
                .cart_subtitle{
                    color: #414241;
                    font-size: 16px;
                    font-weight: normal;
                    line-height: 26px;
                    padding-bottom: 5px;
                    @media screen and (max-width:770px) {
                        font-size: 10px;
                        line-height: 16px;
                    }
                }
            }
            &::before {
                content: "shopping_cart";
                position: absolute;
                font-family: "Material Icons";
                font-size: 45px;
                right: 0;
                top: 5px;
                color: black;
                display: inline-flex;
                align-items: center;
                @media screen and (max-width:770px) {
                   font-size: 25px;
                }
              }
        }
        .section_cart{
            background: #ffffff;
            border: 1px solid #e7e7e7;
            box-shadow: 0px 0px 10px 0px #b3b3b333;
            border-radius: 8px;
            padding: 20px;
            .cart_list{
                .single_item{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-top: 1px solid #cbc9cc6b;
                    padding: 20px 0;
                    position: relative;
                    @media screen and (max-width:770px) {
                        flex-direction: column;
                        align-items: flex-start;
                     }
                    &:first-child{
                        border-top: 0;
                        padding: 0;
                        padding-bottom: 15px;
                    }
                    &:last-child{

                        border-bottom: 1px solid #cbc9cc6b;
                    }
                    .sec_item{
                        display: flex;
                        align-items: center;
                        width: calc(100% - 50%);
                        @media screen and (max-width:770px) {
                            width: 100%;
                            align-items: flex-start;
                         }
                        .img{
                            img{
                                border-radius: 4px;
                                @media screen and (max-width:770px) {
                                    width: 120px;
                                 }
                            }
                        }
                        .info{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            padding-#{$end}: 15px;
                            width: calc(100% - 10%);
                            @media screen and (max-width:770px) {
                                flex-direction: column;
                                align-items: flex-start;
                                padding-#{$end}: 10px;
                                padding-top: 15px;
                             }
                            .text{
                                @media screen and (max-width:770px) {
                                   padding-bottom: 0;
                                 }
                                .title_link{
                                    h4{
                                        color: #121212;
                                        font-size: 18px;
                                        font-weight: bold;
                                        line-height: 20px;
                                        @media screen and (max-width:770px) {
                                            font-size: 14px;
                                          }
                                    }
                                }
                               
                                ul{
                                    display: flex;
                                    flex-wrap: wrap;
                                    padding: 12px 0;
                                    li{
                                        color: #6c707d;
                                        font-size: 14px;
                                        font-weight: 500;
                                        line-height: 14px;
                                        border-left: 1px solid #97979770;
                                        padding: 0 6px;
                                        margin-bottom: 4px;
                                        @media screen and (max-width:770px) {
                                            font-size: 12px;
                                          }
                                        &:first-child{
                                            padding: 0 0 0 3px;
                                        }
                                        &:last-child{
                                            border-left: 0;
                                            padding: 0 3px 0 0;
                                        }
                                    }
                                }
                                .product-note{
                                    font-size: 12px;
                                    font-weight: 600;
                                    padding-top: 5px;
                                    display: block;
                                    color: #3a3a3a;
                                  }
                                .remove_page_cart{
                                    color: #6c707d;
                                    font-size: 13px;
                                    font-weight: 500;
                                    line-height: 20px;
                                    position: absolute;
                                    bottom: 20px;
                                    padding-#{$end}: 20px;
                                    opacity: .7;
                                    @media screen and (max-width:770px) {
                                        font-size: 11px;
                                       bottom: 10px;
                                       #{$start}: 0;
                                       padding-#{$end}: 14px;
                                    }
                                    &::before {
                                        content: "delete_forever";
                                        @include MaterialFamily;
                                        font-size: 18px;
                                        position: absolute;
                                        color: #6c707d;
                                        opacity: .4;
                                        top: -2px;
                                        #{$end}: 0;
                                        cursor: pointer;
                                        pointer-events: none; 
                                        font-weight: 500;
                                        @media screen and (max-width:770px) {
                                            font-size: 14px;
                                        }
                                    }
                                }
                            }
                            p{
                                color: #000104;
                                font-size: 14px;
                                font-weight: bold;
                                @media screen and (max-width:770px) {
                                    font-size: 13px;
                                    padding-top: 7px;
                                }
                            }
                        }
                    }
                    .section_count{
                        display: flex;
                        align-items: center;
                        padding: 15px 0 20px;
                        @media screen and (max-width:770px) {
                            padding-top: 10px;
                            padding-bottom: 0;
                        }
                        .increase{
                          width: 50px;
                          height: 35px;
                          background: black;
                          border-radius: 4px;
                          position: relative;
                            @media screen and (max-width:770px) {
                                width: 30px;
                                height: 25px;
                            } 
                            &::before {
                                content: "add";
                                @include MaterialFamily;
                                font-size: 22px;
                                position: absolute;
                                color: white;
                                top: 6px;
                                #{$start}: 13px;
                                cursor: pointer;
                                pointer-events: none; 
                                font-weight: 500;
                                @media screen and (max-width:770px) {
                                    top: 4px;
                                    #{$start}: 6px;
                                    font-size: 18px;
                                } 
                            }
                            &.disabled{
                                opacity: 0.2 !important;
                            }
                        }
                        .number_count{
                          color: black;
                          font-size: 20px;
                          font-weight: 900;
                          max-width: 50px;
                          text-align: center;
                          @media screen and (max-width:770px) {
                            margin-top: 6px;
                            font-size: 15px;
                            max-width: 30px;
                        } 
                        }
                        .decrease{
                            width: 50px;
                            height: 35px;
                            background: black;
                            border-radius: 4px;
                            position: relative;
                            @media screen and (max-width:770px) {
                                width: 30px;
                                height: 25px;
                            } 
                            &::before {
                            content: "remove";
                            @include MaterialFamily;
                            font-size: 22px;
                            position: absolute;
                            color: white;
                            top: 6px;
                            #{$start}: 13px;
                            cursor: pointer;
                            pointer-events: none; 
                            font-weight: 500;
                                @media screen and (max-width:770px) {
                                    top: 4px;
                                    #{$start}: 6px;
                                    font-size: 18px;
                                } 
                            }
                            &.disabled{
                                opacity: 0.2 !important;
                            }
                        }
                    }
                    .total_price{
                        color: #000104;
                        font-size: 14px;
                        font-weight: bold;
                    }
                }
            }
            .total_price{
                color: #000104;
                font-size: 19px;
                font-weight: bold;
                text-align: left;
                padding: 15px 0;
                @media screen and (max-width:770px) {
                    padding-bottom: 0;
                
                } 
            }
            .cart_action{
                display: flex;
                justify-content: space-between;
                @media screen and (max-width:770px) {
                   flex-direction: column-reverse;
                   padding-top: 20px;
                 }
                .right{
                    width: 350px;
                    @media screen and (max-width:770px) {
                      width: 100%;
                      }
                    button{
                        background: #3a7d44;
                        border-radius: 2px;
                        max-width: 350px;
                        width: 100%;
                        padding: 16px 0;
                        color: #ffffff;
                        font-size: 16px;
                        font-weight: bold;
                        transition: all .3s ease;
                        border-radius: 50px;
                        &:hover{
                            background: #2d6435;
                        }
                    }
                    p{
                        color: #1a1919;
                        font-size: 12px;
                        font-weight: 600;
                        line-height: 26px;
                        padding-top: 10px;
                        color: #3a7d45;
                    }
                }
                .left{
                    @media screen and (max-width:770px) {
                      padding-bottom: 20px;
                      width: 100%;
                    } 
                    .cart_total-item-coupon{   
                        margin-right: 20px;
                        display: inline-flex;
                        flex-direction: row;
                        align-items: flex-end;
                        width: 100%;
                        @media (max-width:1025px){
                            flex-direction: column-reverse;
                            align-items: flex-start;
                        }  
                        @media screen and (max-width:767px) {
                            margin-right: 0;
                        }
                    }
                    .open-coupon{
                        // display: inline-block;
                        color: #6c707d;
                        font-size: 12px;
                        font-weight: 600;
                        cursor: pointer;
                        text-align: #{$start};
                        @media screen and (max-width:770px) {
                           text-align: #{$end};
                        
                        } 
                        &:hover{
                            text-decoration: underline;
                        }
                        &.active{
                                opacity: 0;
                        }
                    }
                    .close-coupon{
                        position: absolute;
                        top: -20px;
                        right: 0;
                        z-index: 1;
                        border: none;
                        i{
                            font-size: 14px;
                        }
                    }
                    .discount-form{
                        display: none;
                        position: relative;
                        margin: 0 15px 0 0;
                        .coupon{
                            position: relative;
                            display: flex;
                            // @media (max-width:1025px){
                            //     justify-content: space-between;
                            // }
                            label{
                                position: absolute;
                                top: -19px;
                                font-size: 12px;
                                font-weight: 600;
                                color: #6c707d;
                                padding-right: 18px;
                                @media (max-width:1025px){
                                    display: none;
                                }
                            }
                            input{
                                width: 170px;
                                border-radius: 4px;
                                padding: 0px 10px;
                                height: 34px;
                                background-color: #f6f8fa;
                                border: 1px solid #c1c9d2;
                                font-size: 16px;
                                color: #000;
                                margin-left: 7px;
                                &::placeholder{
                                    opacity: 0;
                                }
                                @media (max-width:1025px){
                                    width: 75%;
                                }
                                @media screen and (max-width:770px) {
                                    width: 55%;
                                } 
                            }
                            .btn{
                                width: auto;
                                font-size: 12px;
                                padding: 0 25px;
                                background: #80808033;
                                color: black;
                                line-height: 34px;
                                font-weight: bold;
                                border-radius: 4px;
                                letter-spacing: 1px;
                                @include transition (all, 0.3s, ease-in-out);
                                @media screen and (max-width:770px) {
                                    font-size: 10px;
                                    padding: 0 15px;
                                }
                                &:hover{
                                    background: #80808052;
                                }
                            }
                        }
                        @media screen and (max-width:999px) {
                            margin: 0;
                        }
                        @media (max-width:1025px) {
                            width: 100%;
                            margin: 5px 0px 0 0;
                        }
                    }
                }
            }
        }
    }
    .related{
        padding: 40px 0;
        // .grid{
        //     max-width: 1170px;
        // }
    }
}