// .page_checkout{
//     padding: 50px 0;
//     @media screen and (max-width:770px) {
//      padding: 25px 0;
//     }
//     .grid{
//         max-width: 1100px;
//         .section_title{
//             padding-bottom: 30px;
//             @media screen and (max-width:770px) {
//               padding-bottom: 15px;
//             }
//             p{
//                 color: #414241;
//                 font-size: 28px;
//                 font-weight: bold;
//                 @media screen and (max-width:770px) {
//                   font-size: 20px;
//                }
//                 span{
//                     display: block;
//                     color: #414241;
//                     font-size: 16px;
//                     font-weight: normal;
//                     line-height: 26px;
//                     @media screen and (max-width:770px) {
//                       font-size: 10px;
//                    }
//                 }
//             }
//         }
//         .checkout{
//           font-size: 0;
//             .left{
//                 display: inline-block;
//                 vertical-align: top;
//                 width: calc(100% - 60% - 20px);
//                 background: #ffffff;
//                 border: 1px solid #e8e8e8;
//                 box-shadow: 0px 0px 10px 0px #b3b3b333;
//                 border-radius: 8px;
//                 padding: 25px;
//                 @media screen and (max-width:770px) {
//                   width: 100%;
//                   margin-top: 20px;
//                  }
//                 .top{
//                   display: flex;
//                   align-items: center;
//                   justify-content: space-between;
//                   padding-bottom: 15px;
//                   h4{
//                     color: #1a1919;
//                     font-size: 16px;
//                     font-weight: bold;
//                   }
//                   a{
//                     display: block;
//                     position: relative;
//                     color: $red;
//                     font-size: 12px;
//                     font-weight: bold;
//                     line-height: 20px;
//                     padding-left: 16px;
//                     &::before {
//                       content: "arrow_back";
//                       @include MaterialFamily;
//                       font-size: 12px;
//                       position: absolute;
//                       color: $red;
//                       top: 0;
//                       left: 0;
//                       cursor: pointer;
//                       pointer-events: none; 
                     
//                   }
//                   }
//                 }
//                 .item_cart_list{
//                   .single_item{
//                     display: flex;
//                     justify-content: space-between;
//                     border-top: 1px solid #cbc9cc6b;
//                     padding: 15px 0;
//                     .sec_item{
//                       display: flex;
//                       .img{
//                           img{
//                               border-radius: 4px;
//                           }
//                       }
//                       .text{
//                           position: relative;
//                           padding-right: 10px;
//                           h4{
//                               color: #121212;
//                               font-size: 15px;
//                               font-weight: bold;
//                               line-height: 28px;
//                           }
//                           ul{
//                             display: flex;
//                             flex-wrap: wrap;
//                             padding: 12px 0;
//                             li{
//                                 color: #6c707d;
//                                 font-size: 9px;
//                                 font-weight: 500;
//                                 line-height: 14px;
//                                 border-left: 1px solid #97979770;
//                                 padding: 0 6px;
//                                 margin-bottom: 4px;
//                                 &:first-child{
//                                     padding: 0 0 0 3px;
//                                 }
//                                 &:last-child{
//                                     border-left: 0;
//                                     padding: 0 3px 0 0;
//                                 }
//                             }
//                         }
//                           a{
//                               color: #6c707d;
//                               font-size: 12px;
//                               font-weight: normal;
//                               position: absolute;
//                               bottom: 5px;
//                           }
//                       }
//                     }
//                     .price_cart{
//                       color: #000104;
//                       font-size: 14px;
//                       font-weight: bold;
//                       padding-top: 5px;
//                       @media screen and (max-width:770px) {
//                         width: 15%;
//                       }
//                     }
//                   }
//                 }
//                 .coupon_checkout{
//                   padding: 15px 0;
//                   border-top: 1px solid #cbc9cc6b;
//                   border-bottom: 1px solid #cbc9cc6b;

//                   .open-coupon{
//                     color: #6c707d;
//                     font-size: 12px;
//                     font-weight: 600;
//                     cursor: pointer;
//                     &:hover{
//                         text-decoration: underline;
//                     }
//                     &.active{
//                             opacity: 0;
//                     }
//                   }
//                   .close-coupon{
//                       position: absolute;
//                       top: -20px;
//                       right: 0;
//                       z-index: 1;
//                       border: none;
//                       i{
//                           font-size: 14px;
//                       }
//                   }
//                   .discount-form{
//                       display: none;
//                       width: 310px;
//                       position: relative;
//                       .coupon{
//                           position: relative;
//                           display: flex;
//                           label{
//                               position: absolute;
//                               top: -19px;
//                               font-size: 12px;
//                               font-weight: 600;
//                               color: #6c707d;
//                               padding-right: 18px;
//                           }
//                           input{
//                               width: 170px;
//                               border-radius: 4px;
//                               padding: 0px 10px;
//                               height: 34px;
//                               background-color: #f6f8fa;
//                               border: 1px solid #c1c9d2;
//                               font-size: 16px;
//                               color: #000;
//                               margin-left: 7px;
//                               &::placeholder{
//                                   opacity: 0;
//                               }

//                           }
//                           .btn{
//                               width: auto;
//                               font-size: 11px;
//                               padding: 0 12px;
//                               background: #80808033;
//                               color: $red;
//                               line-height: 34px;
//                               font-weight: bold;
//                               border-radius: 4px;
//                               @include transition (all, 0.3s, ease-in-out);
//                               &:hover{
//                                 background: #80808052;
//                               }
//                           }
//                       }
//                   }
//                 }
//                 .info_cart_box{
//                   padding-top: 20px ;
//                   .list_pay{
//                     display: flex;
//                     align-items: center;
//                     justify-content: space-between;
//                     padding-bottom: 10px;
//                     &:last-child{
//                       padding-bottom: 0;
//                       padding-top: 8px;
//                     }
//                     p{
//                       color: #6c707d;
//                       font-size: 12px;
//                       font-weight: normal;
//                       +p{
//                         font-weight: bold;
//                         color: #000104;
//                       }
//                     }
//                     &.total{
//                       p{
//                         font-size: 14px;
//                         font-weight: bold;
//                         color: #000104;
//                         +p{
//                           font-size: 18px;
//                         }
//                       }
//                     }
//                   }
//                 }
//             }
//             .right{
//                 display: inline-block;
//                 width: 60%;
//                 margin-left: 20px;
//                 background: #ffffff;
//                 border: 1px solid #e7e7e7;
//                 box-shadow: 0px 0px 10px 0px #b3b3b333;
//                 border-radius: 8px;
//                 @media screen and (max-width:770px) {
//                   width: 100%;
//                 }
//                 .all_con{
//                     max-width: 500px;
//                     padding: 40px;
//                     font-size: 0;
//                     @media screen and (max-width:770px) {
//                       padding: 20px;
//                     }
//                     .con_info{
//                         margin: 0 -5px;
//                         padding: 30px 0;
//                         border-bottom: 1px solid #cbc9cc6b;
//                         @media screen and (max-width:770px) {
//                           &.method_payment{
//                             padding: 30px 0 0;
//                           }
//                         }
//                         &:first-child{
//                             padding: 0;
//                         }
//                         &:last-child{
//                             border-bottom: 0;
//                             padding-bottom: 0;
//                         }
//                         h4{
//                             color: #414241;
//                             font-size: 17px;
//                             font-weight: bold;
//                             padding: 0 5px 20px;
//                         }
//                         .field{
//                             display: inline-block;
//                             width: calc(100% / 2);
//                             padding: 0 5px 25px;
//                             &:last-child{
//                                 padding-bottom: 0;
//                             }
//                             &.full{
//                                 width: 100%;
//                             }
//                             &.half_full{
//                               width: 90px;
//                             }
//                             &.select_arrow{
//                               position: relative;
//                               select{
//                                   width: 100%;
//                                   font-size: 12px;
//                                   font-weight: 500;
//                                   padding: 8px 10px;
//                                   cursor: pointer;
//                                   background: white;
//                                   border: 1px solid #c1c9d2;
//                                   border-radius: 4px;
//                                   height: 44px;
//                               }
//                               &::before {
//                                   content: "expand_more";
//                                   @include MaterialFamily;
//                                   font-size: 12px;
//                                   position: absolute;
//                                   color: #414241;
//                                   top: 35px;
//                                   left: 15px;
//                                   cursor: pointer;
//                                   pointer-events: none; 
//                               }
//                             }
//                             &.icon_visa{
//                               position: relative;
//                               &::before{
//                                 content: '';
//                                 background-image: url('../img/icons/icon_field.png');
//                                 background-size: 30px;
//                                 background-repeat: no-repeat;
//                                 width: 30px;
//                                 height: 25px;
//                                 position: absolute;
//                                 top: 25px;
//                                 right: 10px;
//                               }
//                               input{
//                                 padding: 10px 45px 10px 10px;
//                               }
//                             }
//                             label{
//                                 color: #414241;
//                                 font-size: 13px;
//                                 font-weight: bold;
//                                 padding-bottom: 6px;
//                                 span{
//                                     color: red;
//                                     font-size: 12px;
//                                 }
//                             }
//                             input{
//                                 background: #ffffff;
//                                 border: 1px solid #c1c9d2;
//                                 border-radius: 4px;
//                                 color: #414241;
//                                 font-size: 14px;
//                                 width: 100%;
//                                 padding: 10px;
                                
//                             }
//                             &.checkbox_checkout{
//                                 position: relative;
                               
//                                 label{
//                                   color: #414241;
//                                   font-size: 13px;
//                                   font-weight: bold;
//                                   line-height: 20px;
//                                   padding-right: 20px;
//                                   padding-bottom: 0;
//                                 }
//                                 .checkbox-box {
//                                   border: 2px solid $red;
//                                   border-radius: 0.2em;
//                                   width: 24px;
//                                   padding: 2px;
//                                   margin: 0 0 0 8px;
//                                   height: 24px;
//                                   cursor: pointer;
                                 
//                                   &:not(:checked),
//                                   &:checked {
//                                     position: absolute;
//                                     #{$start}: 5px;
//                                     opacity: 1;
//                                     background: transparent;
//                                     z-index: 99999;
//                                     border: none;
//                                     width: 100%;
//                                   }
//                                   &:not(:checked) + label:before,
//                                   &:checked + label:before {
//                                     content: "";
//                                     position: absolute;
//                                     right:  5px;
//                                     top: 0;
//                                     width: 10px;
//                                     height: 10px;
//                                     border: 2px solid $red;
//                                     background: #fff;
//                                     border-radius: 3px;
//                                     box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1),
//                                       0 0 0 rgba(203, 34, 237, 0.2);
//                                     -webkit-transition: all 0.275s;
//                                     transition: all 0.275s;
//                                   }
//                                   &:checked + label:before {
//                                     content: "";
//                                     background: $red;
//                                   }
//                                   &:not(:checked) + label:after,
//                                   &:checked + label:after {
//                                     font-family: "Material Icons";
//                                     content: "checked";
//                                     position: absolute;                            
//                                     top: 7px;
//                                     right: -15px;
//                                     font-size: 11px;
//                                     font-weight: bold;
//                                     color: white;
//                                     line-height: 0;
//                                     -webkit-transition: all 0.2s;
//                                     transition: all 0.2s;
//                                     body.ltr & {
//                                       #{$start}: 2px;
//                                     }
//                                   }
//                                   &:not(:checked) ~ label:after {
//                                     opacity: 0;
//                                   }
//                                   &:checked + label:after {
//                                     opacity: 1;
//                                   }
//                                   &:disabled:not(:checked) + label:before,
//                                   &:disabled:checked + label:before {
//                                     box-shadow: none;
//                                     border-color: #bbb;
//                                     background-color: #e9e9e9;
//                                   }
//                                 }
//                                 &.link_term{
//                                   display: flex;
//                                   align-items: center;
//                                   width: 100%;
//                                   span{
//                                     font-size: 13px;
//                                     font-weight: bold;
//                                     color: #ac9058;
//                                     padding: 0 5px;
//                                     position: relative;
//                                     z-index: 99999;
//                                   }
//                                 }
//                             }
//                             .text_area{
//                               border-radius: 4px;
//                               height: 122px;
//                               width: 100%;
//                               border: 1px solid #c1c9d2;
//                               resize: none;
//                               padding: 15px;
//                             }
//                         }
//                         .option_pay{
//                           padding-bottom: 10px;
//                           line-height: 8px;
//                           input[type="radio"]{
//                             appearance: none;
//                           }
//                           .label_pay{
//                               cursor: pointer;
//                               position: relative;
//                               padding: 0 25px 0 0;                             
//                               color: #454c51;
//                               font-size: 14px;
//                               font-weight: bold;
//                               line-height: 24px;
//                             &::before{
//                               content: "";
//                               display: inline-block;
//                               width: 16px;
//                               height: 16px;
//                               border: 1px solid $red;
//                               border-radius: 50%;
//                               position: absolute;
//                               left: auto;
//                               right: 0;
//                               top: 0;
//                               opacity: 1;
//                               transition: all 0.3s;
//                             }
//                             &::after{
//                               content: "";
//                               display: inline-block;
//                               width: 8px;
//                               height: 8px;
//                               border: 1px solid $red;
//                               background: $red;
//                               border-radius: 50%;
//                               position: absolute;
//                               left: auto;
//                               right: 4px;
//                               top: 4px;
//                               opacity: 0;
//                               transition: all 0.3s;
//                             }
//                             .icon{
//                               background-image: url('../img/icons/visa.png');
//                               background-size: 60px;
//                               background-repeat: no-repeat;
//                               width: 60px;
//                               height: 25px;
//                               position: absolute;
//                               top: 0;
//                               right: 25px;
//                             }
//                           }
//                           input[type="radio"]:checked + label::after{
//                             opacity: 1;
//                           }
//                           .credit_info{
//                             display: none;
//                           }
//                           &.active{
//                             &:last-child{
//                               padding-bottom: 0;
//                             }
//                             .credit_info{
//                               display: block;
//                               padding-top: 45px;
//                               .half_full{
//                                 padding-bottom: 0;
//                               }
//                             }
//                           }
                         
//                         }
//                         button{
//                           background: #ab9058;
//                           border-radius: 2px;
//                           max-width: 350px;
//                           width: 100%;
//                           padding: 15px 0;
//                           color: rgb(255, 255, 255);
//                           font-size: 20px;
//                           font-weight: bold;
//                           transition: all .3s ease;
//                           &:hover{
//                               background: #8f7643;
//                           }
//                       }
//                       #password_fields{
//                         padding-bottom: 30px;
//                       }
//                     }
//                 }
//             }
//         }
//     }
// }
.page_checkout{
  padding: 50px 0;
  @media screen and (max-width:770px) {
   padding: 25px 0;
  }
  .grid{
      max-width: 1100px;
      .checkout-content {
        display: flex;
        margin-top: 15px;
        justify-content: center;
        flex-wrap: wrap;
        align-items: flex-start;
        @media (max-width:999px) {
            flex-direction: column;
            margin-top: 0;
        }
        .page-title{
            width: 100%;
            padding-bottom: 15px;
            margin-bottom: 0;
            h1{
                font-size: 24px;
                font-weight: bold;
                color: #121212;
                line-height: 30px;
            }
            p{
                font-size: 12px;
                text-align: right;
                padding: 0;
                margin: 0;
            }
        }
        .checkout-form {
            background: #ffffff;
            box-shadow: 0 -2px 16px 0 rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            width: calc(100% - 375px - 58px);
            @media screen and (max-width:999px) {
                width: 100%;
            }
            .checkout{
                margin: 0;
            }

            .login-top-part{
                padding: 23px 16px 19px;
                border-bottom: 1px solid #ecedf0;
                a.checkout-login{
                    background-color: #fbf6f0;
                    line-height: 30px;
                    font-size: 12px;
                    font-weight: bold;
                    color: #121212;
                    padding: 2px 12px;
                    border-radius: 2px;
                    display: table;
                    margin-bottom: 10px;
                    transition: .2s all ease-in-out;
                    display: none;
                    &:hover{
                        background-color: #f9ebdb;
                    }
                }

                .checkout-login-tabs{
                    display: none;
                    .rows{
                        display: flex;
                        @media (max-width:767px){
                            flex-direction: column;
                        }
                        .row{
                            display: inline-flex;
                            align-items: center;
                            background-color: #ECEDF0;
                            transition: 0.2s all ease-in-out;
                            padding: 0 15px;
                            width: 50%;
                            cursor: pointer;
                            justify-content: center;
                            height: 50px;
                            border-radius: 4px 0 0 4px;
                            @media (max-width:767px) {
                                width: 100%;
                                max-width: 100%;
                                margin-bottom: 10px;
                            }
                            &:hover{
                                background-color: rgba(106, 109, 205, 0.20);
                            }
                            .image{
                                display: inline-block;
                            }
                            .content{
                                display: flex;
                                flex-direction: column;
                                width: 100%;
                                height: 100%;
                                justify-content: center;
                                align-items: center;
                                p{
                                    font-size: 12px;
                                    font-weight: bold;
                                    letter-spacing: 0.21px;
                                    color: #6C707D;
                                    line-height: 1.5;
                                }
                                span{
                                    display: block;
                                    font-size: 11px;
                                    font-weight: 600;
                                    letter-spacing: 0.19px;
                                    line-height: 1.3;
                                    color: #fff;
                                    text-align: center;
                                    strong{
                                        display: table;
                                        position: relative;
                                        &::before{
                                            content: "";
                                            background-color: #ffc20a;
                                            opacity: 0.2;
                                            position: absolute;
                                            left: 0;
                                            right: 0;
                                            top: 50%;
                                            height: 12px;
                                            margin-top: -5px;
                                            pointer-events: none;
                                        }
                                    }
                                }
                            }

                            &.guest{
                                background-color: red;
                                pointer-events: none;
                                color: #fff;
                                border-radius: 0px 4px 4px 0px;
                                .content{
                                    p{
                                        color: #fff;
                                    }
                                }
                            }
                        }
                    }
                }

              
            }

            .deliver-container{
                border-bottom: 1px solid #ecedf0;
                padding-bottom: 16px;
                width: 100%;
                margin-bottom: 20px;
                @media (max-width:767px){
                    padding-bottom: 20px;
                }

                .delivery-component{
                    padding: 5px 0 10px;
                    .btn{
                        display: none;
                    }
                    .radio-btns{
                       @media (max-width:767px) {
                        justify-content: flex-start;
                        align-items: flex-start;
                        position: relative;
                        margin: 0 -6px;
                        flex-wrap: nowrap;
                       } 

                        label{
                            @media (max-width:767px) {
                                position: initial;
                                width: calc(100%/3);
                                margin: 0 3px !important;
                                margin-top: 0 !important;
                                min-height: 60px;
                                max-height: 60px;
                                &.selected{
                                    margin-bottom: 65px !important;
                                }
                                &.delivery_day_same_day{
                                    &.selected{
                                        margin-bottom: 0px !important;
                                    }
                                }
                                h4{
                                    font-size: 12px;
                                }
                                p{
                                    font-size: 10px;
                                }
                            }
                            .time-slot{
                                margin-top: 35px;
                                @media (max-width:767px) {
                                    margin-top: 0;
                                    position: absolute;
                                    bottom: 5px;
                                    right: 0;
                                    h4{
                                        color: #121212;
                                        font-size: 10px;
                                        margin-bottom: 0;
                                    }
                                }
                            }
                        }
                    }
                    .time-slot{  
                        margin-top: 25px;
                    }
                }
            }

        }
        .order_review-content {
            padding-right: 58px;
            width: 375px;
            box-sizing: content-box;
            @media screen and (max-width:999px) {
                width: 100%;
                padding: 0 0 20px 0;
                box-sizing: border-box;
            }
            #order_review {
                background: #ffffff;
                box-shadow: 0 -2px 16px 0 rgba(0, 0, 0, 0.1);
                border-radius: 8px;
                padding: 20px 14px 12px;
                width: 375px !important;
                float: none !important;
                z-index: 9;
                @media (max-width:999px) {
                    width: 100% !important;
                    .order-title{
                        margin-bottom: 0;
                    }
                    .shop_table{
                        .t_body{
                            display: none !important;
                        }
                    }
                }
                .order-title{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-bottom: 1px solid rgba(131, 131, 131, 0.18);
                    padding-bottom: 16px;
                    margin-bottom: 20px;
                    .right{
                        h3{
                            color: #121212;
                            font-size: 14px;
                            font-weight: bold;     
                            margin-bottom: 0;                   
                        }
                    }
                    .left{
                        a{
                            display: block;
                            position: relative;
                            color: #a7a7a7;
                            font-size: 12px;
                            font-weight: bold;
                            line-height: 20px;
                            padding-left: 16px;
                            &::before {
                              content: "arrow_back";
                              @include MaterialFamily;
                              font-size: 12px;
                              position: absolute;
                              color: #a7a7a7;
                              top: 0;
                              left: 0;
                              cursor: pointer;
                              pointer-events: none; 
                             
                            }
                        }
                    }
                }
                .shop_table {
                    padding: 0;
                    border: none;
                    text-align: #{$end};
                    margin: 0;
                    tbody{
                        display: table-caption;
                        // padding-bottom: 20px;
                    }
                    tfoot {
                        tr.cart-subtotal{
                            th,td{
                                padding-top: 12px !important;
                            }
                        }
                        tr.cart-shipping{
                            th,td{
                                padding-bottom: 10px;
                            }
                        }
                        tr.order-total {
                            th,
                            td {
                                // border-top: 1px solid #e4e4e4;
                                font-weight: 700;
                                font-size: 18px;
                                vertical-align: top;
                                background-color: transparent;
                                padding-top: 12px;
                                color: #121212;
                            }
                            th{
                                font-size: 14px !important;
                            }
                        }
                        th {
                            text-align: right;
                            border: none;
                            font-size: 12px;
                            font-weight: 600;
                            color: #6c707d;
                            padding: 6px 0 !important;
                            background-color: transparent;
                            vertical-align: middle;
                        }
                        td {
                            border: none;
                            text-align: left;
                            font-size: 12px;
                            padding: 6px 0 !important;
                            color: #121212;
                            font-weight: 500;
                            .woocommerce-Price-amount.amount{
                                color: #000 !important;
                            }
                            .includes_tax {
                                display: none;
                            }
                        } 
                    }
                    tr.cart_item {
                        display: block;
                        width: 100%;
                        td{
                            width: 100%; 
                            display: block;
                            padding: 0 0 15px;
                            border-top: 1px solid #e3e3e3;
                        }
                        &:first-child{
                            td{
                                border-top: 0;
                            }
                        }
                        // &:last-child{
                        //     td{
                        //         padding: 15px 0 0 !important;
                        //     }
                        // }
                        // &~ .cart_item {
                        //     td {  
                        //         padding: 15px 0;
                        //         border-top: 1px solid #e3e3e3;
                        //     }
                        // }
                  
                        td {
                            width: 100%;      
                            // padding: 0;
                            border: none;
                            line-height: normal;
                            background-color: transparent;
                        }
                    }
                    .product-thumb-name {
                        display: flex;
                        padding: 0;
                        font-size: 0;
                        align-items: flex-start;
                        img {
                            display: block;
                            width: 70px;
                            float: none;
                            margin: 0;
                            height: auto;
                        }
                        .product-name-container {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-between;
                            width: calc(100% - 70px);
                            padding-#{$end}: 10px;
                            position: relative;
                            text-align: right;
                            .right{
                                width: 60%;
                                .product-title {
                                    margin-bottom: 0;
                                    text-decoration: none;
                                    font-size: 12px;
                                    color: #000;
                                    font-weight: 600;
                                    line-height: 20px;
                                }
                                .product-note{
                                    font-size: 12px;
                                    font-weight: 600;
                                    padding-top: 5px;
                                    display: block;
                                    color: #3a3a3a;
                                  }
                                .variation {
                                    padding: 0;
                                    border: none;
                                    margin-top: 4px;
                                    display: inline-block;
                                    vertical-align: middle;
                                    dt,
                                    dd {
                                        font-weight: 400;
                                        font-size: 10px;
                                        color: #4F4F4F;
                                        padding: 0;
                                        display: inline-block;
                                        float: none;
                                        margin: 0;
                                        line-height: 12px;
                                        // color: $Gray;
                                        p {
                                            font-size: inherit;
                                        }
                                    }
                                    dt~dt {
                                        margin-#{$end}: 4px;
                                        border-#{$end}: 1px solid;
                                        padding-#{$end}: 8px;
                                    }
                                    dd {
                                        padding-#{$end}: 3px;
                                    }
                                }
                            }
                            .left{
                                width: calc(100% - 60%);
                                .woocommerce-Price-amount.amount {
                                    color: black;
                                    font-size: 14px;
                                    font-weight: bold;
                                }
                            }
                            .product-quantity {
                                width: 100%;
                                font-size: 10px;
                                display: inline-block;
                                vertical-align: middle;
                                line-height: 10px;
                                margin-top: 4px;
                            }
                        }
                    }
                    tr.coupon-section{
                        td{
                            .coupon-row {
                                position: relative;
                                overflow: hidden;
                                border-top: 1px solid #c9c9c9;
                                border-bottom: 1px solid #c9c9c9;
                                padding: 10px 0;
                                .open-coupon {
                                    color: #6c707d;
                                    font-size: 12px;
                                    font-weight: 500;
                                    display: flex;
                                    align-items: center;
                                    flex-wrap: wrap;
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    bottom: 0;
                                    left: 0;
                                    cursor: pointer;
                                    @include transition(0.3s);
                                    &:hover {
                                        text-decoration: underline;
                                    }
                                    &.active {
                                        opacity: 0;
                                        pointer-events: none;
                                    }
                                }
                                .woocommerce-error,
                                .woocommerce-info,
                                .woocommerce-message {
                                    margin: 0 0 10px;
                                    padding: 0;
                                    background-color: transparent;
                                    border: none;
                                }
                                .woocommerce-message {
                                    color: #0ebfb2;
                                    margin: 0;
                                    font-weight: 400;
                                    &~ {
                                        form,
                                        .open-coupon {
                                            display: none !important;
                                        }
                                    }
                                }
                                .woocommerce-error {
                                    background: transparent !important;
                                    border: none !important;
                                    padding: 10px 0 !important;
                                    &~.open-coupon {
                                        padding-top: 43px;
                                    }
                                    li {
                                        color: red;
                                    }
                                }
                                form {
                                    margin: 0;
                                    border: none;
                                    // @include PoFull;
                                    padding: 0;
                                    background: #fff;
                                    opacity: 0;
                                    pointer-events: none;
                                    display: flex !important;
                                    &.active {
                                        opacity: 1;
                                        pointer-events: auto;
                                    }
                                    .close-coupon {
                                        line-height: 23px;
                                        margin-bottom: -7px;
                                        border: none;
                                        i {
                                            font-size: 16px;
                                        }
                                    }
                                    .coupon {
                                        display: flex;
                                        align-items: center;
                                        justify-content: space-between;
                                        width: 100%;
                                        .input-text {
                                            font-size: 12px;
                                            height: auto;
                                            line-height: 30px;
                                            padding: 0 5px;
                                            width: calc(100% - 95px);
                                            border-radius: 4px;
                                            font-family: cairo;
                                            color: #121212;
                                            background-color: #f6f8fa;
                                            border: 1px solid #c1c9d2;
                                            padding-right: 10px;
                                            margin-right: 6px;
                                            &::placeholder{
                                                color: #121212;
                                                font-weight: 600;
                                            }
                                        }
                                        .btn {
                                            line-height: 30px;
                                            height: 32px;
                                            text-transform: uppercase;
                                            font-size: 12px;
                                            border-radius: 4px;
                                            padding: 0 10px;
                                            background: #80808033;
                                            color: black;
                                            border: none;
                                            font-weight: 700;
                                            @include transition(0.3s);
                                            &:hover {
                                                background: #80808052;
                                            }
                                        }
                                    }
                                }
                                @media screen and (max-width:767px) {
                                    .open-coupon {
                                        font-size: 12px;
                                        img {
                                            width: 16px;
                                        }
                                        .btn {
                                            font-size: 12px;
                                            width: auto;
                                            padding: 0 10px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
           
        }

      

        .coupon-form-checkout{
            display: flex;
            flex-direction: column;
            width: 100%;
            position: relative;
            margin-bottom: 20px;
            border: 1px solid #121212;
            border-radius: 4px;
            padding: 10px 20px;
            span.close-form{
                position: absolute;
                top: -21px;
                right: 0;
                i{
                    font-size: 13px;
                    color: #121212;
                    cursor: pointer;
                }
            }
            .woocommerce-form-coupon-toggle{
                order: 2;
                .woocommerce-info{
                    border: none;
                    margin: 0;
                    padding: 0;
                }
                
            }
            form.checkout_coupon{
                margin: 0;
                background-color: #fbfcff;
                justify-content: space-between;
                align-items: center;
                order: 3;
                &.active{
                    display: flex !important;
                }
                p{
                    display: none;
                    &.form-row{
                        display: inline-block;
                        &.form-row-first{
                            width: 70%;
                            input{
                                width: 100%;
                                font-family: cairo;
                                font-size: 14px;
                                &:focus{
                                    background-color: #fbfcff;
                                }
                            }
                        }
                        &.form-row-last{
                            width: 30%;
                            text-align: left;
                            .button{
                                background-color: #2B2B2B;
                                font-family: cairo;
                                font-size: 14px;
                                padding: 0 16px;
                                &:hover{  
                                    background-color: #121212;
                                }
                            }
                        }
                    }
                }
            }
            .woocommerce-error{
                background-color: transparent !important;
                border: none !important;
                padding: 0 !important;
                color: red !important;
                order: 1;
            }
        }

        
      

      
       

       

        #customer_details{
            display: flex;
            flex-direction: column;
            float: none;
            width: 100%;

            .col-1,.col-2{
                float: none;
                width: 100%;
                margin: 0;
            }

            .col-2{
                padding: 0 17px;
            }
            .form-row{
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                &.blocked{
                    pointer-events: none;
                    opacity: .5;
                }
                label{
                    font-size: 12px;
                    // color: $GrayBlue;
                    font-weight: 600;
                    line-height: 23px;
                    position: relative !important;
                    overflow: unset;
                    width: auto;
                    height: auto;
                    clip-path: unset;

                    // .optional,.required{
                    //     display: none;
                    // }
                    .optional{
                        display: none;
                    }
                }
                input.input-text {
                    background: white;
                    border: 1px solid #C1C9D2;
                    border-radius: 4px;
                    font-weight: 600;
                    font-size: 14px;
                    color: rgba(0,0,0,0.85);
                    line-height: 44px;
                    padding: 0 16px;
                    width: 100%;
                    box-shadow: none;
                    @include transition(0.3s);
                }
                .select2-container{
                    width: 100% !important;
                    z-index: auto !important;
                }
               
                &.property-type{

                    label{
                        font-size: 14px;
                        font-weight: 700;
                        margin-top: 10px;
                        margin-bottom: 3px;
                        color: #121212; 
                    }

                    span{
                        display: flex;
                        margin-top: 14px;
                        label {
                            padding-right: 25px;
                            position: relative;
                            display: flex;
                            align-items: center;
                            cursor: pointer;
                            font-size: 14px;
                            font-weight: 700;
                            user-select: none;
                            color: #454c51;
                            margin-top: 0;
                            margin-right: 0;
                            margin-left: 20px;
                            &::before {
                                content: "radio_button_unchecked" !important;
                                @include MaterialFamily;
                                font-size: 20px;
                                color: #000000 !important;
                                position: absolute;
                                top: 1px;
                                right: 0;
                                line-height: 20px;
                                // @include transition(0.2s);
                            }
                        }

                        input {
                            display: none;
                            &:checked {
                                & + label {
                                    color: $red;
                                    &::before {
                                        content: "radio_button_checked" !important;
                                        color: $red !important;
                                    }
                                }
                            }
                        }
                    }
                }
                &.woocommerce-invalid{
                    label{
                        color: #121212 !important;
                    }
                    .input-text{
                        border: 1px solid #fd4960;
                    }
                }
                &#billing_delivery_date_field,&#billing_time_slot_field{
                    opacity: 0;
                    height: 0;
                    margin: 0;
                    pointer-events: none;
                }
                &#national_id_field{
                    width: 100%;
                }
                &#second_mobile_number_field{
                    width: 100%;
                }
            }
        }

        .woocommerce-billing-fields{
            padding: 10px 17px 5px 20px;
            @media screen and (max-width:767px) {
                padding: 15px;

            }

            .have-account{
                margin-bottom: 70px;
                label{
                    font-size: 12px;
                    font-weight: bold;
                    color: #454c51;
                    line-height: 16px;
                    letter-spacing: 0.17px;
                    a{
                        letter-spacing: 0.17px;
                        line-height: 20px;
                        color: #0091ff;
                        font-weight: 600;
                        display: inline-block;
                        margin-right: 6px;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
                .fbl-button{
                    position: relative;
                    margin: 10px 0 20px 0;
                    .fb_iframe_widget{
                        position: absolute;
                        right: 0;
                    }
                }
            }

            h3{
                font-size: 14px;
                font-weight: 700;
                margin-bottom: 25px;
                color: #121212;
                display: block;
                width: 100%;
            }
            &__field-wrapper{
                // max-width: 350px;
                display: flex;
                flex-wrap: wrap;
                &.hidden{
                    display: none;
                }
                .form-row{
                    padding: 0 5px;
                    width: auto;
                    min-width: 84px;
                    margin: 0 0 15px;
                    float: none;
                    
                    &-wide{
                        width: 100%;
                    }
                    &-first,&-last{
                        width: 50%;
                    }
                    &#billing_country_field {
                        display: none;
                    }
                }
                .select2-selection {
                    border: none;
                    height: 44px;
                    border-radius: 4px;
                    position: relative;
                    direction: ltr;
                    background-color: #F6F8FA;
                    // #select2-billing_state-container{
                    //     opacity: .2;
                    //     pointer-events: none;
                    // }
                    .select2-selection__rendered {
                        font-size: 14px;
                        line-height: 44px;
                        padding-left: 8px;
                        padding-right: 12px;
                        text-align: right;
                        font-weight: 600;
                        color: #000000;
                    }
                    .select2-selection__arrow {
                        height: 100%;
                        top: 0;
                        bottom: 0;
                        left: 12px;
                        right: auto;
                        &::before {
                            content: 'expand_more';
                            @include MaterialFamily;
                            font-size: 16px;
                            color: #C1C9D2;
                            position: absolute;
                            top: 50%;
                            margin-top: -8px;
                            line-height: 1;
                        }
                        b {
                            display: none;
                        }
                    }
                }
                .billing-fileds-container{
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    padding-top: 20px;
                }

            }
        }

        .woocommerce-account-fields{
            padding: 0  0 12px;
            width: 100%;
            &__field-wrapper{
                max-width: 350px;
                display: flex;
                flex-wrap: wrap;
                padding: 0 5px;
            }
            .create-account{
                width: 100%;
            }
            .checkbox{
                span{
                    position: relative;
                    display: inline-flex;
                    font-size: 12px;
                    color: #363636;
                    font-weight: 700;
                    // letter-spacing: 0.17px;
                    line-height: 30px;
                    cursor: pointer;
                    user-select: none;
                    &::before {
                        content: 'check_box_outline_blank';
                        @include MaterialFamily;
                        font-size: 20px;
                        color: black;
                        text-align: center;
                        margin-left: 6px;
                        @include transition(0.2s);
                    }
                }
                input {
                    display: none;
                    &:checked ~ {
                        span::before {
                            content: 'check_box';
                        }
                    }
                }
            }
        }

        .shipping-fileds-container{
            width: 100%;
            padding-top: 30px;
            margin-top: 20px;
            position: relative;
            &::before{
                content: "";
                position: absolute;
                top: 0;
                height: 1px;
                background-color: #ecedf0;
                left: 5px;
                right: 5px;
            }
            select{
                -webkit-appearance: none;
                display: block;
                background-color: white;
                width: 100%;
                height: 44px;
                font-size: 14px;
                color: #000000;
                font-weight: 600;
                background-image: url(../img/icons/select-arrow.png);
                background-repeat: no-repeat;
                background-position: 3% 50%;
                padding: 0 12px;
                cursor: pointer;
                border: 1px solid #C1C9D2;
            }
            .same-row{
                width: 84px !important;
                display: inline-block !important;
                &.require-build{
                    &.hide{
                        display: none !important;
                    }
                }

                &.woocommerce-invalid-required-field{
                    input{  
                        border: 1px solid #F44336;
                    }
                }

            }
            .form-row{
                &.woocommerce-invalid-required-field{
                    label{
                        color: #121212 !important;
                    }
                    .select2-selection__rendered{
                        border: 1px solid #fd4960;
                    }
                    .input-text {
                        border: 1px solid #fd4960 !important;
                    }
                }
            }
            #billing_building-description{
                @media screen and (max-width:767px){
                    display: block;
                    padding-bottom: 10px;
                }
            }
        }
        .woocommerce-additional-fields{
            padding: 0px 0 40px;
            textarea{
                width: 100%;
                border: 1px solid #c1c9d2;
                border-radius: 4px;
                font-size: 16px;
                resize: none;
                padding: 15px !important;
                height: 120px !important;
            }
        }
        #payment {  
            background: none !important;
            border-radius: 0 !important;
            border-top: 1px solid #ECEDF0;
            .payemnt-fields{
                padding: 25px 17px 15px 20px;
                @media (max-width:767px){
                    padding: 20px 15px 10px;

                }
                p{
                    padding-top: 5px;
                }
                h3{
                    font-size: 14px;
                    font-weight: 700;
                    margin-bottom: 15px;
                    color: #121212;
                }
            }

            .payment_methods {
                border: none !important;
                padding: 20px 0 !important;
                .wc_payment_method {
                    display: flex;
                    flex-direction: column;
                    background-color: transparent;
                    padding-bottom: 5px;
                    &:last-child{
                        padding-bottom: 0;
                    }
                    &>input {
                        display: none;
                        &:checked {
                            &~label {
                                color: $red;
                                &::before {
                                    content: "radio_button_checked" !important;
                                    color: $red !important;
                                }
                            }
                        }
                    }
                    &>label {
                        padding: 0;
                        padding-right: 30px;
                        white-space: nowrap;
                        position: relative;
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        font-size: 14px;
                        font-weight: 700;
                        user-select: none;
                        // margin-bottom: 10px;
                        color: #454c51;
                        &::before {
                            content: "radio_button_unchecked" !important;
                            @include MaterialFamily;
                            font-size: 20px;
                            color: #000000 !important;
                            position: absolute;
                            top: 4px;
                            right: 0;
                            line-height: 20px;
                            // @include transition(0.2s);
                        }
                        img {
                            height: 28px;
                            margin: 0 0 0 10px;
                            border-radius: 5px;
                            body.rtl & {
                                margin: 0 10px 0 0;
                            }
                        }


                    }
                    &.payment_method_nodepayment{
                        label{
                            p{
                                position: relative;
                                &::before{
                                    content: "";
                                    right: 100%;
                                    background: url(../img/icons/visaicon.png);
                                    background-repeat: no-repeat;
                                    position: absolute;
                                    top: 2px;
                                    width: 73px;
                                    height: 25px;
                                    margin-right: 8px;
                                }
                            }
                        }
                    }
                    &.payment_method_mdm_gateway{
                        p{
                            position: relative;
                            &::before{
                                content: "";
                                right: 100%;
                                background: url(../img/footer/meza.png);
                                background-repeat: no-repeat;
                                position: absolute;
                                top: -4px;
                                width:40px;
                                height: 35px;
                                margin-right: 8px;
                                background-size: contain;
                                background-position: center right;
                            }
                        }
                    }
                }

                .payment_box {
                    background-color: transparent;
                    text-align: right;
                    padding: 0;
                    margin: 0;
                    border-radius: 0;
                    max-width: 350px;
                    margin: 15px 25px 0 0;
                    @media (max-width:767px){
                       margin: 10px 0 0 0;
                    }
                    &::before{
                        display: none;
                    }
                    fieldset{
                        padding: 0;
                        margin: 0;
                        input{
                            direction: ltr !important;
                            text-align: right !important;
                        }
                    }
                    fieldset#wc-nodepayment-cc-form {
                        .form-row{
                            width: auto;
                            display: inline-block;
                            margin-bottom: 15px;
                            vertical-align: top;
                            padding: 0;
                            min-width: 90px;
                            float: none;
                            margin-left: 0;
                            &.form-row-wide{
                                width: 100%;
                            }
                        }
                    }
                    label {
                        font-size: 12px;
                        // color: $GrayBlue;
                        font-weight: 600;
                        color: black;
                    }
                    .custom-rowI{
                        display: flex;
                        margin-left: 20px;
                        @media (max-width:767px){
                            margin-left: 10px;;
                        }
                    }
                    input#card-number {
                        background: white;
                        border: 1px solid #C1C9D2;
                        border-radius: 4px;
                        font-weight: 500;
                        font-size: 14px;
                        color: rgba(0,0,0,0.85);
                        line-height: 44px;
                        padding: 0 16px;
                        width: 100%;
                        margin: 0;
                        // border: none;
                        @include transition(0.3s);
                    }
                    input#cardholder-name {
                        background: white;
                        border: 1px solid #C1C9D2;
                        border-radius: 4px;
                        font-weight: 500;
                        font-size: 14px;
                        color: rgba(0,0,0,0.85);
                        line-height: 44px;
                        padding: 0 16px;
                        width: 100%;
                        margin: 0;
                        // border: none;
                        @include transition(0.3s);
                    }
                    input#security-code {
                        width: 70px;
                        height: 44px;
                        background: white;
                        border: 1px solid #C1C9D2;
                        border-radius: 4px;
                        font-weight: 500;
                        font-size: 14px;
                        color: rgba(0,0,0,0.85);
                        line-height: 44px;
                        padding: 0 16px;
                        margin: 0;
                        // border: none;
                    }
                    select {
                        // direction: ltr;
                        width: 90px;
                        height: 44px;
                        background: white;
                        border: 1px solid #C1C9D2;
                        border-radius: 4px;
                        font-weight: 700;
                        font-size: 14px;
                        padding: 5px 12px;
                        // text-align: center;
                        background-image: url(../img/icons/select-arrow.png);
                        background-repeat: no-repeat;
                        background-position: calc(100% - 70px) center;
                        -webkit-appearance: none;
                        cursor: pointer;
                        float: none;
                        margin-left: 10px;
                        // border: none;
                    
                        // &+select{
                        //     margin-right: 6px;
                        // }
                        
                    }
                }
            }


            .woocommerce-terms-and-conditions-wrapper {
                margin-bottom: 15px;
                .woocommerce-privacy-policy-text{
                    display: none;
                }
                p {
                    padding: 0;
                    margin: 0;
                    font-size: 0;
                }
                .checkbox {
                    cursor: pointer;
                    display: block;
                    color: #363636;
                    padding: 0;
                    margin: 0;
                    font-size: 0;
                    line-height: inherit;
                    input {
                        display: none;
                        &:checked {
                            &~.woocommerce-terms-and-conditions-checkbox-text {
                                &::before {
                                    content: "check_box";
                                }
                            }
                        }
                    }
                    .required {
                        display: none;
                    }
                    .woocommerce-terms-and-conditions-checkbox-text {
                        color: #121212;
                        font-size: 12px;
                        font-weight: 600;
                        display: block;
                        // padding-right: 28px;
                        position: relative;
                        text-transform: none;
                        a {
                            // color: $Blue;
                            &::after {
                                content: "open_in_new";
                                @include MaterialFamily;
                                font-size: 16px;
                                // color: $Blue;
                                vertical-align: middle;
                                margin-right: 4px;
                                font-weight: 400;
                                color: red;
                            }
                            &:hover {
                                text-decoration: underline;
                                &::after{
                                    color: black;
                                }
                            }
                        } 
                        &::before {
                            content: "check_box_outline_blank";
                            @include MaterialFamily;
                            font-size: 20px;
                            color: #4f5a65;
                            vertical-align: middle;
                            padding-left: 5px;
                            @include transition(0.2s);
                        }
                    }
                }
            }

            .place-order {
                padding: 20px 0 40px !important;
                margin: 0;
                border-top: 1px solid #ECEDF0;
                background-color: transparent;
                @media (max-width:767px) {
                    padding: 20px 10px !important;
                }
                .button#place_order {
                    display: inline-block;
                    font-size: 17px;
                    font-weight: 700;
                    color: white !important;
                    background: #3a7d44;
                    // background: linear-gradient(-180deg, #3bcd1b 0%, #1eb10d 100%);
                    // font-family: cairo;
                    line-height: 50px;
                    height: 50px;
                    text-transform: uppercase;
                    text-align: center;
                    border: none;
                    padding: 0 30px;
                    width: 350px;
                    max-width: 100%;
                    float: none;
                    border-radius: 50px;
                    @include transition(0.3s);
                    white-space: nowrap;
                    margin: 0;
                    &:hover {
                        background: #2d6435;
                    }
                }
            }
        }

        .fabfw-select-address-container{
            .woocommerce-input-wrapper{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .radio{
                    width: calc(50% - 5px);
                    margin-bottom: 10px;
                    position: relative;
                    border-radius: 4px;
                    &[for="fabfw_address_billing_id_new"]{
                        width: 100%;
                    }
                    .fabfw-edit{
                        font-size: 0;
                        // color: $Blue;
                        position: absolute;
                        top: 10px;
                        left: 10px;
                        &::before {
                            content: "edit";
                            @include MaterialFamily;
                            font-size: 16px;
                            // color: $Blue;
                            vertical-align: middle;
                            font-weight: 400;
                            width: 30px;
                            height: 30px;
                            line-height: 30px;
                            text-align: center;
                        }
                    }
                }
                .button{
                    display: inline-flex;
                    align-items: center;
                    white-space: nowrap;
                    font-size: 0;
                    font-weight: 600;
                    border-radius: 4px;
                    overflow: hidden;
                    background-color: #2B2B2B;
                    line-height: 36px;
                    height: 36px;
                    color: #fff !important;
                    font-size: 14px;
                    padding: 0 20px;
                    @include transition(0.2s);
                    &:hover{
                        background-color: #000;
                        border-color: transparent;
                        color: white;
                    }
                    &::before {
                        content: "add";
                        @include MaterialFamily;
                        font-size: 16px;
                        margin-left: 10px;
                        vertical-align: middle;
                        font-weight: 400;
                        line-height: 1;
                    }
                    &::after{
                       content: 'إضافة عنوان جديد';
                       font-size: 14px;
                    }
                }
            }
        }

        @media screen and (max-width:999px) {
            .page-title{
                order: 0;
            }
            .coupon-row{
                order: 1;
            }
            .checkout-form{
                order: 3;
                margin-bottom: 20px;
            }
            .order_review-content{
                order: 1;
            }
        }

        .shipping-type{
            display: block;
            width: 100%;
            .form-row {
                
                label{
                    font-size: 14px !important;
                    font-weight: 700 !important;
                    margin-bottom: 5px;
                    color: #121212;
                    display: block;
                    width: 100%;   
                }
                span.woocommerce-input-wrapper{
                    display: flex;
                    input{
                        display: none;
                    }
                    label{
                        position: relative;
                        padding: 0 20px;
                        background-color: #464646;
                        margin-left: 10px;
                        display: inline-block !important;
                        height: 40px;
                        line-height: 40px !important;
                        align-items: center;
                        justify-content: center;
                        color: #fff; 
                        font-size: 12px !important;
                        font-weight: 700 !important;
                        text-align: center;
                        cursor: pointer;
                        opacity: .5;
                        transition: 0.3s all ease-in-out;
                        max-width: 160px;
                        &:last-child{
                            margin-left: 0;
                        }
                    }
                    input:checked + label {
                        background-color: #5167A2;
                        opacity: 1;
                         &::before{
                             content:'done';
                              @include MaterialFamily;
                              position: absolute;
                              right: 20px;
                              @media (max-width:767px) {
                                  right: 12px;
                              }
                         }
                    }
                }
                
            }
        }

        .recipient-details{
            width: 100%;
            max-height: 300px;
            transition: all .5s ease-in-out;
            &.acf-hidden{
                max-height: 0;
                opacity: 0;
                pointer-events: none;
            }
            label{
                font-size: 14px !important;
                font-weight: 700 !important;
                margin-bottom: 5px;
                color: #121212;
                display: block;
                width: 100%;   
            }
            .form-row{
                label{
                    font-size: 12px !important;
                    font-weight: 600 !important;
                    line-height: 23px;
                    margin-bottom: 0;
                    color: #5167A2;
                }
                &:last-child{
                    margin-bottom: 5px;
                }
            }
        }
    }
  }
}