.contact_us{
    .section_contact_us{
        background: #fde8e9;
        height: 630px;
        padding-top: 80px;
        @media screen and (max-width:770px) {
          padding-top: 40px;
          height: 780px;
        }
        .sec_form{
            .grid{
                max-width: 450px;
                .section_title{
                    text-align: center;
                    padding-bottom: 40px;
                    @media screen and (max-width:770px) {
                        padding-bottom: 20px;
                     }
                    img{
                        @media screen and (max-width:770px) {
                            width: 30px;
                           }
                    }
                    h2{
                        color: black;
                        font-size: 48px;
                        font-weight: 800;
                        padding: 15px 0 10px;
                        @media screen and (max-width:770px) {
                            font-size: 24px;
                            padding: 8px 0;
                        }
                    }
                    p{
                        color: black;
                        font-size: 14px;
                        line-height: 26px;
                        @media screen and (max-width:770px) {
                            font-size: 12px;
                        }
                    }
                }
                .form_content{
                    padding: 35px;
                    background: #ffffff;
                    box-shadow: 0px 10px 14px 0px #0000001a;
                    border-radius: 8px;
                    @media screen and (max-width:999px) {
                        padding: 15px;
                    } 
                        h3{
                            color: #414241;
                            font-size: 15px;
                            font-weight: 600;
                            padding: 20px 0 50px;
                            @media screen and (max-width:999px) {
                                font-size: 14px;
                                padding: 20px 0 30px;
                            } 
                        }
                    form{
                        .row{
                            margin-right: 0 !important;
                            margin-left: 0 !important;
                            h2{
                                color: black;
                                font-size: 15px;
                                font-weight: 800;
                                text-align: center;
                                padding-bottom: 30px;
                                @media screen and (max-width:999px) {
                                    font-size: 13px;
                                    font-weight: 700;
                                    text-align: right;
                                    padding: 15px 0 25px;
                                } 
                            }
                            .col-sm-6{
                                padding-right: 0 !important;
                                padding-left: 0 !important;
                                &.first_col{
                                    padding-#{$end}: 5px !important;
                                }
                                &.last_col{
                                    padding-#{$start}: 5px !important;
                                }
                            }
                            .col-sm-12{
                                padding-right: 0 !important;
                                padding-left: 0 !important;
                            }
                            .form-group{
                                display: inline-block;
                                width: 100%;
                                padding-bottom: 20px;
                                label{
                                    color: #414241;
                                    font-size: 12px;
                                    font-weight: bold;
                                    padding-bottom: 6px;
                                    margin-bottom: 0;
                                    span{
                                        color: red;
                                        font-size: 12px;
                                    }
                                }
                                .form-control{
                                    background: #ffffff;
                                    border: 1px solid #c1c9d2;
                                    border-radius: 4px;
                                    color: #414241;
                                    font-size: 14px;
                                    width: 100%;
                                    padding: 10px;
                                    height: auto;
                                    box-shadow: none;
                                }
                                textarea{
                                    width: 100%;
                                    border: 1px solid #c1c9d2;
                                    border-radius: 4px;
                                    font-size: 16px;
                                    resize: none;
                                    padding: 15px !important;
                                    height: 120px !important;
                                }
                                .btn{
                                    background: black;
                                    border-radius: 4px;
                                    width: 100%;
                                    padding: 12px 0 8px;
                                    color: #fff;
                                    font-size: 20px;
                                    font-weight: bold;
                                    transition: all .3s ease;
                                    line-height: 28px;
                                    border: 0;
                                    // &:hover{
                                    //     background: #8f7643;
                                    // }
                                }
                            }
                            
                        }
                        @media screen and (max-width:770px) {
                            #CF6241f70f2e55a_1-row-2{
                                display: flex;
                                flex-direction: column-reverse;
                                .col-sm-6{
                                    padding: 0 !important;
                                }
                            }
                        } 
                        
                    }
                }
            }
        }
       
    }
    .section_branches{
        margin-top: 20%;
        .section_title{
            text-align: center;
            .title{
                color: #000000;
                font-size: 38px;
                font-weight: bold;
                position: relative;
                @media screen and (max-width:999px) {
                    font-size: 22px;
                } 
                // &::before{
                //     content: '';
                //     height: 11px;
                //     background: #ff000021;
                //     position: absolute;
                //     left: 0;
                //     right: 0;
                //     bottom: 0;

                // }
            }
            .text_info{
                padding: 15px 0;
                p{
                    font-size: 14px;
                    line-height: 26px;
                }
            }
        }
        .all_branches{
            display: flex;
            flex-wrap: wrap;
            padding: 50px 0;
            margin: 0 -50px;
            @media screen and (max-width:999px) {
                padding: 20px 0;
            } 
            .single_branche{
                width: calc(100% / 3);
                padding: 0 50px 50px;
                @media screen and (max-width:999px) {
                    width: calc(100% / 2);
                    padding: 0 50px 40px;
                } 
                @media screen and (max-width:770px) {
                   width: 100%;
                } 
                h4{
                    color: #414241;
                    font-size: 24px;
                    font-weight: bold;
                    @media screen and (max-width:999px) {
                        font-size: 16px;
                    } 
                }
                ul{
                    padding-top: 20px;
                    @media screen and (max-width:999px) {
                        padding-top: 10px;
                    } 
                    li{
                        color: #414241;
                        font-size: 15px;
                        font-weight: bold;
                        line-height: 26px;
                        position: relative;
                        padding-right: 25px;
                        padding-bottom: 10px;
                        @media screen and (max-width:999px) {
                            font-size: 12px;
                            padding-bottom: 5px;
                        } 
                        &::before{
                            content: '';
                            @include MaterialFamily;
                            color: $red;
                            font-size: 18px;
                            position: absolute;
                            right: 0;
                            top: -2px;
                        }
                        &.pin_drop{
                            &::before{
                                content: 'pin_drop';
                            }
                           
                        }
                        &.call{
                            display: none;
                            &::before{
                                content: 'call';
                            }
                        }
                        // &.schedule{
                        //     max-width: 240px;
                        //     &::before{
                        //         content: 'schedule';
                        //     }
                        // }
                       

                    }
                }
                .google_map{
                    background: transparent;
                    border: 1px solid $red;
                    border-radius: 4px;
                    color: $red;
                    font-size: 10px;
                    font-weight: bold;
                    display: block;
                    width: 100px;
                    text-align: center;
                    line-height: 29px;
                    padding-bottom: 2px;
                    position: relative;
                    transition: all .3s ease;
                    &::before{
                        content: 'navigation';
                        @include MaterialFamily;
                        color: $red;
                        font-size: 10px;
                        position: absolute;
                        right: 10px;
                        top: 1px;
                    }
                    &:hover{
                        background: $red;
                        color: white;
                        &::before{
                           color: white;
                        }
                    }
                }
            }
        }
    }
}