.page_home{
    .hero_slider{
        position: relative;
        // &::before{
        //     content: '';
        //     position: absolute;
        //     background: #0000006e;
        //     top: 0;
        //     bottom: 0;
        //     right: 0;
        //     left: 0;
        //     display: block;
        //     z-index: 9;
        // }
        // .slick-list{
        //     overflow: visible;
        // }
        .single_hero{
            img{
                width: 100%;
                // height: 540px;
                @media screen and (max-width:767px) {
                    height: 340px;
                    object-fit: cover;
                } 
            }
            .section_hero_box{
                background: #e5dabf;
                // width: 500px;
                width: 350px;
                // padding: 20px 30px;
                padding: 20px;
                position: absolute;
                #{$end}: 150px;
                bottom: 0;
                @media screen and (max-width:999px) {
                    bottom: 100px;
                    top: auto;
                    #{$start}: 0;
                    #{$end}: 0;
                    max-width: 400px;
                    width: 100%;
                    margin: 0 auto;
                    position: relative;
                } 
                @media screen and (max-width:767px) {
                    padding: 10px;
                    max-width: 320px;
                    bottom: 50px;
                } 
                .hero_box{
                    // border: 2px solid black;
                    // text-align: center;
                    // padding: 20px;
                    // @media screen and (max-width:767px) {
                    //     padding: 10px;
                    // } 
                    .text_bk{
                        font-size: 12px;
                        font-weight: 600;
                        position: relative;
                        @media screen and (max-width:767) {
                          font-size: 11px;
                        } 
                        &::before{
                            content: "";
                            position: absolute;
                            background: #ff00001a;
                            width: 110%;
                            height: 12px;
                            bottom: 0px;
                            #{$start}: -7px;
                            @media screen and (max-width:999px) {
                                left: -30px;
                            } 
                        }
                    }
                   
                    ul{
                        display: flex;
                        padding-bottom: 15px;
                        @media screen and (max-width:770px) {
                            flex-wrap: wrap;
                         } 
                        li{
                            font-size: 14px;
                            line-height: 28px;
                            padding: 0 10px;
                            &::before{
                                content: '.';
                                font-size: 30px;
                                display: inline-block;
                                margin-left: 5px;
                            }
                            &:first-child{
                                padding: 0 0 0 10px;
                            }
                            &:last-child{
                                padding: 0 10px 0 0;
                            }
                            @media screen and (max-width:999px) {
                               font-size: 12px;
                            } 
                            @media screen and (max-width:770px) {
                                width: calc(100% / 2);
                                padding: 0 !important;
                            } 
                        }
                    }
                   
                    a{
                        display: block;
                        background: #3a7d45;
                        // padding: 16px 0;
                        padding: 12px 0;
                        font-size: 15px;
                        // font-size: 18px;
                        color: white;
                        font-weight: 700;
                        transition: all .3s ease;
                        text-align: center;
                        &:hover{
                            background: #2d6435;
                        }
                    }
                    
                    .sec_top{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        .title{
                            // font-size: 30px;
                            font-size: 22px;
                            font-weight: 700;
                            padding: 10px 0 20px;
                            @media screen and (max-width:999px) {
                                font-size: 22px;
                                padding: 15px 0;
                            } 
                            @media screen and (max-width:767px) {
                                font-size: 18px;
                            } 
                        }
                        .price{
                            // font-size: 28px;
                            font-size: 20px;
                            font-weight: 600;
                            font-family: 'Roboto', sans-serif;
                            // position: absolute;
                            // #{$start}: 30px;
                            // top: 30px;
                            direction: ltr;
                            @media screen and (max-width:999px) {
                                font-size: 22px;
                                // padding: 20px 0;
                            } 
                            @media screen and (max-width:767px) {
                                font-size: 18px;
                            } 
                            .discount{
                                display: block;
                                font-size: 14px;
                                text-decoration: line-through;
                                font-weight: 500;
                                padding: 10px 0;
                                color: red;
                            }
                        }
                    }
                }
            }
        }
       
        .next-arrow {
            right: 50px;
            position: relative;
            position: absolute;
            top: 40%;
            cursor: pointer;
            z-index: 9;
            @include transition(all, 0.2s, ease);
            @media screen and (max-width:999px) {
                top: 25%;
            } 
            @media screen and (max-width:767px) {
                right: 20px;
            } 
            span {
                display: block;
                background: white;
                width: 56px;
                height: 56px;
                border-radius: 50px;
                @media screen and (max-width:767px) {
                    width: 40px;
                    height: 40px;
                } 
                    &::before{
                        content: "";
                        background-image: url('../img/icons/arrow_hero_slider.png');
                        background-repeat: no-repeat;
                        background-size: 20px;
                        position: absolute;
                        top: 0px;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        margin: auto;
                        width: 20px;
                        height: 20px;
                        transform: rotate(180deg);
                        @media screen and (max-width:767px) {
                            width: 16px;
                            height: 16px;
                            background-size: 16px;
                        } 
                    }
            }
            &.slick-disabled{
                opacity: .5;
            }
        }
        .prev-arrow {
            left: 50px;
            position: relative;
            position: absolute;
            top: 40%;
            cursor: pointer;
            z-index: 9;
            @include transition(all, 0.2s, ease);
            @media screen and (max-width:999px) {
                top: 25%;
            } 
            @media screen and (max-width:767px) {
                left: 20px;
            } 
            span {
                display: block;
                background: white;
                width: 56px;
                height: 56px;
                border-radius: 50px;
                @media screen and (max-width:767px) {
                    width: 40px;
                    height: 40px;
                } 
                &::before{
                    content: "";
                    background-image: url('../img/icons/arrow_hero_slider.png');
                    background-repeat: no-repeat;
                    background-size: 20px;
                    position: absolute;
                    top: 0px;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    margin: auto;
                    width: 20px;
                    height: 20px;
                    @media screen and (max-width:767px) {
                        width: 16px;
                        height: 16px;
                        background-size: 16px;
                    } 
                }
            }
            &.slick-disabled{
                opacity: .5;
            }
        }
        .slick-dots{
            position: absolute;
            bottom: 20px;
            #{$end}: 0;
            #{$start}: 0;
            top: auto;
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            z-index: 9;
            @media screen and (max-width: 999px) {
                bottom: 70px;
            }
            @media screen and (max-width: 767px) {
                bottom: 30px;
            }
            li{
              button {
                width: 10px;
                height: 10px;
                border-radius: 50px;
                background: white;
                font-size: 0;
                margin: 0 3px;
                @media screen and (max-width: 999px) {
                    width: 8px;
                    height: 8px;
                    background: black;
                }
              }
              &.slick-active{
                button {
                  background: $red;
                }
              }
            }
        }
    }  
    .section_category{
        padding: 80px 0 40px;
        @media screen and (max-width:999px) {
           padding: 0 0 40px;
        } 
        @media screen and (max-width:767px) {
            padding: 30px 0 10px;
         } 
        .section_title{
            text-align: center;
            .subtitle{
                font-size: 16px;
                font-weight: normal;
                @media screen and (max-width:767px) {
                    font-size: 14px;
                  } 
            }
            .title{
                font-size: 20px;
                font-weight: bold;
                padding-top: 15px;
                @media screen and (max-width:767px) {
                    font-size: 17px;
                } 
            }
        }
        .all_category{
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 50px;
            margin: 0 -20px;
            @media screen and (max-width:767px) {
               flex-wrap: wrap;
               padding-top: 30px;
             } 
            .single_category{
                padding: 0 20px;
                cursor: pointer;
                transition: all .3s ease;
                @media screen and (max-width:767px) {
                    padding: 10px 10px 20px;
                  } 
                img{
                    border-radius: 50%;
                    width: 200px;
                    @media screen and (max-width:767px) {
                        max-width: 120px;
                    } 
                }
                h5{
                    font-size: 16px;
                    font-weight: normal;
                    padding-top: 20px;
                    text-align: center;
                }
                &:hover{
                    h5{
                        text-decoration: underline;
                        transition: all .3s ease;
                    }
                }
            }
        }
    }
    .section_new{
        padding: 40px 0;
        @media screen and (max-width:767px) {
           padding: 40px 0 0;
          } 
        .section_title{
            text-align: center;
            .subtitle{
                font-size: 16px;
                font-weight: normal;
                @media screen and (max-width:767px) {
                    font-size: 14px;
                  } 
            }
            .title{
                font-size: 20px;
                font-weight: bold;
                padding-top: 15px;
                @media screen and (max-width:767px) {
                    font-size: 17px;
                } 
            }
        }
        .product{
            padding-top: 50px;
            .product_widget{
                width: calc(100% / 4);
                @media screen and (max-width:770px) {
                    width: calc(100% / 2);
                    padding-bottom: 14px;
                  }
                // .product_widget_box{
                //     &::before{
                //         content: '';
                //         position: absolute;
                //         background: #00000024;
                //         top: 0;
                //         bottom: 0;
                //         right: 0;
                //         left: 0;
                //         display: block;
                //         z-index: 9;
                //     }
                //     .text{
                //         z-index: 99;
                //     }
                // }
            }
        }
    }
    .section_slider_image{
        background: #f9f7f1;
        padding: 50px;
        margin: 100px 0;
        @media screen and (max-width:999px) {
            padding: 20px;
            margin: 50px 0;
            .grid{
                padding: 0;
            }
        } 
        .section_head{
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media screen and (max-width:767px) {
                display: block;
            } 
            .section_title{
                padding-bottom: 50px;
                @media screen and (max-width:999px) {
                    padding-bottom: 30px;
                } 
                h3{
                    color: #231f20;
                    font-size: 32px;
                    font-weight: bold;
                    @media screen and (max-width:999px) {
                       font-size: 20px;
                    } 
                    @media screen and (max-width:767px) {
                       font-size: 17px;
                    } 
                }
                p{
                    color: #231f20;
                    font-size: 20px;
                    font-weight: normal;
                    padding-top: 10px;
                    @media screen and (max-width:999px) {
                        font-size: 14px;
                        line-height: 23px;
                    } 
                }
            }
            .section_nav_image{
                display: flex;
                align-items: center;
                margin: 0 -5px -40px;
                @media screen and (max-width:999px) {
                  margin: 0 -5px 12px;
                } 
                @media screen and (max-width:767px) {
                   justify-content: end;
                } 
                .single_nav_img{
                    position: relative;
                    width: 60px;
                    height: 60px;
                    margin: 0 5px;
                    cursor: pointer;
                    transition: all .3s ease;
                    @media screen and (max-width:767px) {
                        width: 40px;
                        height: 40px;
                     } 

                    &::before{
                        content: '';
                        opacity: 0;
                        width: 30px;
                        height: 2px;
                        background: #ec2227;
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: -8px;
                        margin: auto;
                        transition: all .3s ease;
                    }
                    &.active{
                        margin-bottom: 15px;
                        @media screen and (max-width:999px) {
                           margin-bottom: 0;
                          } 
                        &::before{
                            opacity: 1;
                        }
                    }
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
        .section_image_hotspot{
            position: relative;
            .image_hotspot{
                position: relative;
                display: none;
                transition: all .3s ease;
                &.active{
                    display: block;
                }
                img{
                    width: 100%;
                    // height: 750px;
                }
                .single_point{
                    position: absolute;
                    width: 40px;
                    height: 40px;
                    margin: auto;
                    cursor: pointer;
                    padding: 50px;
                    @media screen and (max-width:999px) {
                       display: none;
                    } 
                    .point_icon{                       
                        .icon{
                            width: 40px;
                            height: 40px;
                            background: #ff000075;
                            border: 2px solid white;
                            border-radius: 50px;
                            display: block;
                            position: relative;
                            &::before{
                                content: '';
                                background-image: url("../img/icons/plus.png");
                                background-size: 16px;
                                background-repeat: no-repeat;
                                width: 16px;
                                height: 16px;
                                display: inline-block;
                                margin: auto;
                                position: absolute;
                                left: 0;
                                top: 0;
                                bottom: 0;
                                right: 0;
                                transition: all .4s ease;
                            }
                            &::after{
                                content: '';
                                background-image: url("../img/icons/close.png");
                                background-size: 14px;
                                background-repeat: no-repeat;
                                width: 14px;
                                height: 14px;
                                display: inline-block;
                                margin: auto;
                                position: absolute;
                                left: 0;
                                top: 0;
                                bottom: 0;
                                right: 0;
                                opacity: 0;
                                transition: all .4s ease;
                            }
                        }
                    }
                    .product_widget{
                        position: absolute;
                        width: 200px;
                        height: 200px;
                        margin: auto;
                        cursor: pointer;
                        background: white;
                        box-shadow: 0px 7px 14px 0px #00000033;
                        border-radius: 8px;
                        display: none;
                        transition: all .4s ease;  
                        .product_widget_box{
                            position: relative;
                            display: block;
                            height: 100%;
                            transition: all .3s ease;
                            &::before{
                                content: '';
                                position: absolute;
                                display: block;
                                width: 25px;
                                height: 20px;
                                background: white;
                                top: calc(100% - 1px);
                            }
                            .img{
                               
                                img{
                                    height: 100%;
                                    max-height: 140px;
                                }
                            }
                            .text{
                              position: absolute;
                              bottom: 15px;
                              right: 0;
                              left: 0;
                              display: flex;
                              justify-content: space-between;
                              align-items: center;
                              .sec_info{
                                width: 80%;
                                padding-#{$end}: 10px;
                                .title{
                                  color: #414241;
                                  font-size: 14px;
                                  display: flex;
                                  justify-content: space-between;
                                  align-items: center;
                                }
                                .price{
                                  color: #414241;
                                  font-size: 12px;
                                  padding-top: 8px;
                                }
                              }
                              .open_widget{
                                width: 20%;
                                span{
                                  display: block;
                                  max-width: 25px;
                                  height: 25px;
                                  margin: 0 auto;
                                  background: #ec2227;
                                  border-radius: 50%;
                                  position: relative;
                                  &::before{
                                    content: '';
                                    background-image: url(../img/icons/left-arrow-widget.png);
                                    background-size: 14px;
                                    background-repeat: no-repeat;
                                    width: 14px;
                                    height: 14px;
                                    position: absolute;
                                    left: 0;
                                    right: 0;
                                    top: 0;
                                    bottom: 0;
                                    margin: auto;
                                  }
                                }
                              }
                            }
                        }
                        &.right{
                            .product_widget_box{
                                &::before{
                                    right: 20px;
                                    clip-path: polygon(0 0, 100% 100%, 100% 0%, 1px 0);
                                }
                            }
                        }
                        &.left{
                            .product_widget_box{
                                &::before{
                                    left: 20px;
                                    clip-path: polygon(0 0, 0% 100%, 100% 0%, 1px 0);
                                }
                            }
                        }
                        &.active{
                            display: block;
                        }
                    }
                    &:hover{
                        .icon{
                            background: $red;
                            &::before{
                                opacity: 0;
                            }
                            &::after{
                                opacity: 1;
                            }
                        }
                    }
                }
                .text{
                    color: #231f20;
                    font-size: 13px;
                    font-weight: normal;
                    padding-top: 10px;
                    @media screen and (max-width:999px) {
                        font-size: 12px;
                     } 
                }
                .link{
                    display: block;
                    text-align: center;
                    color: $red;
                    font-size: 18px;
                    font-weight: bold;
                    border: 2px solid $red;
                    padding: 15px 10px;
                    transition: all .3s ease;
                    max-width: 250px;
                    margin-top: 30px;
                    @media screen and (max-width:999px) {
                       font-size: 12px;
                       padding: 12px 10px;
                       max-width: 200px;
                       margin-top: 20px;
                    } 
                    &:hover{
                        color: white;
                        background: $red;
                    }
                }
            }
        }
    }
    .section_offers{
        display: none;
        .all_offers{
            display: flex;
            justify-content: center;
            .single_offer{
                padding: 0 5px;
                .content{
                    text-align: center;
                    cursor: pointer;
                    display: block;
                    transition: all .3s ease;
                    p{
                        font-size: 16px;
                        line-height: 24px;
                        padding-top: 25px;
                    }
                    span{
                        display: block;
                        color: #2d728f;
                        font-size: 16px;
                        padding-top: 8px;
                    }
                    &:hover{
                        span{
                            text-decoration: underline;
                            transition: all .3s ease;
                        }
                    }
                }
            }
        }
    }
    .section_video{
        padding: 20px 0 80px;
        @media screen and (max-width:767px) {
           padding: 20px 0 30px;
        } 
        .player{
            // display: flex;
            // flex-direction: column-reverse;
            // align-items: center;
            // @media screen and (max-width:767px) {
            //     display: block;
            // } 
            .video-box {
                position: relative;
                // width: calc(100% - 300px);
                height: 600px;
                max-width: 990px;
                margin: 0 auto;
                @media screen and (max-width:767px) {
                  height: 400px;
                } 
                // &::before {
                //   content: "";
                //   display: block;
                //   padding-top: percentage(430/800);
                // }
                .bg {
                  background-repeat: no-repeat;
                  background-size: cover;
                  background-position: center;
                  position: relative;
                  position: absolute;
                  top: 0;
                  left: 0;
                  bottom: 0;
                  right: 0;
                  z-index: 3;
                  border-radius: 2px;
                  &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    background-color: #00000029;
                    opacity: 0.3;
                    z-index: 1;
                  }
                  .player {
                    width: 50px;
                    height: 50px;
                    background-size: cover;
                    position: absolute;
                    left: 47%;
                    top: 47%;
                    z-index: 2;
                    background: #ec2227;
                    border-radius: 50%;
                    @media screen and (max-width:767px) {
                        width: 30px;
                        height: 30px;
                     } 
                    &::before {
                      content: "";
                      position: absolute;
                      background-image: url(../../assets/img/icons/play-icon-white.png);
                      background-size: cover;
                      background-repeat: no-repeat;
                      background-size: 22px;
                      top: 29%;
                      left: 33%;
                      bottom: 0;
                      right: 0;
                      @media screen and (max-width:767px) {
                       background-size: 12px;
                       left: 35%;
                     } 
                    }
                  }
                }
                iframe{
                    width: 100%;
                    height: 100%;
                }
                .youtube-video {
                  position: relative;
                  position: absolute;
                  z-index: 2;
                  top: 0;
                  left: 0;
                  bottom: 0;
                  right: 0;
                  width: 100%;
                  height: 100%;
                    .videoIframe {
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        height: 100%;
                        width: 100%;
                        border-radius: 2px;
                    }
                    .ytp-chrome-top{
                        display: none !important;
                    }
                    .ytp-impression-link{
                        display: none;
                    }
                }
                &.active {
                  .bg {
                    opacity: 0;
                    pointer-events: none;
                  }
                }
            }
            .info{
                text-align: center;
                // max-width: 300px;
                // margin: 0 60px;
                // @media screen and (max-width:767px) {
                //     max-width: 100%;
                //     padding-top: 30px;
                //     margin: 0 20px;
                //   } 
                h3{
                    font-size: 32px;
                    font-weight: bold;
                    line-height: 48px;
                    @media screen and (max-width:999px) {
                        font-size: 24px;
                        line-height: 36px;
                    } 
                    @media screen and (max-width:767px) {
                       font-size: 20px;
                    } 
                }
                p{
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 36px;
                    padding: 15px 0 30px;
                    @media screen and (max-width:999px) {
                        font-size: 16px;
                        line-height: 32px;
                    } 
                    @media screen and (max-width:767px) {
                       font-size: 14px;
                       line-height: 26px;
                       padding: 5px 0 20px;
                    } 
                }
             
            }
        }
        a{
            display: block;
            border: 2px solid #ec2227;
            color: #ec2227;
            font-size: 18px;
            font-weight: bold;
            transition: all .3s ease;
            padding: 12px 0;
            text-align: center;
            max-width: 300px;
            margin: 25px auto 0;
            &:hover{
                background: #da1c1f;
                color: white;
            }
        }
    }
    .section_bk{
        background: #f9f7f1;
        position: relative;
        margin-top: 50px;
        .section_new{
            padding: 40px 0;
            @media screen and (max-width:767px) {
               padding: 40px 0 0;
              } 
            .section_title{
                text-align: center;
                .subtitle{
                    font-size: 16px;
                    font-weight: normal;
                    @media screen and (max-width:767px) {
                        font-size: 14px;
                      } 
                }
                .title{
                    font-size: 20px;
                    font-weight: bold;
                    padding-top: 15px;
                    @media screen and (max-width:767px) {
                        font-size: 17px;
                    } 
                }
            }
            .product{
                padding-top: 50px;
                .product_widget{
                    width: calc(100% / 4);
                    @media screen and (max-width:770px) {
                        width: calc(100% / 2);
                        padding-bottom: 14px;
                      }
                    // .product_widget_box{
                    //     &::before{
                    //         content: '';
                    //         position: absolute;
                    //         background: #00000024;
                    //         top: 0;
                    //         bottom: 0;
                    //         right: 0;
                    //         left: 0;
                    //         display: block;
                    //         z-index: 9;
                    //     }
                    //     .text{
                    //         z-index: 99;
                    //     }
                    // }
                }
            }
        }
    } 
}