.style_page_form{
    position: relative;
    padding: 60px 0;
    @media screen and (max-width:770px) {
       padding: 30px 0;
     }
    .grid{
        max-width: 1200px;
        margin: 0 auto;
        z-index: 9;
        position: relative;
        .section_title{
            img{
                width: 50px;
                @media screen and (max-width:770px) {
                   width: 30px;
                  }
            }
            h1{
                color: #000000;
                font-size: 48px;
                font-weight: bold;
                padding: 15px 0;
                // text-align: center;
                @media screen and (max-width:770px) {
                   font-size: 24px;
                   padding: 8px 0 20px;
                  }
            }
            &.career{
                text-align: center;
                p{
                    padding: 12px 0 0;
                }
            }
        }
        .content{
            
            h2{
                font-size: 20px;
                padding-bottom: 5px;
                @media (max-width:770px) {
                    font-size: 16px;
                }
            }
            h3{
                font-size: 18px;
                padding-bottom: 5px;
                @media (max-width:770px) {
                    font-size: 14px;
                }
            }
            h4{
                font-size: 16px;
                padding-bottom: 5px;
                @media (max-width:770px) {
                    font-size: 12px;
                }
            }
            h5{
                font-size: 14px;
                padding-bottom: 5px;
                @media (max-width:770px) {
                    font-size: 12px;
                }
            }
            h6{
                font-size: 12px;
                padding-bottom: 5px;
                @media (max-width:770px) {
                    font-size: 12px;
                }
            }
            p{
                color: #414241;
                font-size: 14px;
                line-height: 30px;
                font-weight: 500;
                @media (max-width:770px) {
                    font-size: 12px;
                    line-height: 25px;
                }
            }
            img{
                display: block;
                width: 100%;
            }
            strong{
                font-weight: 700;
            }
            a{
                display: inline-block;
                color: #2075ff;
                &:hover{
                    text-decoration: underline;
                }
            }
            ul,
            ol {
              li {
                padding-right: 15px;
                position: relative;
                font-size: 14px;
                line-height: 28px;
                color: #121212;
                @media screen and (max-width:770px) {
                    font-size: 12px;
                    padding-#{$end}: 12px;
                    padding-bottom: 0;
                  } 
                &::before {
                  content: "";
                  position: absolute;
                  right: 0;
                  width: 8px;
                  height: 8px;
                  background-color: $red;
                  top: 9px;
                  border-radius: 50%;
                  @media screen and (max-width:770px) {
                    width: 5px;
                    height: 5px;
                    top: 10px;
                   } 
                }
              }
            }
            table{
                border: 1px solid #e3e1e1;
                margin: 25px 0;
                @media screen and (max-width:770px) {
                   margin: 15px 0;
                } 
                tr{
                    th{
                        font-size: 14px;
                        border-bottom: 1px solid #e3e1e1;
                        padding: 15px;
                        text-align: right;
                        font-weight: 700;
                        @media screen and (max-width:770px) {
                            font-size: 10px;
                            padding-bottom: 10px;
                        } 
                    }
                    td{
                        font-size: 14px;
                        border-bottom: 1px solid #e3e1e1;
                        padding: 15px;
                        font-weight: 400;
                        @media screen and (max-width:770px) {
                            font-size: 10px;
                            padding-bottom: 10px;
                        } 
                    }
                    &:last-child{
                        td{
                            border-bottom: 0;
                        }
                    }
                }
            }
        }
        .page_faq{
            .section_title{
                h1{
                    text-align: #{$end};
                }
            }
            .faq_content{
                display: flex;
                padding-top: 30px;
                @media screen and (max-width:770px) {
                   flex-wrap: wrap;
                   padding-top: 0;
                } 
                .nav_menu{
                    width: 160px;
                    max-height: 206px;
                    background: black;
                    padding: 25px;
                    display: none;
                    @media screen and (max-width:770px) {
                        width: 100%;
                    } 
                    .nav_single_title{
                        display: block;
                        color: white;
                        font-size: 16px;
                        font-weight: bold;
                        line-height: 24px;
                        padding-bottom: 20px;
                        &:last-child{
                            padding-bottom: 0;
                        }
                        &.active{
                            color: $red;
                        }
                    }
                }
                .section_faq{
                    width: calc(100% - 160px);
                    // padding-#{$end}: 40px;
                    padding-bottom: 50px;
                    @media screen and (max-width:770px) {
                        width: 100%;
                        padding-#{$end}: 0;
                        // padding-top: 35px;
                    } 
                    .single_faq{
                        display: none;
                        &.active{
                            display: block;
                        }
                        .faq{
                            border-bottom: 10px solid #a7aaac4d;
                            padding: 40px 0;
                            @media screen and (max-width:770px) {
                                padding: 20px 0;
                            } 
                            &:first-child{
                                padding: 0 0 40px;
                                @media screen and (max-width:770px) {
                                    padding: 0 0 20px;
                                } 
                            }  
                            &:last-child{
                                padding: 40px 0 0;
                                border-bottom: 0;
                                @media screen and (max-width:770px) {
                                    padding: 20px 0 0;
                                } 
                            }   
                            .question{
                                color: #414241;
                                font-size: 21px;
                                font-weight: bold;
                                line-height: 33px;
                                padding-bottom: 15px;
                                @media screen and (max-width:770px) {
                                  font-size: 16px;
                                  padding-bottom: 8px;
                                } 
                            }   
                             p{
                                color: #414241;
                                font-size: 16px;
                                font-weight: normal;
                                line-height: 30px;
                                @media screen and (max-width:770px) {
                                    font-size: 14px;
                                } 
                             }                   
                        }
                    }
                }
            }
        }
        .section_career{
            padding-top: 35px;
            .single_career{
                margin-bottom: 20px;
                background: #f6f6f6;
                border-radius: 4px;
                &.active{
                    .title_career{
                        color: $red;
                        &::after{
                            content: 'remove';
                            color: $red;
                        }
                    }
                    .career{
                        display: block;
                    }
                }
                .title_career{
                    color: #414241;
                    font-size: 17px;
                    font-weight: bold;
                    line-height: 22px;
                    display: flex;
                    justify-content: space-between;
                    padding: 20px 24px 18px;
                    cursor: pointer;  
                    &::after{
                        content: 'add';
                        @include MaterialFamily;
                        font-size: 20px;
                        color: black;
                        font-weight: bold;
                    }
                }
                .career{
                    display: none;
                    padding: 0 16px 16px;
                    max-width: 900px;
                    strong{
                        color: #3A7D44;
                        font-weight: 600;
                        padding-top: 20px;
                        letter-spacing: .5px;
                        display: block;
                    }
                }
            }
        }
        .policy_page{
            padding-top: 40px;
            .min_box{
                padding: 30px 0;
                @media screen and (max-width:770px) {
                   padding: 20px 10px;
                } 
                h3{
                    color: #555555;
                    font-weight: bold;
                }
            }
        }
    }
    .policy_page{
        display: block;
        .section_title{
            h1{
                text-align: #{$end};
            }
        }
        .internal_container{
            display: flex;
            padding-top: 30px;
            @media screen and (max-width:770px) {
               flex-wrap: wrap;
               padding-top: 10px;
            } 
            .nav_menu{
                width: 300px;
                max-height: 290px;
                background: black;
                padding: 25px;
                @media screen and (max-width:770px) {
                    width: 100%;
                    padding: 15px;
                } 
                .nav_single_title{
                    display: block;
                    color: white;
                    font-size: 16px;
                    font-weight: bold;
                    line-height: 24px;
                    padding-bottom: 20px;
                    @media screen and (max-width:770px) {
                      font-size: 12px;
                      padding-bottom: 8px;
                     } 
                    &:last-child{
                        padding-bottom: 0;
                    }
                    &.active{
                        color: $red;
                    }
                }
            }
            .left{
                width: calc(100% - 160px);
                padding-#{$end}: 40px;
                padding-bottom: 50px;
                @media screen and (max-width:770px) {
                    width: 100%;
                    padding-#{$end}: 0;
                    padding-top: 35px;
                } 
            }
        }
    }
    .section_career{
        .content{
            .section_info{
                .inline{
                    display: flex;
                    align-items: center;
                    padding-bottom: 5px;
                    column-gap: 10px;
                    img{
                        width: 15px;
                        height: 15px;
                    }
                }
            }
        }
    }
}