#btn-generate{
    display: flex;
    align-items: center;
    border: 2px solid $red;
    color: $red;
    padding: 8px 20px;
    margin: 0 auto 20px 25px;
    font-size: 14px;
    font-weight: 600;
    @include transition(0.2s);
    @media screen and (max-width: 1090px) {
        margin: 0 auto 20px 0;
    }
    &::before{
        content: 'print';
        @include MaterialFamily;
        @include transition(0.2s);
        color: $red;
        font-size: 18px;
        font-weight: 100;
        margin-#{$start}: 5px;
    }
    &:hover{
        background: $red;
        color: white;
        &::before{
            color: white;
        }
    }
}
.thanks_page{
    max-width: 1010px;
    margin: 0 auto;
    .section_head{
        background: rgba(58,125,68,0.09);
        padding: 20px;
        .check_circle_outline{
           &::before{
            content: 'check_circle_outline';
            @include MaterialFamily;
            color: green;
            font-size: 40px;
            @media screen and (max-width: 767px) {
                font-size: 25px;
              }
           }
        }
        .title{
            font-size: 28px;
            letter-spacing: 0.5px;
            line-height: 54px;
            @media screen and (max-width: 767px) {
              font-size: 18px;
              line-height: 35px;
            }
        }
        .subtitle{
            color: #121212;
            font-size: 16px;
            line-height: 28px;
            @media screen and (max-width: 767px) {
                font-size: 14px;
                line-height: 20px;
              }
        }
    }
    .section_thanks_page{
        padding-top: 30px;
        @media screen and (max-width: 767px) {
            display: flex;
            flex-direction: column;
          }
        .left{
            width: 350px;
            display: inline-block;
            padding-#{$end}: 30px;
            @media screen and (max-width: 999px) {
               width: 100%;
               padding-#{$end}: 0;
            }
           
            .desc{
                color: #231F20;
                font-size: 12px;
                font-family: 300;
                letter-spacing: 0;
                line-height: 24px;
            }
            .track_order{
                width: 200px;
                background: rgb(35, 31, 32);
                display: block;
                color: rgb(255, 255, 255);
                font-size: 14px;
                font-weight: normal;
                text-transform: uppercase;
                letter-spacing: 0.44px;
                text-align: center;
                padding: 15px 0;
                margin-top: 15px;
            }
            .woocommerce-customer-details{
                width: 100%;
                padding: 30px;
                border: 1px solid #E3E3E3;
                border-radius: 8px;
                background-color: #FFFFFF;
                h4{
                    font-size: 18px;
                    font-weight: 400;
                    padding-bottom: 15px;
                }
                .row{
                    padding-bottom: 25px;
                    &:last-child{
                        padding-bottom: 0;
                    }
                    label{
                        color: black;
                        font-size: 12px;
                        line-height: 22px;
                        font-weight: 900;
                        padding-bottom: 12px;
                    }
                    p{
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 21px;   
                        padding-bottom: 8px;              
                    }
                }
            }
            .thanks_grid{
                background: rgb(248, 237, 235);
                padding: 35px;
                margin: 20px 0;
                @media screen and (max-width: 479px) {
                    padding: 20px 30px;
                 }
                .section_congratulations{
                    .top{
                        display: flex;
                        align-items: center;
                        border-bottom: 1px solid #e6d4d0;
                        padding-bottom: 20px;
                        @media screen and (max-width: 479px) {
                            flex-direction: column-reverse;
                            align-items: flex-start;
                         }
                        .text{
                            width: calc(100% - 100px);
                            @media screen and (max-width: 479px) {
                               width: 100%;
                             }
                            h3{
                                color: rgb(202, 67, 35);
                                font-size: 18px;
                                font-weight: 600;
                                letter-spacing: 0.45px;
                                @media screen and (max-width: 479px) {
                                    font-size: 14px;
                                    padding-top: 6px;
                                 }
                            }
                            p{
                                color: rgb(35, 31, 32);
                                font-size: 13px;
                                font-weight: 500;
                                line-height: 20px;
                                padding-top: 15px;
                                @media screen and (max-width: 479px) {
                                    font-size: 11px;
                                    line-height: 18px;
                                    padding-top: 8px;
                                 }
                            }
                        }
                        .icon{
                            width: 100px;
                            @media screen and (max-width: 479px) {
                                width: 60px;
                             }
                        }
                    }
                    .bottom{
                        padding-top: 23px;
                        p{
                            color: rgb(101, 101, 101);
                            font-size: 12px;
                            font-weight: 500;
                            line-height: 20px;
                            padding-bottom: 20px;
                        }
                        form{
                            .form{
                                display: flex;
                                input{
                                    height: 50px;
                                    background: rgb(255, 255, 255);
                                    border: 1px solid rgb(108, 117, 125);
                                    border-radius: 0px;
                                    padding: 0 15px;
                                    width: calc(100% - 180px);
                                    @media screen and (max-width: 479px) {
                                        height: 40px;
                                        font-size: 10px;
                                     }
                                }
                                .button_form{
                                    width: 180px;
                                    background: rgb(18, 18, 18);
                                    font-size: 16px;
                                    line-height: 44px;
                                    text-align: center;
                                    color: white;
                                    display: block;
                                    margin-left: 15px;
                                    @media screen and (max-width: 479px) {
                                        width: 100px;
                                        font-size: 12px;
                                        line-height: 40px;
                                        margin-left: 10px;
                                     }
                                }
                            }
                        }
                    }
                    .bottom_login{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        @media screen and (max-width:400px) {
                           flex-direction: column;
                           align-items: flex-start;
                        }
                        p{
                            color: rgb(18, 18, 18);
                            font-size: 18px;
                            font-weight: 600;
                            letter-spacing: 0.45px;
                            @media screen and (max-width:770px) {
                                font-size: 14px;
                            }
                            @media screen and (max-width:400px) {
                               padding-bottom: 15px;
                            }
                        }
                        .checkout-login{
                            width: 150px;
                            font-size: 14px;
                            background: #231f20;
                            font-weight: 500;
                            text-align: center;
                            color: white;
                            padding: 13px 0;
                            @media screen and (max-width:770px) {
                                width: 120px;
                                font-size: 12px;
                                padding: 10px 0;
                            }
                        }
                    }
                }
                .section_gift{
                    .top{
                        display: flex;
                        align-items: center;
                        @media screen and (max-width: 479px) {
                            flex-direction: column-reverse;
                            align-items: flex-start;
                         }
                        .text{
                            width: calc(100% - 100px);
                            padding-right: 50px;
                            @media screen and (max-width: 479px) {
                                width: 100%;
                                padding-right: 0;
                              }
                            h3{
                                color: rgb(18, 18, 18);
                                font-size: 18px;
                                font-weight: 600;
                                letter-spacing: 0.45px;
                                @media screen and (max-width: 479px) {
                                    font-size: 14px;
                                    padding-top: 6px;
                                 }
                            }
                            p{
                                color: rgb(101, 101, 101);
                                font-size: 12px;
                                font-weight: 500;
                                padding: 8px 0 20px;
                                @media screen and (max-width: 479px) {
                                    font-size: 11px;
                                    line-height: 18px;
                                    padding-top: 8px;
                                 }
                            }
                            form{
                                .form{
                                    display: flex;
                                    input{
                                        height: 50px;
                                        font-size: 14px;
                                        background: rgb(255, 255, 255);
                                        border: 1px solid rgb(108, 117, 125);
                                        width: calc(100% - 120px);
                                        padding: 0 15px;
                                        background-image: url(../img/icons/calendar.png);
                                        background-repeat: no-repeat;
                                        background-size: 18px;
                                        background-position: calc(100% - 10px);
                                        @media screen and (max-width: 479px) {
                                            height: 40px;
                                            font-size: 10px;
                                            background-size: 12px;
                                            line-height: 40px;
                                         }
                                    }
                                    input[type="date"]::-webkit-inner-spin-button,
                                    input[type="date"]::-webkit-calendar-picker-indicator {
                                        // display: none;
                                        // -webkit-appearance: none;
                                        opacity: 0;
                                        width: 100%;
                                        position: absolute;
                                        left: 0;
                                        right: 0;
                      
                                    }
                                    .button_form{
                                        width: 120px;
                                        background: rgb(18, 18, 18);
                                        font-size: 16px;
                                        line-height: 44px;
                                        text-align: center;
                                        color: white;
                                        display: block;
                                        margin-left: 15px;
                                        @media screen and (max-width: 479px) {
                                            width: 100px;
                                            font-size: 12px;
                                            line-height: 40px;
                                            margin-left: 10px;
                                         }
                                    }
                                }
                            }
                        }
                        .icon{
                            width: 100px;
                            @media screen and (max-width: 479px) {
                                width: 60px;
                             }
                        }
                    }
                }
            }
        }
        .order_review-content {
            width: calc(100% - 360px);
            display: inline-block;
            vertical-align: top;
            @media screen and (max-width: 999px) {
                width: 100%;
                padding-bottom: 40px;
             }
            #order_review_thanks {
                .order-title{
                    padding-bottom: 15px;
                    border-bottom: 1px solid #007fa838;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    h3{
                        color: #00AB84;
                        font-size: 18px;
                        font-weight: 600;
                        line-height: 27px;
                        span{
                            display: block;
                            font-size: 12px;
                            font-weight: 300;
                            line-height: 24px;
                            color: #231f20;
                        }
                    }
                    a{
                        display: block;
                        color: #00AB84;
                        font-size: 12px;
                        font-weight: 600;
                        line-height: 27px;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
                .shop_table {
                    padding: 0;
                    border: none;
                    text-align: #{$end};
                    margin: 0;
                    position: relative;
                    tbody{
                        display: table-caption;
                        padding: 25px 0 0;
                        margin-bottom: 20px;
                    }
                    tfoot {
                        border-top: 1px solid #007fa838;
                        // display: flex;
                        // justify-content: space-between;
                        tr.cart-subtotal{
                            th,td{
                                padding-top: 12px !important;
                            }
                        }
                        tr.cart-shipping{
                            th,td{
                                padding-bottom: 10px;
                            }
                        }
                        tr.order-total {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            width: 100%;
                            padding-top: 20px;
                            // position: absolute;
                            // bottom: -48px;
                            th,
                            td {
                                // border-top: 1px solid #e4e4e4;
                                font-weight: 700;
                                font-size: 18px;
                                vertical-align: top;
                                background-color: transparent;
                                padding-top: 12px;
                                color: #121212;
                            }
                            th{
                                font-size: 14px !important;
                                font-weight: normal;
                                text-transform: uppercase;
                            }
                        }
                        th {
                            text-align: left;
                            border: none;
                            font-size: 12px;
                            font-weight: 600;
                            color: #6c707d;
                            padding: 6px 0 !important;
                            background-color: transparent;
                            vertical-align: middle;
                        }
                        td {
                            border: none;
                            text-align: right;
                            font-size: 12px;
                            padding: 6px 0 !important;
                            color: #121212;
                            font-weight: 500;
                            .woocommerce-Price-amount.amount{
                                color: #000 !important;
                            }
                            .includes_tax {
                                display: none;
                            }
                        } 
                    }
                    tr.cart_item {
                        display: block;
                        width: 100%;
                        // height: 370px;
                        min-height: 300px;
                        overflow: scroll;
                        @media screen and (max-width: 999px) {
                            min-height: 100%;
                         }
                        &::-webkit-scrollbar {
                            display: none;
                        }
                        td{
                            width: 100%; 
                            display: block;
                            padding:  25px 0;
                            border-top: 1px solid #e3e3e3;
                            line-height: normal;
                            background-color: transparent;
                            &:first-child{
                                border-top: 0;
                                padding: 0 0 25px;
                            }
                            &:last-child{
                                padding: 25px 0 0px;
                            }
                        }
                       
                        td{
                           
                        }
                       
                        // td {
                        //     width: 100%;      
                        //     // border: none;
                          
                        // }
                    }
                    .product-thumb-name {
                        display: flex;
                        padding: 0;
                        font-size: 0;
                        align-items: flex-start;
                        img {
                            display: block;
                            // width: 70px;
                            float: none;
                            margin: 0;
                            height: auto;
                            @media screen and (max-width: 767px) {
                               width: 200px;
                            }
                        }
                        .product-name-container {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-between;
                            width: calc(100% - 70px);
                            padding-#{$end}: 20px;
                            position: relative;
                            .right{
                                width: 50%;
                                .product-title {
                                    margin-bottom: 0;
                                    text-decoration: none;
                                    font-size: 12px;
                                    color: #000;
                                    font-weight: 600;
                                    line-height: 20px;
                                }
                                .variation {
                                    padding: 0;
                                    border: none;
                                    margin-top: 4px;
                                    display: inline-block;
                                    vertical-align: middle;
                                    dt,
                                    dd {
                                        font-weight: 400;
                                        font-size: 10px;
                                        color: #4F4F4F;
                                        padding: 0;
                                        display: inline-block;
                                        float: none;
                                        margin: 0;
                                        line-height: 12px;
                                        // color: $Gray;
                                        p {
                                            font-size: inherit;
                                        }
                                    }
                                    dt~dt {
                                        margin-#{$end}: 4px;
                                        border-#{$end}: 1px solid;
                                        padding-#{$end}: 8px;
                                    }
                                    dd {
                                        padding-#{$end}: 3px;
                                    }
                                }
                                .single-price{
                                    padding-top: 40px;
                                    span{
                                        display: block;
                                        font-size: 12px;
                                        font-weight: 400;
                                        color: #6C707D;
                                        padding-bottom: 5px;
                                    }
                                    bdi{
                                        color: black;
                                        font-weight: 600;
                                        font-size: 16px;
                                        .woocommerce-Price-currencySymbol{
                                            display: inline-block;
                                            color: black;
                                            font-weight: 600;
                                            font-size: 16px;
                                        }
                                    }
                                }
                            }
                            .left{
                                width: 50%;
                                text-align: #{$end};
                                display: flex;
                                justify-content: space-between;
                                @media screen and (max-width: 767px) {
                                   flex-direction: column;
                                   align-items: flex-end;
                                }
                                .woocommerce-Price-amount.amount {
                                    color: black;
                                    font-size: 14px;
                                    font-weight: 600;
                                    span{
                                        display: block;
                                        font-size: 12px;
                                        font-weight: 400;
                                        color: #6C707D;
                                        padding-bottom: 5px;
                                    }
                                    bdi{
                                        font-size: 16px;
                                        .woocommerce-Price-currencySymbol{
                                            display: inline-block;
                                            color: black;
                                            font-weight: 600;
                                            font-size: 16px;
                                        }
                                    }
                                }
                            }
                            .product-quantity {
                                width: 20%;
                                font-size: 10px;
                                display: inline-block;
                                vertical-align: middle;
                                line-height: 10px;
                                margin-top: 4px;
                                span{
                                    font-size: 18px;
                                    font-weight: 800;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}