.page_wishlist{
    .list_content{
        padding: 50px 0;
        .wishlist{
            max-width: 1000px;
            margin: 0 auto;
            .section_title{
                text-align: center;
                h2{
                  color: #414241;
                  font-size: 38px;
                  font-weight: bold;
                  padding: 20px 0 40px;
                    @media screen and (max-width:770px) {
                        font-size: 22px;
                        padding: 15px 0 25px;
                    }
                }
            }
            .product_container{
                .emty_wishlist{
                    position: relative;
                    height: 200px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: #f6f4ed;
                    margin-top: 40px;
                    P{
                        color: #af9854;
                        text-align: center;
                        font-size: 18px;
                        width: 100%;
                        font-weight: 600;
                    }
                }
                .products_list{
                  .product_widget{
                    width: calc(100% / 3);
                    padding: 0 7px 14px;
                    @media screen and (max-width:770px) {
                        width: calc(100% / 2);
                    }
                    // .wishlist_remove{
                    //     font-size: 13px;
                    //     position: absolute;
                    //     color: #000104;
                    //     top: 10px;
                    //     left: 5px;
                    //     cursor: pointer;
                    //     pointer-events: none; 
                    //     display: flex;
                    //     align-items: end;
                    //     span{
                    //         font-size: 18px;
                    //     }
                    // }
                    .favourite{
                        position: absolute;
                        top: 0;
                        #{$start}: 15px; 
                      }
                     
                    .product_widget_box{
                        position: relative;
                        &::before{
                            display: none;
                        }
                        
                    }
                  }
                }
              }
          
        }
    }
}